[2018-06-20 12:24] haakonnessjoen opened #84 "Module Request: Generic TCP/UDP module"
A module for easily sending strings over tcp or udp.

It should have option for closing tcp connections for each action, or if it should keep it alive.

String input should have support for escape tags like \x00 etc, for mimicking binary protocols.

[2018-06-22 19:19] cxselph opened #81 "Module Request: MIDI Module"
**Describe the feature**
I would love a MIDI module that uses Mac OS X midi network/iac module or rtpmidi on a pc to send midi commands locally or over the network.

Midi Note On/Midi Note Off
Channel/Note/Intensity

Choose connection based on settings in Audio Midi Setup for OS X and similar from pc.
<img width="735" alt="screen shot 2018-06-22 at 3 18 42 pm" src="https://user-images.githubuserco

[2018-09-10 14:36] redrhino opened #67 "Module Request: Datapath FX4"
Assign Input "POST" Commands via JSON to set the current active Datapath FX4 Input. E.G. HDMI, HDMI 2, DisplayPort.

**Describe the feature**
A clear and concise description of what the feature does.

Send a JSON POST command via HTTP web client over a network to a Datapath FX4.
Recall PreferredInput.cgx from Streamdeck buttons.
Have three inputs active on the FX4 to be recalled from three buttons

[2018-09-18 10:32] SalkinDK opened #66 "Module Request: Hippotizer"
I would like to request a module for Green-Hippo Hippotizer.

Maybe this link can be helpful:
https://www.green-hippo.com/manual/hippotizer-v4/4.4.0/en/topic/tcp-listener

thx in advance

[2018-10-03 04:43] clementcle85 opened #85 "Pangolin Beyond"
**Describe the feature**
A clear and concise description of what the feature does
Professional laser and multimedia software
**Is this platform dependent (windows, mac, ..)?**
Explain
Windows
**If documentation is required to implement, do you know where to find it?**
If applicable, add screenshots, protocol description PDFs, etc to help the developers along
[BEYOND OSC in BEYOND.pdf](https://gith

[2018-10-08 01:52] monoxane opened #64 "Module Request: Mediashout"
**Describe the feature**
Control for Mediashout without octopus

**Is this platform dependent (windows, mac, ..)?**
No

**If documentation is required to implement, do you know where to find it?**
It's apparently powerpoint compatible, I'll just Wireshark the remote app anyway because documentation is lacking to say the least...

**Usecases**
Churches use Mediashout a lot and I want to make more m

[2018-11-15 13:50] NadBox opened #82 "Commands for Blackmagic Media Express"
**Describe the feature**
I would like to control Blackmagic Media Express to start and end the capture.
Also, it would be great if I can "up and down" the additional information such as Reel, scene, takes. It would be an extra to control which audio is selected in the log and capture tab.

**Is this platform dependent (windows, mac, ..)?**
This plateform is on MAC and Windows

**If documentation i

[2018-12-04 10:34] Rahulhasmail opened #54 "Module request: NovaStar J6"
**Layout/Preset Switching**
it is the combination of 6 Windows/Layes,
each one carries different input/size and resolution and aspect ratio

**this equipment has software control works on(windows & mac)

**software has easy user interface

[2018-12-04 21:12] hadphild opened #86 "Running AppleScript"
Could we get AppleScript running.

Would be great to get iTunes controlled?

[2018-12-12 11:01] ghost opened #53 "Module Request: Combiwave control"
**Describe the feature**
I use Combiwave to play audio for live events. I need to be able to trigger multiple machines running combiwave. As a basic feature Combiwave uses the keyboard as hotkeys to play the relevant audio track so I need to send keyboard commands over TCP to the windows machines.
In particular the return key is play, space bar is stop and up and down arrows select the audio. That

[2019-01-04 16:12] hadphild opened #50 "Module Request: NEC Display"
**Describe the feature**
NEC Display Module

**Is this platform dependent (windows, mac, ..)?**
Module

**If documentation is required to implement, do you know where to find it?**
https://www.necdisplay.com/documents/UserManuals/P402-P462-P552_UserManual.pdf

**Usecases**
For installation to be able to turn off and on.
Change Input setting if using as a BASIC switcher
[P402-P462-P552-UserManual-e

[2019-01-09 13:27] HaroldvanDieren opened #49 "Module Request: MimoLive"
Describe the feature
Mimolive - video engine midule

Is this platform dependent (windows, mac, ..)?
Module

If documentation is required to implement, do you know where to find it?
https://docs.mimo.live/docs/endpoints

Usecases
Turn Layers on or Off

[2019-01-19 12:07] SalkinDK opened #46 "Module request: Tvone Scaler Control"
**Describe the feature**
Remote control of the Tvone Corio2 scalers and switchers http://www.tvone.com/video-switchers

**Is this platform dependent (windows, mac, ..)?**
no, remote control via ip possible

**If documentation is required to implement, do you know where to find it?**
http://www.tvone.com/filestore/Manuals-CORIO-Products/tvONE%20C2-2x55%20Remote%20Control%20Specification%20V1.2.pdf

[2019-01-22 02:43] Guillemete opened #307 "PowerPoint OSC Module"
**Describe the feature**
receive osc from A simple osc powerpoint plugin to show the presentation page number

**Is this platform dependent (windows, mac, ..)?**
the plugin is windows only

**If documentation is required to implement, do you know where to find it?**
https://github.com/benkuper/PowerPoint-OSC

**Usecases**
could be usefull for the client or other tech that cant see the computer and

[2019-02-10 01:20] Carlofornasari opened #75 "Module request: AV Stumpfl Wings & Pixera"
**Describe the feature**
Module to control media server "Pixera" and "Wings" by company AV Stumpfl
Pixera is the new software being released this month replacing the older Wings software

**Is this platform dependent (windows, mac, ..)?**
Pixera and wings runs on a cut down version of windows.

**If documentation is required to implement, do you know where to find it?**
I am struggling to get a wo

[2019-02-14 00:17] blitzkrieggold opened #44 "Module Request: Sharp TV Control"
**Describe the feature**
Control of a Sharp TV. Source selection, channel selection, volume control.

**Is this platform dependent (windows, mac, ..)?**
No

**If documentation is required to implement, do you know where to find it?**
This is a clip from the manual of a Sharp pn-le701 display containing the commands needed to control the tv.
[SharpTVcommands.pdf](https://github.com/bitfocus/compani

[2019-02-17 10:58] Twilly1126 opened #43 "Module request: Dexonsystem 8x4 4K HDBaseT Seamless Matrix Switcher"
**Describe the feature:**
Module request for control of the Dexonsystem 8x4 4K HDBaseT Seamless Matrix Switcher.

**Is this platform dependent (windows, mac, ..)?**
Yes -Windows

If documentation is required to implement, do you know where to find it?
Attached is the User manual with EXTERNAL PROGRAMMING in section 4.

**Use cases:**
[Manual_8_DIMAX804KC_UsersManual_3.2.1_2018.8.21.pdf](https://gi

[2019-02-23 02:32] estahlhammer opened #42 "RME TotalMix Control"
**Describe the feature**
I would like to be able to control RME devices via RME's TotalMix
**Is this platform dependent (windows, mac, ..)?**
MultiPlatform

**If documentation is required to implement, do you know where to find it?**
The OSC implementation is in the help documents in the program

**Usecases**
RME is used for system tuning, playback and recording by audio people everywhere

I'd lik

[2019-03-04 23:32] jsuofga opened #41 "Module request: Octava PRO DSX Video Over IP"
**Describe the feature**
Please kindly add the Octava PRO DSX Video Over IP to the Equipment List for Companion

**Is this platform dependent (windows, mac, ..)?**

**If documentation is required to implement, do you know where to find it?**
Here is the API commands
https://octavainc.com/wp-content/uploads/installation-guide/prodsx/PRO-DSX_Matrix_API_111218.pdf

**Usecases**
The Octava is a Video

[2019-03-21 17:24] rolandfoucher opened #39 "Module request: GEFEN DVI Matrix"
**Describe the feature**
16x16 GEF-DVI-16416-PB
8x8 GEF-DVIKVM-848DL-PB

DVI matrix gefen (UDP and Telnet for the 16x16 // Telnet for the 8x8)

**Is this platform dependent (windows, mac, ..)?**
This platform is web based

**If documentation is required to implement, do you know where to find it?**
Yes
https://www.comm-tec.de/de/bilder-und-dateien/artikel/gef-dvi-16416-pb.pdf
https://www.eavs-grou

[2019-03-23 01:40] chrisrouse opened #74 "Support for Kramer VS-41H HDMI switcher"
This request is coming via the ProPresenter forums. One of our users requested support for TCP, but it would be a long time coming, if ever. Since it's possible to trigger Companion indirectly with MIDI, I'd rather see the module here and then help him control Companion.

He provided a link to a Python script that works: https://github.com/UbiCastTeam/kramer-python-control/blob/master/kramer_switc

[2019-04-10 23:49] mikesmithdudeman opened #531 "Module Request: For-A Hanabi HVS-100/110 Switcher"
These switchers have become extremely popular in the Live video world, because they are great as both a small production switcher and a multi-destination screen switcher.  They have a fantastic little web server in them as well, though I don't know if that would enable html commands or maybe webhooks or something like that.

Currently, there is no documentation by For-A for any other IP-based cont

[2019-04-13 22:02] KeithBrews opened #30 "Module Request: HIVE Industries Soft Countdown Control"
**Describe the feature**
Integrate USB control of Hive Industries Soft Countdown Control along with Indicator Light control

**Is this platform dependent (windows, mac, ..)?**
No

**If documentation is required to implement, do you know where to find it?**
If applicable, add screenshots, protocol description PDFs, etc to help the developers along

**Usecases**
Would allow integration of HIVE Timin

[2019-04-25 23:47] djrappa opened #25 "Module Request: Pixera"
Support for AV Stumpfl Pixera control.
There is an API available I can provide or put you in touch with the developers if required.

Thanks

[2019-05-02 20:57] Ckhallas opened #24 "Module Request: AVProconnect AC-MX1616-AUHD"
Hi.

Is it possible to get a module, that supports this HDMI Router?

I would like basic routing of the matrix.
I dosnt do presets, but the option of doing a salvo for all of the input/output would be nice also.

https://www.avproedge.com/ac-mx1616-auhd.html

**Describe the feature**
A clear and concise description of what the feature does

**Is this platform dependent (windows, mac, ..)?**
Explai

[2019-05-06 21:34] wstowe opened #23 "Module Request: ETC EOS"
**Describe the feature**
Basically the same function as the GrandMA module, but for ETC EOS lighting consoles. Ability to send predetermined commands would essentially allow full operation of the board, just like the GrandMA module.

**Is this platform dependent (windows, mac, ..)?**

**If documentation is required to implement, do you know where to find it?**
https://www.etcconnect.com/workarea/D

[2019-05-19 17:10] larskmann opened #34 "Generic TCP for BSS Soundweb"
**Describe the feature**
I know you dont like generic modules, but being able to control BSS soundweb devices needs the ability for free tcp strings. Thats because the programming of a BSS is always unique and wont be able to be modulized.

**Is this platform dependent (windows, mac, ..)?**
No

**If documentation is required to implement, do you know where to find it?**
Not needed.

**Usecases**
B

[2019-05-20 21:00] Sade66 opened #35 "Boxcast Module"
**Describe the feature**
A Boxcast module that could connect to and interact with a Boxcast account would be super helpful. Some uses could include the ability to stop a current stream or have button color feedback based on whether or not a Boxcast device is live or not.

**If documentation is required to implement, do you know where to find it?**
[Here](https://www.boxcast.com/product/developers)

[2019-05-23 22:19] Cmillets opened #27 "Request For Douglas Lighting Controls: WLC-3150"
This Modular would be extremely useful for House Light Controls

Most specifically for the DLC "Presets"

[2019-05-26 16:18] oliveramays opened #28 "[Request] Media Player Classic (MPC)"
**Describe the feature**
I have not seen any mention or been able to find anything related to Media Player Classic and Companion so apologies if someone has already looked at this.
A module that uses the "Web remote" feature in Media Player Classic, able to send a whole range of commands for Media Playback, Playlist Controls, Image adjustments and more.

**Is this platform dependent (windows, mac,

[2019-05-29 15:50] 7sorkr opened #306 "Blackmagic Duplicator 4K"
Blackmagic Duplicator 4K

H.264 & H.265

Record & Play

[2019-06-08 15:49] PwllynBrwnt opened #19 "Module Request: TV-One Corrio Master"
**Describe the feature**
The TV-One corrio master is a excellent Video/Matrix scaler and video wall controller perfect for fixed installations..I would be interested in a Companion Instance that could simplyfy the external triggering of presets.

**Is this platform dependent (windows, mac, ..) currently the Corriographer network control software is only available on the windows platform but i beli

[2019-06-22 09:57] terriblefox opened #37 "Avitech Titan 8000 MV"
**Describe the feature**
Control Avitech Multiview 8000 series.
Set In 1-4 to full screen
close to MV

**Is this platform dependent (windows, mac, ..)?**
no

**If documentation is required to implement, do you know where to find it?**
did a readout from Octopus, where this is already implanted.

Close
%55%AA%F8%07%0D%F2%07%5A%46%20%30%30%30%30%20%31%00%00

Full Screen-1

%55%AA%F8%07%0D%F2%07%5A%4

[2019-06-23 18:09] berryv97 opened #17 "Module Request: Multicam Suite"
**Describe the feature**
integrated API of the mixer of multicam systems

**Is this platform dependent (windows, mac, ..)?**
No

**If documentation is required to implement, do you know where to find it?**
[API Multicam 1.0(2).pdf](https://github.com/bitfocus/companion/files/3318369/API.Multicam.1.0.2.pdf)
http://www.multicam-systems.com
**Usecases**
control the software with companion to make mac

[2019-07-03 13:29] Spacelord09 opened #15 "Module Request: MA Lighting Dot2"
We have the module "GrandMA2" but we need the "Dot2" too.

The Grandma2 module works via telnet but the Dot2 does'nt have telnet access.

I have a workaround: The webremote! like Ricardo Dias Showcockpit. He uses the Webremote to controll the Dot.

Sorry for my bad english😅

[2019-07-04 09:30] terriblefox opened #36 "Support for PhidgetInterfaceKit 8/8/8 - PhidgetInterfaceKit 0/16/16"
**Describe the feature**

The Phidgets workhorse. Connect sensors, control outputs, and read in digital inputs.

Analog Inputs

The analog inputs are used to measure continuous voltage outputs generated by various sensors such as temperature, humidity, position, or pressure. Phidgets offers a wide variety of sensors that can be plugged directly into the board using the cable included with the sens

[2019-07-24 11:46] ljjlong opened #72 "Module Request: TeamSpeak"
A colleague has already submitted this feature request. But he give not enough information about it. So they closed the request. Here is more information about the TeamSpeak client integration we like to see.

Teamspeak is a server based encrypted communication platform what also include a intercom like function. There is a app for Android and IOS what works as a client. Also serval client's appli

[2019-07-31 01:51] nathanroest opened #10 "Module Request: LG Commercial TV Control"
Control of Power On/Off, Input Selection and Volume through IP.

Commands are listed on page 35 of below PDF linked, specifically for SE3D but also applies to other series monitors

https://github.com/bitfocus/companion/files/3449404/ENG.pdf

[2019-08-02 07:02] playdeck opened #12 "Module Request: Playdeck (Video Playout Software)"
Playdeck is a flexible Two-Channel media playout software for Windows.
In addition, it features a recording and edit-whilst-ingest functionality.
Playdeck is especially popular in Germany.
[rc_commands.txt](https://github.com/bitfocus/companion/files/3459983/rc_commands.txt)

[2019-08-03 22:52] RockitFX opened #14 "Module Request: Madrix Lighting Control"
**Describe the feature**
A clear and concise description of what the feature does
I would like to use a stream deck to trigger events in Madrix. Madrix can be controlled by Artnet, DMX, midi, etc., but there are no provisions to trigger programs with keyboard shortcuts.

**Is this platform dependent (windows, mac, ..)?**
Explain
Madrix is PC only

**If documentation is required to implement, do yo

[2019-08-07 14:49] JJAmmons opened #3 "Module Request: Christie Roadster HD18K"
Some of the existing Christie control works with my Roadster HD18K projectors.  Would love to have Channel selection control though.  (This is what sets up the parameters of the input signal.  Different than Input selection.)

Also LAMP Changed command - Not sure how it would handle the numeric entry required.  It says it wants the S/N but for example - in my case - I just use a date since I use r

[2019-08-14 17:57] drewtaylor11 opened #1 "Module Request: DEXON DIMAX-Pro"
Module request for DEXON USA DIMAX-Pro and DIVIP-Pro modular scaling matrix and video processor system.

We put together a consolidated TCP control protocol document features only the important basic commands needed. Please see PDF.

Please contact me with any questions. We are the US distributor for DEXON. I attached another PDF use case for our new 4K@60 product highlighting media serer matrix s

[2019-08-22 00:07] jsavsoundvision opened #2 "Barco RLM-W14 Module Request"
Module for controlling the Barco RLM-W14 currently using the generic http request modules for control. Works for most options on the projector apart from a few more advanced menu functions.

[2019-08-22 00:09] dwriggles opened #4 "Module Request: Epson PowerLite L400U/L500W/L510U/L610/L610U/L610W/L615U"
**Describe the feature**
Similar to the other projector control modules, the ability to control and monitor Epson projectors.

Power on
Power off
Input
Etc.

Feedback:
Power status
Input status
Etc:

Display lam
**Is this platform dependent (windows, mac, ..)?**
No.

**If documentation is required to implement, do you know where to find it?**
https://manualzz.com/doc/1050273/esc-vp.net-software-de

[2019-08-22 00:16] SlateAV opened #5 "Module Request: Streamlabs OBS Module"
**Describe the feature**
Please consider the addition of Streamlabs OBS (not OBS Studio) scene control to Companion's module list.

**Is this platform dependent (windows, mac, ..)?**
No

**If documentation is required to implement, do you know where to find it?**
API:
https://stream-labs.github.io/streamlabs-obs-api-docs/docs/index.html

**Usecases**
This software is heavily used with live streami

[2019-08-22 00:18] dwriggles opened #6 "Module Request: Cyberpower Ethernet PDU"
**Describe the feature**
This module would support the ability to control CyberPower, and perhaps other, brand remotely switched PDUs.

https://www.cyberpowersystems.com/products/pdu/switched/

**Is this platform dependent (windows, mac, ..)?**
No

**If documentation is required to implement, do you know where to find it?**

From User Manual found here:
https://dl4jz3rbrsfum.cloudfront.net/documen

[2019-08-22 00:18] houtacheng opened #7 "Module Request: BetterTouchTool Software"
BTT have web server:
https://docs.bettertouchtool.net/docs/1104_webserver.html

How can I use the http command to trigger the action of btt?
like this:
http://127.0.0.1:50227/execute_assigned_actions_for_trigger/?uuid=96B5D58D-E0BF-484F-8F29-F9AFD1FDABA8

[2019-08-22 00:18] filmwork68 opened #8 "Module Request: AJA FSHDR"
**Describe the feature**
Support for control of the AJA FSHDR for SDR/HDR conversions and control

**Is this platform dependent (windows, mac, ..)?**
No its not, controlled via web GUI

**If documentation is required to implement, do you know where to find it?**
If applicable, add screenshots, protocol description PDFs, etc to help the developers along

**Usecases**
Use this in broadcast trucks an

[2019-08-22 00:18] lightarts opened #9 "Module Request: RGB Link vsp628pro"
The RGB Link VSP628pro is a switch with several in and outputs and remote control by a software program true ethernet.
it would be great if the inputs could be switcht by companion.

the software works on windows and mac

manual en software link below.
https://rgblink.com/software
https://rgblink.com/UploadFile/ePic/VSP%20628PRO_User%20Manual_EN_V2.1_20181102.pdf

I also found this about the switc

[2019-08-22 00:19] dmeledon opened #11 "Module Request: Leader LV 5333 Multi SDI Monitor"
**Describe the feature**
Support for remote commands and remote status from Leader 5333

**Is this platform dependent (windows, mac, ..)?**
No, device uses telnet

**If documentation is required to implement, do you know where to find it?**
[lv5333_e_2_18.pdf](https://github.com/bitfocus/companion/files/3448980/lv5333_e_2_18.pdf)
Page 171 of the attached manual.

**Usecases**
Useful for changing m

[2019-08-22 00:20] Veehxia opened #13 "Module Request: Extron SMP 111"
Hello, I'd like to request a module for controlling an [Extron SMP 111](https://www.extron.com/product/smp111)
It is a multimedia streaming encoder, I'd love to have buttons on my stream deck to start / stop livestreaming and recording.
Would be even better to have like a "REC" and "LIVE" buttons that switch colors when operating, for example a red "REC" button that turns green once pressed and th

[2019-08-22 00:21] JonAnsen opened #16 "Module Request: Moxa IoLogic E1214"
is there a possibility to send commands via Companion to trigger relay outputs for this device ?

[2019-08-22 00:21] PwllynBrwnt opened #18 "Module Request: Amino Communications A140 IPTV"
**Describe the feature**
The Amino A140 is a popular IPTV set top box used in Broadcast newsrooms and in hospitality to allow access to multiple streems of content over a network.. The unit can be controlled locally by a IR remote but also has the option of ip control over the network. I would be interested in initially a proof of concept instance to show that Companion can change the chanels on a

[2019-08-22 00:22] kili94 opened #20 "Module Request: TVOne 6104A"
Switching between presets

[2019-08-22 00:22] monoxane opened #21 "Module Request: Ross NK-IPS"
**Describe the feature**
Control of Ross NK routers via the NK-IPS bridge

**Is this platform dependent (windows, mac, ..)?**
No

**If documentation is required to implement, do you know where to find it?**
Protocol is not publicly available, I am in the process of reverse engineering it.

**Usecases**
Automating routing, virtual IO, global labels into other things

[2019-08-22 00:23] MIXACHU opened #22 "Module request : Visual productions Cuety LPU2"
![image](https://user-images.githubusercontent.com/50639083/57733986-1a072980-76a1-11e9-9c7f-d2ba54a9277d.png)

**Describe the feature**
Cuety LPU2 is a standalone DMX/ArtNet/SACN device that can be controlled via their APP or via  HTTP/TCP-UDP/OSC.

**Is this platform dependent (windows, mac, ..)?**
No

**If documentation is required to implement, do you know where to find it?**
everything is her

[2019-08-22 00:26] rodrigomarcondess opened #26 "YouTube API"
**Describe the feature**
I would like to request a YouTube API integration. It will be great to be able to start/stop Live Streaming direct from Bitifocus Companion.

**Is this platform dependent (windows, mac, ..)?**
Not applicable

**If documentation is required to implement, do you know where to find it?**
If applicable, add screenshots, protocol description PDFs, etc to help the developers alo

[2019-08-22 00:28] christianskov opened #29 "Module request: FOR-A HVS 390"
The ability to control the **FOR-A HVS 390** via the Editor RS-422 port.
You need to buy the EDITOR option as a firmware upgrade at FORA.

You would also need a generic Ethernet to RS422 converter.

Attached as PDF:
The manual descriping how to turn on the **Editor function** and
**EDITOR protocol command list**

Use the Companion to control the HVS390 mixer, aux, ME crospoints, recall memory ect.

[2019-08-22 00:28] lockyyoung opened #31 "Module Request: Elation/Onyx/Obsidian Control"
Remote control of Elation/Onyx/Obsidian Control Software/Consoles.

Control of Windows PC Software, and consoles.

http://support.obsidiancontrol.com/Content/Networking/Onyx_Remote.htm
http://support.obsidiancontrol.com/Content/Networking/OSC.htm

Not sure what would be the best way, as there is remote control app for iOS, and can obviously take OSC commands as well.

Would be cool to add another

[2019-08-22 00:29] jonhug opened #32 "Module request: Softron Recorder / Playback"
It would be great to have a module to integrate to Softron Movie Recorder and OntheAir to be able to trigger records and playback.
An API is available for both programs

[MovieRecorder REST API documentation.pdf](https://github.com/bitfocus/companion/files/3067968/MovieRecorder.REST.API.documentation.pdf)

[2019-08-22 00:29] dbvdeo opened #33 "Module Request: Sony BRC-Z700 Robotic Camera Control"
**Describe the feature**
I want to recall camera presets, select cameras, adjust iris & focus. There is Visca Protocol already but I am looking for control over IP

**Is this platform dependent (windows, mac, ..)?**
Currently is controlled with its IP Remote; model number "RM-IP10" and the IP Card "BRBK-IP7Z"

**If documentation is required to implement, do you know where to find it?**
[1237493118

[2019-08-22 00:35] fheinonen opened #38 "Module request: FFAtrans"
**Describe the feature**
FFAtrans has a nice REST api, it would nice to use it from Companion.
**Is this platform dependent (windows, mac, ..)?**
Windows

**If documentation is required to implement, do you know where to find it?**
Webinterface based on the REST API
https://github.com/haraldjordan78/ffastrans_webui/
http://www.ffastrans.com/
**Usecases**
This would enable highly automated workflow

[2019-08-22 00:35] AlgemeneBuurman opened #40 "Module request: NDI Studio Monitor Control"
**Describe the feature**
NDI Studio monitor on windows has a webserver to change settings via web. Would be nice to control it by Companion

**Is this platform dependent (windows, mac, ..)?**
Don't know for sure if Studio Monitor on Mac has the webserver.

**If documentation is required to implement, do you know where to find it?**
HTTP  GET request to http://127.0.0.1/v1/sources results in a arra

[2019-08-22 00:35] BIGcinema opened #45 "Module request: doremi nugget"
**Describe the feature**
can everyone support the doremi nugget for compagnion? its an old, but very heavy duty video playback device based on mpeg2. normally its a special program "asset manager 4.0" needed and it woud be helpful controlling the basic features like "play" "Stop" "goto" by compagnion & streamdeck ...

**Is this platform dependent (windows, mac, ..)?**
Explain

**If documentation i

[2019-08-22 00:36] mikelconnor opened #47 "Analog Way Eventix Switcher Support"
**Describe the feature**
We need a way to control our Analog Way Eventix video switcher through the Companion App.  We have a need to fire certain cues on this switcher at the same time as firing on a BlackMagic ATEM.

**Is this platform dependent (windows, mac, ..)?**
No

**If documentation is required to implement, do you know where to find it?**
https://www.analogway.com/files/uploads/produit/d

[2019-08-22 00:36] mikelconnor opened #48 "Module Request: MQTT"
**Describe the feature**
I'm looking for a way to control things like projection screens.  We have one that could be controlled with a dual relay that uses one relay to start it going down, and one that starts it going up.  I've not located any protocols that are currently supported.  I would like to request MQTT support   Basically this is used for machine-to-machine communications in the automat

[2019-08-22 00:36] mortenover opened #51 "Module request: Philips pro displays"
**Describe the feature**
Enable Companion to control philips digital signage monitors.

**If documentation is required to implement, do you know where to find it?**
TCP control document:
https://www.keren.nl/dynamic/media/1/documents/Drivers/The%20SICP%20Commands%20Document%20V1_99%2025%20May2017.pdf
[The SICP Commands Document V1_99 25 May2017.pdf](https://github.com/bitfocus/companion/files/2723

[2019-08-22 00:36] ICE9MOONEY opened #52 "Module Request: Presonus StudioLive Rack Mixers"
Basic Mute functionality requested for StudioLive rack mixers. PreSonus has no API as far as I can tell, but they publish several iOS apps that could be combed for web commands, I suppose.

Not platform specific.

Media Server operators may use a small rack mixer to mute and unmute/monitor audio feeds from several different servers. The StudioLive series are small and inexpensive.

[2019-08-22 00:36] MarcoCorzani opened #55 "Feature request: Epiphan Webcaster X2"

[2019-08-22 00:44] tom-bindon opened #56 "Allen and Heath sq5"
**Describe the feature**
I would like to be able to control Scene changes, Fader levels and channel mutes on my SQ5 sound desk

**Is this platform dependent (windows, mac, ..)?**
Not sure what you mean

**If documentation is required to implement, do you know where to find it?**
https://www.allen-heath.com/ahproducts/sq-5/

**Usecases**
It will be useful on a lot of my events where I am quite ofte

[2019-08-22 00:45] Deanbau opened #57 "Module Request: Spotify control"
**Describe the feature**
Control spotify on a local or remote machine
**Is this platform dependent (windows, mac, ..)?**
https://github.com/dronir/SpotifyControl works for mac only

**If documentation is required to implement, do you know where to find it?**
See above project

**Usecases**
Control spotify, usually for BGM purposes.

[2019-08-22 00:45] TopsyKraett opened #58 "Feature Request: Analog Way Di-Ventix II"
Describe the feature
Controlling the Di-Ventix II Series like the other AnalogWay products

If documentation is required to implement, do you know where to find it?
Documentation can be found here: https://www.analogway.com/emea/products/archived/di-ventix-ii/

[2019-08-22 00:45] masilan81 opened #59 "Feature Request: Analog Way - SmartQuad SQD200"
**Describe the feature**
Controlling the SmartQuad Series like the other AnalogWay products

**If documentation is required to implement, do you know where to find it?**
Documentation can be found here: https://www.analogway.com/emea/products/archived/smart-quad/

[2019-08-22 00:45] startmedia001 opened #60 "Module Request: Soundcraft ui12 / ui16 / ui24"
Remote-Control the ui series from soundcraft, a digital multichanel audiomixer

platform independent

I dont know about a API, but the mixer itself provides a html5 interface wich can be controlled with a standard browser. The mixer has a buildin W-LAN acesspoint and ethernet-port (RJ45)
https://www.soundcraft.com/en/products/ui16

Control the Mixer itself
Activate Mutegroups
Control the buildin A

[2019-08-22 00:46] bramsteenbrugge opened #61 "Module Request: VideoDevices Pix"
**Describe the feature**
Support for VideoDevices Pix recorders (Pix260i, Pix270i)
https://www.videodevices.com/products/rack-mount-video-recorders/pix270i

A Pix can already be controlled with a web interface (PIXNET, see documentation below)

**Is this platform dependent (windows, mac, ..)?**
No

**If documentation is required to implement, do you know where to find it?**
http://cdn.videodevices

[2019-08-22 00:46] Hitower78 opened #62 "Module Request: Pandoras Box Spark"
**Describe the feature**
This Programm is like Octopus Listener, but (as i know as Spark User) has more features

https://www.coolux.de/root/downloads/support/Documentation/Helpfile/_img542.gif

The Features:
PB REMOTE SERVER CONTROL
COMPORT ASCII COMMUNICATION
SYSTEM COMMANDS
WEB BROWSER (Fullscreen)
SOUND COMMANDS
VIDEO PLAYER (Fullscreen)
APPLICATION COMMANDS
KEYBOARD EVENTS
MOUSE EVENTS
DESKTO

[2019-08-22 00:46] monoxane opened #63 "Module Request: Newtek NDIHX-PTZ1"
**Describe the feature**
Controls things that move with NDI

**Is this platform dependent (windows, mac, ..)?**
Nien

**If documentation is required to implement, do you know where to find it?**
Can't find any documentation so more research will have to be done

**Usecases**
Hit a button and all your studio cameras point at one person! (same use case as the rest of the PTZ modules)

[2019-08-22 00:46] SalkinDK opened #65 "Module Request: Panasonic AW-RP50 and AW-RP120"
**Describe the feature**
Module for calling preset etc from the camera controller

**Is this platform dependent (windows, mac, ..)?**
no

**If documentation is required to implement, do you know where to find it?**
http://eww.pass.panasonic.co.jp/pro-av/support/content/guide/DEF/RP50_120/RemoteControllerInterfaceSpecifications-V1.00E.pdf

https://www.reddit.com/r/crestron/comments/4gfuhn/panasonic

[2019-08-22 00:46] themusicnerd opened #68 "Module Request: Allen & Heath iLive & GLD series"
Hi From Australia,

I would like to make a module request for the Allen & Heath iLive series and GLD series.

The TCP Control protocol is documented here:
iLive : https://www.allen-heath.com/media/iLive-TCPIP-Protocol-V1.9.pdf
GLD : http://www.allen-heath.com/media/GLD-MIDI-and-TCPIP-Protocol-V1.4_2.pdf

There is a great similarity in the protocols.

I am happy to try and learn how to program the

[2019-08-22 00:46] daniel3p4u opened #69 "Module Request: ember+"
Describe the feature
control devices using ember+ protocol

Is this platform dependent (windows, mac, ..)?
platform independent

Features to Include
- route signals
- get status
there are a lot of other options. in my usecase routing signals would be the main function

If documentation is required to implement, do you know where to find it?
ember+ is a protocol developed by lawo.
https://github.co

[2019-08-22 00:47] Kieranmcc opened #70 "Module Request: Ambrosia Soundboard"
It's be awesome if companion would support soundboard by ambrosia software.
https://www.ambrosiasw.com/utilities/soundboard-mac/

[2019-08-22 00:58] graet63 opened #71 "Sonoran Video Systems Coyote Playback Server"
Coyote has a JSON-based API. Details attached.
[coyotejson.pdf](https://github.com/bitfocus/companion-module-requests/files/3527878/coyotejson.pdf)

[2019-08-22 01:02] willosof commented on #71
https://www.sonoranvideosystems.com/

[2019-08-22 01:08] masilan81 opened #73 "TeamSpeak Support"
We are using TeamSpeak via LAN/Internet during some broadcast productions.
So I tried to set the "push to talk" button in companion - but without success.

So it would be great to have some standard functions integrated:
- push-to-talk button
- switching to previous/next or pre-defined chat-groups

[2019-08-22 02:40] MrLazerface opened #76 "Module Request: Sierra Video Routers"
**Describe the feature**
Control of the Sierra Video (now owned by Kramer) SDI routers. We use these routers daily in our workflows.

**If documentation is required to implement, do you know where to find it?**
PDFs are attached of both the control protocol, and the manual of the specific matrices I'm trying to control.
[Sierra routing_switcher_communication_protocol.pdf](https://github.com/bitfoc

[2019-08-22 06:57] McHauge commented on #1
Let's try again, I think I got all the "" right this time, ups.

 [https://1drv.ms/u/s!AtUYbExJseNtlK56u-n71V_UcLDe7g?e=1ItNEl](url)

[2019-08-22 13:10] McHauge commented on #71
Hey, just got done setting up what I would call a demo module, with all the main commands. And it would be very helpful if you could run a test on the buttons. And run these to requests: /getpresets and /gettimecode and post the results, for implementing a dropdown menu in selecting the ID.

You can acces the demo build for testing here: [https://1drv.ms/f/s!AtUYbExJseNtlK56u-n71V_UcLDe7g](url)

[2019-08-22 16:54] drewtaylor11 commented on #1
@McHauge thanks. I will try this out with wireshark. I shipped out my demo unit but should be back with it and able to test on Tuesday. I will report back as soon as I can.

[2019-08-22 18:49] SalkinDK opened #77 "Module request: Martin P3 controller"
**Describe the feature**
be able to recall presets on the Martin P3 processors, for different mapping, colour change etc.
Now there is a webpage on the ip of the controller where you can recall presets and see the status of the connected fixtures.

**Is this platform dependent (windows, mac, ..)?**
no

**If documentation is required to implement, do you know where to find it?**
https://www.martin.

[2019-08-22 18:52] SalkinDK opened #78 "Module request: Brompton Tessera LED processors."
**Describe the feature**
be able to recall presets on the Brompton Tessera LED processors, for different mapping, colour change etc.

**Is this platform dependent (windows, mac, ..)?**
no

**If documentation is required to implement, do you know where to find it?**
https://www.bromptontech.com/support

**Usecases**
For different tile positions, colour calibration etc.

[2019-08-22 18:52] Bostick90 opened #79 "Module request: Foobar2000"
Module request: Foobar2000.

It's a music player with many features and a lot of components that you can download, like http web control (as VLC).

If you don't know this great software you can check here: https://www.foobar2000.org/components/view/foo_beefweb

Thank you!

[2019-08-22 18:53] pibo5 opened #80 "Module request: MadMapper"
**Describe the feature**

[MadMapper](https://madmapper.com) is one of the leading projection mapping software. It supports MIDI, DMX, **OSC**, and other protocols. OSC is bidirectional via ports 8000 and 8001 by default. But MadMapper comes with OSC settings that Companion cannot receive, like button states, ranges, etc. via the Generic OSC module. The main goal would be that the MadMapper "Learn

[2019-08-22 19:24] aaronkothe opened #83 "Module Request: Decimator Designs UCP Control"
**Describe the feature**
Decimator Designs manufactures a variety of converters, splitters, and multi-viewers for video production. Their products are widely regarded as some of the most capable and reliable in the industry.

Most of Decimator's products are controlled by a single, simple (at least for the user) software program, called UCP (current version 2.0.11). Plug in one of their products v

[2019-08-23 00:24] graet63 commented on #71
Thanks Andreas.

I have downloaded the demo build but I am not sure what to do with it. Do I just run the exe file? I am on Mac so will have to get onto a PC to do it.

From: Andreas Thomsen <notifications@github.com>
Reply to: bitfocus/companion-module-requests <reply@reply.github.com>
Date: Thursday, 22 August 2019 at 11:10 pm
To: bitfocus/companion-module-requests <companion-module-requests@nor

[2019-08-23 06:31] McHauge commented on #71
Hey, yes you will need a pc for this build, (i don't own a mac, therefore I sadly can't compile for mac) but with the content of the folder you got two choises:

- You can run the "Companion-win64.exe" en the main folder, this wil install companion 2.0 on the divice.

- The other option is to open the folder "win-unpacked" and run "Companion.exe", this will launch a local version, and will not ins

[2019-08-23 06:54] graet63 commented on #71
Thanks, I will try it and let you know how it goes.

From: Andreas Thomsen <notifications@github.com>
Reply to: bitfocus/companion-module-requests <reply@reply.github.com>
Date: Friday, 23 August 2019 at 4:31 pm
To: bitfocus/companion-module-requests <companion-module-requests@noreply.github.com>
Cc: "Graeme Trott (GTD)" <graeme@gravitytd.com.au>, Author <author@noreply.github.com>
Subject: Re: [b

[2019-08-24 07:44] graet63 commented on #71
/getpresets results

From: Andreas Thomsen <notifications@github.com>
Reply to: bitfocus/companion-module-requests <reply@reply.github.com>
Date: Thursday, 22 August 2019 at 11:10 pm
To: bitfocus/companion-module-requests <companion-module-requests@noreply.github.com>
Cc: "Graeme Trott (GTD)" <graeme@gravitytd.com.au>, Author <author@noreply.github.com>
Subject: Re: [bitfocus/companion-module-requ

[2019-08-26 01:02] graet63 commented on #71
Here are the results from the /getpresets command. I have not had a chance to run the demo module yet, hopefully in the next few days.
[GetPresets.pdf](https://github.com/bitfocus/companion-module-requests/files/3539038/GetPresets.pdf)

[2019-08-26 07:45] McHauge commented on #71
@graet63 Nice, I'll take a look at the file and try to implement it over the upcoming days. One thing I see, is that the preset id seems the be a number only when phrasing with "PK", which is what the module is set up to do now.

[2019-08-26 21:24] JeffreyDavidsz commented on #68
Dlive has a module, but testing it seems hard. If possible please test and let me know

[2019-08-27 02:29] JeffreyDavidsz commented on #68
Just download one of the latest builds at builds.bitfocus.io/companion

[2019-08-27 02:41] JeffreyDavidsz commented on #68
No problem, let us know if this works or not, there's only a basic command to check if the structure is correct

[2019-08-28 05:50] McHauge commented on #1
@drewtaylor11 Hey, did you get a new demo unit in for testing again?

[2019-08-28 11:26] magneriise opened #87 "Roland V-600 UHD"
Hi.

Want to control the V-600UHD from Roland.
Over Telnet TCP you get control from port 8023 to control switching/source/preset.

Documentation is avalible https://static.roland.com/assets/media/pdf/V-600UHD_reference_eng01_W.pdf

The use case is to control the V-600 simultanious with other live event gear.
Or remote control it in a instalation inviroment.

[V-600UHD_reference_eng01_W controll.pd

[2019-08-28 12:01] #87 closed, assigned to nobody

[2019-08-29 06:41] dewiweb commented on #69
I'm also really interested by an ember+ module to control our LAWO MC²36 and Riedel Mediornet Compact Pro Frames. I'm having looked for an open-source solution for months and bitfocus companion seems to be the perfect candidate. There's already some emberplus library ports like this:
 [https://github.com/evs-broadcast/node-emberplus](https://github.com/evs-broadcast/node-emberplus) but nothing rea

[2019-08-29 11:14] magneriise commented on #87
Hi @josephdadams
That's great. might be very noob, but I can't find it in the latest build.
Where do I find it?

[2019-08-29 12:12] josephdadams commented on #87
Use Companion 1.4 or 2.0!

[2019-08-29 12:35] magneriise commented on #87
Ah. Found it. Was under Vision mixer and not Roland, by category :) Thanks!

[2019-08-30 21:56] drewtaylor11 commented on #1
@McHauge all commands are working now and tested. Thank you for your help!

[2019-08-31 08:18] McHauge commented on #1
Nice, I'll let them know that it's up and running so they can add it to the core.

[2019-08-31 17:26] shaunar2006 opened #88 "Allen & Heath GLD80 digital sound console"
I would love to be able to control the GLD80 using companion. Allen and heath provides editor software for Mac and pc as well as an iPad app. There’s even a 3rd party app for iPhone. So remote operation is possible.

[2019-09-02 07:23] McHauge commented on #1
@drewtaylor11 I just checked the nightly builds of companion and can confirm that it's now included in the core version.

[2019-09-02 18:19] jarodwsams opened #89 "Module Request: Mopidy Server"
https://www.mopidy.com/
I have a device running Mopidy server to play Spotify directly into my venue's audio console. Right now I control it via custom HTTP requests hitting a python-based port listener on the device. It would be awesome, if possible, to have a proper module to control Mopidy.

Version 1 of the module could include commands for:
- Play
- Pause
- Stop
- Volume Up
- Volume Down
- Sh

[2019-09-03 11:52] McHauge commented on #43
Hey, I just finished a version one module for Dexon Dimax-Pro and Dexon Divip-Pro, and it's now included in Companion 2.0.0, and since this is in the same branch it might work with it. but if not, then I'll take a look at it.

But just to be sure what commands/functions would you like to se other than the first 3 mentioned above?

[2019-09-03 12:01] McHauge commented on #1
@drewtaylor11 I was just looking through the list of module requests and found this one: Dexonsystem 8x4 4K HDBaseT Seamless Matrix Switcher #43. I would like to ask since you are a distributor of DEXON products, and therefore maybe also this one.

Two things, first do you know if they are directly compatible in their API?
And second, would it be possible for you if you got this device to try and

[2019-09-03 12:51] McHauge commented on #28
Hey, will give this a go. but just want to know whether or not you are going to need all the actions. or only some of them.

[2019-09-03 14:00] drewtaylor11 commented on #1
@mchauge I do have one of these units in the office. I'll look in to it and let you know.

[2019-09-03 17:13] drewtaylor11 commented on #1
@McHauge verified the same modules work with the 8x4. The only thing funky about the 8x4 is the password needs to be converted to a hash string. a site like this will do the conversion for you. Thenyou enter the hash string in the password field in companion.  https://www.md5hashgenerator.com/

do you know of a way in companion to verify companion is logged in? or send the login command on every n

[2019-09-03 18:03] McHauge commented on #1
Thanks, for testing it and comming through with the insight. I'll try and make the loggin hashed for that unit and see if I can make it auto-login/semi-auto-login.

Another thing, are their other units in the Dexon Dimax or Dexon Divip family that has these kinds of quirks that I should try and implement in the future?

[2019-09-03 18:10] drewtaylor11 commented on #1
@McHauge all Dexon products require the login sequence on all new TCP connections. as far as the hash string for the password I believe it is only the 8x4 and maybe the 4x4. Thanks.

[2019-09-03 19:49] bumbalard opened #90 "Wirecast Support"
[rsrc.zip](https://github.com/bitfocus/companion-module-requests/files/3571090/rsrc.zip)

1. Please unzip the archive.
2. You will find two folders, scriptdocs and scriptingexamples
3. In scriptdocs, open intro_welcome.html

Wirecast License: Contact Bryce via info below if needed.
Wirecast Download: http://www.telestream.net/controls/wirecast/download-wirecast-resources.htm

Technical Contact:
Br

[2019-09-03 20:03] josephdadams commented on #90
Thanks for the free license code! Did you mean to post that?

[2019-09-03 20:15] bumbalard commented on #90
@josephdadams Good catch. I had originally drafted as an email before discovering there was a git project for this. Copy paste... you know how it goes.

I edited the post, and removed the edit revision from history that contained the license code.

For whoever may chose to implement, please reach out to me directly at the contact information provided above. I have posted my personal email address

[2019-09-03 22:48] McHauge commented on #28
Hey, I just finished implementing this module with all the above-mentioned commands and presets for all of them.

I have done some testing for myself on my pc and didn't find any problems, but if you find some please return back so I can try and fix them.

Until it gets implemented in the final build, you can use this link below to get a special compiled version or windows with it implemented:

[h

[2019-09-04 01:27] josephdadams commented on #90
Nope, not me.

[2019-09-04 01:37] josephdadams commented on #90
@bumbalard Companion is still largely designed to control devices and software over the network. Has Telestream developed a network API yet or is this just examples for how to control via COM objects or AppleScript on the same computer? Of course there are ways of creating “listener” software that can receive the command from Companion and then relay the local OS script necessary but some kind of

[2019-09-04 05:10] oliveramays commented on #28
That's great to see,
I will definitely give it a try ASAP.
Thanks for the effort, I hope it helps out some other users too.

[2019-09-04 06:46] McHauge commented on #28
@oliveramays just keep in mind some functions like "Open file" properly needs, some value after it to work properly, and these values haven't been implemented so far, but if you find the commands/variables for them then I'll try and implement them for you.

[2019-09-04 07:11] McHauge commented on #90
@josephdadams and @bumbalard, just a heads up the license code is still visible in the Slack group. whoever got the rights to delete the auto messages, proberply should.

and also it wasn't me who used it

[2019-09-04 07:24] McHauge commented on #89
Hey, since you already are using this via presumably the generic HTTP module, would it be possible for you the find and post the specific HTTP requests for these commands. then it would be pretty simple to make a simple module for a start.

[2019-09-04 08:24] McHauge commented on #28
@oliveramays Just checked the newest build and can confirm this module is included in the main build. from build: "companion-2.0.0-878d7ae-1747" and forward.

[2019-09-04 09:18] #28 closed

[2019-09-04 14:37] josephdadams commented on #23
Closing this as the module has been created.

[2019-09-04 14:37] #23 closed

[2019-09-04 14:43] josephdadams commented on #72
Duplicate of #73 , closing this one.

[2019-09-04 14:43] #72 closed

[2019-09-04 15:06] josephdadams commented on #27
@Cmillets can you provide documentation for the protocol, please?

[2019-09-04 15:10] bumbalard commented on #90
It's ok @McHauge, I blacklisted that particular serial. If someone were to implement, they can reach out directly to me.

@josephdadams Unfortunately, these are local, same-machine scripting options. Existing integrations have done exactly what you mentioned, created listener software if they needed the controller or signaling device to be a different device/machine.

I do agree that a proper netw

[2019-09-04 16:02] haakonnessjoen commented on #90
@bumbalard if you look at it in another way. There might be a surge in purchases of wirecast, if you implement a network protocol that we quickly would support. You should really try to prioritize network api. :)

[2019-09-04 16:30] bumbalard commented on #90
While I personally would LOVE to see a proper API for many reasons in Wirecast, it ultimately is not my call :(

[2019-09-04 17:20] josephdadams commented on #25
Duplicate of #75

[2019-09-04 17:20] #25 closed

[2019-09-05 11:27] josephdadams commented on #42
@estahlhammer can you provide documentation for this?

[2019-09-05 13:56] josephdadams commented on #2
@jsavsoundvision what advanced menu functions are you looking for?

[2019-09-06 13:17] josephdadams commented on #71
@graet63 were you able to test?

[2019-09-06 20:51] josephdadams commented on #15
Is anyone working on this?

[2019-09-06 20:56] Spacelord09 commented on #15
idk..

[2019-09-08 08:06] DiViPro01 opened #91 "Allen & Heath QU16"
Hi,

would it be possible to write a module for the Allen & Heath audio mixer series?
A client of mine bought the QU16 model, and I would love to be able to control them via companion.

I know there is a tcp/ip protocol, but I cant seem to find the commandos

[2019-09-09 04:51] jarodwsams commented on #89
There's not any built-in HTTP control for Mopidy. On the box, I have a custom python port listener that listens for specific HTTP requests and issues appropriate MPC commands. What I wanted to explore is if there's any way to remotely control an instance of MPC over the network like that. I don't know enough about it at present, but thought that someone in the community might so wanted to put it o

[2019-09-09 07:21] DiViPro01 commented on #91
Hi jeffrey,
The dlive module gives me an exception error when trying to mute a channel on the qu16

[2019-09-09 09:25] JeffreyDavidsz commented on #91
Can you do a screenshot?

[2019-09-09 09:35] DiViPro01 commented on #91
I will trie to convince my audio collegue to let me do some more testing.
I did the testing during a stolen moment :-)

[2019-09-09 10:34] DiViPro01 commented on #91
<img width="903" alt="Schermafbeelding 2019-09-09 om 10 15 04" src="https://user-images.githubusercontent.com/43602201/64524120-2e30ff80-d2fe-11e9-9990-d21492a7ff5e.png">

[2019-09-09 10:35] DiViPro01 commented on #91
<img width="423" alt="Screenshot 2019-09-09 at 12 15 48" src="https://user-images.githubusercontent.com/43602201/64524160-40ab3900-d2fe-11e9-80a7-369844976019.png">

[2019-09-09 11:56] JeffreyDavidsz commented on #91
That's an old version/bug, did you got the latest?

[2019-09-09 12:03] DiViPro01 commented on #91
I tried it out with the latest, no bug, but also no cigar.
Nothing happens.
On the other hand, I have no idea to what port to send the commands too.
Ip adresses and ranges are all okay, companion also sees the dlive module (instance is green/OK)

[2019-09-10 00:18] jdrothrock opened #92 "Companion Control of QSC Q-Sys"
I am trying to use companion to control snap shots on Q-Sys. I know there is the UCI Viewer for Q-Sys but I am trying to make a one button control to fire Ross, Propresenter, and Q-sys Snap shot for our web stream audience.

And the one thing lacking is Q-Sys.

Here is the link to the documentation to control Q-Sys.
[https://q-syshelp.qsc.com/Content/External_Control/001_External_Control_Overview.

[2019-09-11 12:30] T68 opened #93 "Support for characterworks broadcast graphic system"
Hi!
It would be great if Companion could interface with the cg-system characterworks.
You can read more about it on:
https://www.chrworks.com/

Our company run control rooms with atem mixers and characterworks. It would be neat to be able to use the stacked commands feature in companion to create buttons that runs both atem and chrworks.

Don´t hesitate to contact me if you have any questions abou

[2019-09-11 13:04] JeffreyDavidsz commented on #93
I'm quite sure characterworks is in there already, did you try downloading a newer version of Companion?

[2019-09-11 14:28] T68 commented on #93
Thanks! I have downloaded latest version but unfortunately cannot find characterworks in the list.

[2019-09-11 14:31] JeffreyDavidsz commented on #93
From builds.bitfocus.io? It's AGF Multimedia Characterworks

[2019-09-11 14:46] T68 commented on #93
Aha! Do you have to install that separately. Sorry for my noob questions :-)

[2019-09-11 14:55] T68 commented on #93
Should it be in this listing?
![image](https://user-images.githubusercontent.com/2562120/64708475-f324fc80-d4b4-11e9-8ebf-d4c49a150a93.png)

[2019-09-11 15:19] JeffreyDavidsz commented on #93
No just install a later Companion and use the search box

[2019-09-11 18:30] josephdadams commented on #2
@jsavsoundvision I found some documentation for you: http://www.barco.com/tde/(1841981491990962)/R5905447/02/Barco_ReferenceGuide_R5905447_02__HDX-series-Command-Catalog.pdf

[2019-09-11 18:32] josephdadams commented on #93
Closing because AGF Characterworks is in both 1.4 and 2.0.

[2019-09-11 18:32] #93 closed

[2019-09-12 06:16] T68 commented on #93
Thanks! Yes figured it out that I needed a newer version than the 1.3 thats promoted on the main webpage

[2019-09-12 16:53] rywolf opened #94 "Module request: Gefen Matrix"
Module Request: Gefen Matrix Pro

http://resources.corebrands.com/products/GEF-DVI-16416-PB/pdf_GEF-DVI-16416-PB_Manual.pdf
Just being able to make routes would be great.

Thanks

[2019-09-13 00:12] #94 closed, assigned to nobody

[2019-09-13 12:36] MonoTovarisj commented on #9
We are considering buying the D6 witch is the successor to the VSP628pro it is actually called VSP628proII in some documents. I, however, have not been able to find the API information for this machine.

[2019-09-17 11:56] McHauge commented on #84
If you set up a dev environment and compile it yourself, then I got this generic TCP and UDP module you can use, but it will probably not be included in the main build for a long time, as mentioned.
[https://github.com/McHauge/companion-module-generic-tcp-udp](url)

[2019-09-19 08:46] McHauge commented on #1
@drewtaylor11 did you get time to test it? and how did it go?

[2019-09-19 11:56] graet63 commented on #71
@josephdadams sorry for my late reply I have been busy on a string of shows. I have now tested the demo module. I am pleased to report that all the actions work as expected. Thanks to @McHauge
A drop down box for selecting presets is not required, as all it needs is the preset number to be entered.
One thing is that the commands END, PAUSE & PLAY act on the current selected preset if the preset ID

[2019-09-19 12:07] McHauge commented on #71
@graet63 lovely, I will get that updated right away if there are other options you need in the module feel free to ask.

[2019-09-19 12:24] graet63 commented on #71
@McHauge Great. SeekTo commands would be useful especially in rehearsal or CueToCue situations to skip to the end of videos, eg SeekTo 30 seconds from end, SeekTo 10 seconds from end.

[2019-09-19 12:48] McHauge commented on #71
@graet63 just updated my module with SeekTo and for API V0.3 an updated compiled zip file will be in the onedrive folder from before in a 20 min or so, then you can test the SeekTo function, and i'll get a rep created for it to be included in the 2.0 builds in the future

[2019-09-19 13:24] McHauge commented on #71
The file is now updated

[2019-09-22 01:00] JeffNeubauer opened #96 "Sharp PN-LE901"
**PLEASE USE THIS PAGE IF YOU WANT SUPPORT FOR A NEW DEVICE**

https://github.com/bitfocus/companion-module-requests/issues/new

**Describe the feature**
A clear and concise description of what the feature does

Provide TCP Control over Sharp Display

**Is this platform dependent (windows, mac, ..)?**
No

**If documentation is required to implement, do you know where to find it?**
If applicable, a

[2019-09-22 01:02] JeffNeubauer opened #95 "Sharp PN-LE901"
https://siica.sharpusa.com/Portals/0/downloads/Manuals/PN-LE%20_Quick_Start_Setup_Guide.pdf

[2019-09-22 02:03] josephdadams commented on #95
Duplicate of #96 and not enough info anyway.

[2019-09-22 02:03] #95 closed

[2019-09-22 13:50] josephdadams commented on #71
@graet63 @McHauge you guys ready to close this issue since we have module support now? In the meantime, I'll move it to the repository for this module.

[2019-09-22 14:09] josephdadams commented on #31
This module is in 1.4 and 2.0, can we close this issue?

[2019-09-22 18:01] BenniMTools commented on #75
i will upload a module next week

[2019-09-22 19:52] McHauge commented on #71
@josephdadams  fine by me, but moving it to the rep is also fine by me. then it's still simpler to keep the contact open.

[2019-09-22 22:32] graet63 commented on #71
@josephdadams yes thanks

[2019-09-22 23:23] #71 closed

[2019-09-24 06:29] McHauge commented on #43
I made a thing, there is now a module included in the V2.0.0 builds ready for testing, with MD5 hashing and presets.

[2019-09-24 06:32] McHauge commented on #1
@drewtaylor11 Hey again, I just finished the module for the Dexon Matrix 8x4 and 4x4 with MD5 hashing included in the module. it's included in the V2.0.0 build and is ready for testing if you got time to test it that would be awesome.

[2019-09-24 08:58] McHauge commented on #12
Hey, i will give this module a go

[2019-09-24 16:04] McHauge commented on #12
@playdeck Hey again, got a module set up for it, at with the tial version I got here it seems to work. if you could test it for verification, that would be awesome. It's available here: [https://1drv.ms/f/s!AtUYbExJseNtlK56u-n71V_UcLDe7g](url)

[2019-09-24 16:07] playdeck commented on #12
Hey guys,

Thank you very much for your message. I will test it asap and come back to you with more information.

Best wishes
Maurits Kuiper

_________________________________________________
Dr. Maurits Kuiper
JOY event & media GmbH & Co. KG
Eilendorfer Str. 215
D-52078 Aachen
Tel. +49 (0)241 99 000 6-12
Fax +49 (0)241 99 000 6-99
mk@joy-event-media.de<mailto:mk@joy-event-media.de>

Sitz der Gese

[2019-09-24 16:17] McHauge commented on #12
No problem, if you find something you want to be changed or that doesn't work, let me know, then I'll try fixing/adding it

[2019-09-24 16:19] McHauge commented on #12
oh and another small thing, what manufacture should this be placed under? we are a bit unsure.

[2019-09-24 16:25] playdeck commented on #12
„JOY event & media“ is the correct manufacturer name.

Best wishes
Maurits Kuiper

_________________________________________________
Dr. Maurits Kuiper
JOY event & media GmbH & Co. KG
Eilendorfer Str. 215
D-52078 Aachen
Tel. +49 (0)241 99 000 6-12
Fax +49 (0)241 99 000 6-99
mk@joy-event-media.de<mailto:mk@joy-event-media.de>

Sitz der Gesellschaft: Aachen
Amtsgericht Aachen HRA 5884

Pers. haftend

[2019-09-25 01:10] SteveTherrien commented on #74
See https://github.com/bitfocus/companion-module-kramer-vs41h/issues/1

[2019-09-25 01:28] josephdadams commented on #82
I'm just going to close this because the software doesn't support ethernet control. If the user wants to, they can try to use the VICREO Listener and send hotkeys. Otherwise, we can't implement anything here.

[2019-09-25 01:28] #82 closed

[2019-09-25 07:22] JeffreyDavidsz commented on #75
[pixera_api_documentation_5.pdf](https://github.com/bitfocus/companion-module-requests/files/3651059/pixera_api_documentation_5.pdf)
some API info

[2019-09-25 08:56] McHauge commented on #12
Just a Short update, the module now got it's own repository and is included in the Companion V2.0.0 builds.

If there are now errors found it will be ready for a last check through, before being put in the queue for the next release update of companion.

[2019-09-25 09:34] playdeck commented on #12
Hello guys,

I just checked the version you sent me yesterday.

The following commands are working properly:

<nextclip|#>
<previousclip|#>
<restartclip|#>
<jump|#>
<fadein|#>
<fadeout|#>
<stop|#>
<play|#>
<pause|#>
<stopalloverlays|#>
<muteaudio|#>
<activateall|#>
<startrec>
<stoprec>

The following commands show no function but should be working within Playdeck (I checked with socketworkbench)

[2019-09-25 10:04] McHauge commented on #12
Thanks for testing, I'll take a look at it and come back with an update.

When you say "show no function" what do you meen by that? That it's not reacting or that it's not sending the correct request?

[2019-09-25 10:06] playdeck commented on #12
With „shows no function“ I mean that Playdeck does not react in any way if the corresponding button of the Streamdeck is pressed.
If I send the command via a different software solution, everything works fine. So it should probably be an issue within Companion.

Best wishes
Maurits

_________________________________________________
Dr. Maurits Kuiper
JOY event & media GmbH & Co. KG
Eilendorfer Str

[2019-09-25 10:07] McHauge commented on #12
understood, will give it a look

[2019-09-25 10:40] McHauge commented on #12
I think i got them nailed out now, I have updated the compiled version on onedrive.
[https://1drv.ms/f/s!AtUYbExJseNtlK56u-n71V_UcLDe7g](url)

[2019-09-25 12:57] playdeck commented on #12
Yeah, everything runs smoothly now.
Could you also please provide me with the badge „Controllable with Companion“ as a png file?

Best wishes
Maurits

_________________________________________________
Dr. Maurits Kuiper
JOY event & media GmbH & Co. KG
Eilendorfer Str. 215
D-52078 Aachen
Tel. +49 (0)241 99 000 6-12
Fax +49 (0)241 99 000 6-99
mk@joy-event-media.de<mailto:mk@joy-event-media.de>

Sitz

[2019-09-25 13:05] McHauge commented on #12
Lovely, I will get it updated in the core and get in in the queue for the next release. The "works with companion" logo can normally be found here, but for some reason, it's missing atm, they are already working on fixing it, and I would expect it to be available there again tomorrow.
[https://github.com/bitfocus/companion/wiki/Linking-to-Companion](url)

[2019-09-25 13:42] drewtaylor11 commented on #1
That’s awesome. Thank you. I will follow up when I have a chance to test the updates.

From: Andreas Thomsen <notifications@github.com>
Sent: Monday, September 23, 2019 11:32 PM
To: bitfocus/companion-module-requests <companion-module-requests@noreply.github.com>
Cc: drewtaylor11 <dmtaylor11@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [bitfocus/companion-module-requests] Module

[2019-09-25 13:50] McHauge commented on #1
also, there are a few changes in the other to as well, mainly there is now presets for all functions and the config page is identical between all 3 modules.

If it completes your testing then I will get them added to the queue for inclusion in the next release build (all 3, but you have already kinda done the 2 of them)

-Andreas (McHauge)

[2019-09-25 13:50] altar4 opened #97 "Sony PMW-PZ1"
[Sony PMW-PZ1 Manual.pdf](https://github.com/bitfocus/companion-module-requests/files/3652811/Sony.PMW-PZ1.Manual.pdf)

Hello,
 I was wondering if it was possible to add this 4K player, in the list of devices controllable by Stream Deck
The idea will be to have at least the possibility to deport playback actions like PLAY/PAUSE/REWIND/FORWARD/STOP

I know that we can access the controls through a

[2019-09-25 14:37] stephen-gh opened #98 "Module Request: Go Button 3 (Figure 53)"
Have a module that will allow you to run the hits as well as the cues for Go Button 3 by Figure 53 which runs on an iPad / iPhone.

[2019-09-25 19:46] McHauge commented on #97
just looked through the manual, but cand find anything about an API, or what commands it sends in the web. I have a feeling that we will need just a bit more info about it, to implement it.

[2019-09-25 19:53] EventReplay commented on #98
Have you tried this:
Create an OSC Generic instance,
change the label to 'GOButton',
enter the IP address,
enter port #53100.

[2019-09-25 20:47] altar4 commented on #97
Thanks McHauge, I will try to ask some questions to Sony Japan, if you have any questions in particular, I can try to convey

[2019-09-25 20:58] McHauge commented on #97
The best possible thing would probably be to get the complete list of API commands if they even want to give that out. But also if it's using HTTP get and post / TCP / UDP.

[2019-09-26 13:08] josephdadams commented on #97
Another option is to have @altar4 determine which HTTP requests are necessary to do the commands desired, and then @McHauge you can reference any of the modules that primarily work via HTTP. Teradek VidiU, PVP, etc. are some examples.

[2019-09-26 14:16] EventReplay commented on #98
@josephdadams
Label I would have thought should be Software and the link I posted is a list of commands.
I had a test a while back and it worked fine with the commands I tried including hits.

[2019-09-26 14:25] stephen-gh commented on #98
Hi @EventReplay, what do you put on the button that would fire Hits 1 then? As I don't quite understand from that documentation what actually needs to be entered in companion on a button, to make Go Button 3, run Hit 1 as an example.

Thanks ...

[2019-09-26 15:08] EventReplay commented on #98
@stephen-gh
Send Message
/hit/1/start

[2019-09-26 17:20] altar4 commented on #97
[PZ1.zip](https://github.com/bitfocus/companion-module-requests/files/3659033/PZ1.zip)

I really don't now if it can help, but I used a websucker to aspire the Webcontroller, and I also took screenshots with the browser inspector on the main buttons.

[2019-09-27 00:03] stephen-gh commented on #98
@EventReplay Thank you, I will give that a try later today.

[2019-09-27 06:29] McHauge commented on #97
Took a look at it, and it looks good, but I feel like the login page might the biggest hurdle. but I will see what I can do with it.

[2019-09-27 07:52] altar4 commented on #97
It would be wonderful

[2019-09-27 11:19] McHauge commented on #24
Hey, Just made a V0.0.1 with most of the commands, if @Ckhallas you have a chance to test it then that would be awesome.

You can download a test version of companion V2.0 for PC and try the module out "AVProconnect AC-MX1616-AUHD", download is via this link:
[https://1drv.ms/u/s!AtUYbExJseNtlK56u-n71V_UcLDe7g?e=1ItNEl](url)

In the meantime, I'll add some presets to some of the functions.

@josep

[2019-09-27 12:52] stephen-gh commented on #98
@EventReplay Thanks for the information, and I now have Go Button 3 on the iPad working via the generic OSC setup.

[2019-09-28 11:40] McHauge commented on #69
depending on how far this has come, then it would be nice to include support for the Lawo V-Pro8. Colorcorrector in the module

[2019-09-30 11:39] #98 closed

[2019-10-01 00:28] josephdadams commented on #97
@McHauge Not sure if this page works similarly, but for the VidiU module, I used session cookie generation and passed it along in subsequent requests to emulate the login process.

[2019-10-01 00:29] josephdadams commented on #90
Closing this until Wirecast decides to have a network API. Otherwise we're just generating hotkeys or applescripts, which isn't a true integration.

[2019-10-01 00:29] #90 closed

[2019-10-01 00:31] josephdadams commented on #12
@McHauge is this module ready? Can we close this issue?

[2019-10-01 06:05] McHauge commented on #12
@josephdadams yes, it's ready, you can go ahead and close this issue

[2019-10-01 06:21] McHauge commented on #24
Updated to a V1.0.0 with presets for all commands

[2019-10-01 06:29] #12 closed

[2019-10-03 19:50] josephdadams commented on #75
Closing because we have this now :)

[2019-10-03 19:50] #75 closed

[2019-10-03 20:52] BenniMTools commented on #75
:-)
_________________________________

Benjamin Müller

Pyrmonter Str. 3
30459 Hannover

web: http://www.benni-m.de <http://www.benni-m.de/>
mobil: +49 172 - 875 25 63
mail: info@benni-m.de <mailto:info@benni-m.de>

[2019-10-05 15:52] alatteri opened #99 "Apple HomeKit control."
Maybe using HomeBridge as the interconnect.

[2019-10-05 16:18] JeffreyDavidsz commented on #99
Closing this, please provide additional information as per requested

[2019-10-05 16:18] #99 closed

[2019-10-05 20:45] josephdadams commented on #99
@alatteri if you can help provide documentation for the protocol and the actions you’d like to see, you can re open the request with that information.

[2019-10-08 06:46] quentinmit commented on #83
@haakonnessjoen It's been a while, so it's worth pinging again. Have you had any luck figuring out how to get libftdi working in Companion?

[2019-10-08 23:29] AlexWHughes commented on #66
You can already do basic stuff via OSC if you are looking for a quick solution. As long as you send OSC strings Hippo will read and understand them.

[2019-10-08 23:32] AlexWHughes commented on #77
There is DMX protocol for doing this so maybe look at the DMX mapping for preset recall, etc.

[2019-10-08 23:42] AlexWHughes commented on #15
For simple playback triggering you could use artnet for now.

[2019-10-09 08:56] SalkinDK commented on #66
I know how to do different workarounds but it would still be nice with a official module

[2019-10-09 08:58] SalkinDK commented on #77
i know, but that hasn't got anything to do with either a streamdeck or companion.

[2019-10-09 09:02] AlexWHughes commented on #77
Streamdeck sends artnet. It's a show workaround

On Wed., 9 Oct. 2019, 18:58 SalkinDK, <notifications@github.com> wrote:

[2019-10-09 16:39] rjurden opened #100 "Time Machines Corp Clock"
Documentation can be found here: https://www.timemachinescorp.com/wp-content/uploads/TimeMachinesControlAPI.pdf

[2019-10-10 00:42] jamepenry commented on #69
For me I would want to integrate it in to VSM, so although direct control of devices mentioned above that speak ember + would be awesome,  my initial implementation would be just to fire GPI’s in the vsm software to trigger functions already created.also to receive feed back and or have buttons in companion controlled from gpo’s or other triggers in VSM..

[2019-10-10 02:49] monoxane commented on #69
From what I can tell it's all ember+, the endpoint device publishes its tree and the controlling device polls this and then sends actions to, or reads from nodes, so once it actually works, any device or software supporting the the ember+ implementation can be controlled, let it be direct devices or orchestration such as VSM.

October 10, 2019 11:42 AM, "jamepenry" <notifications@github.com (mailt

[2019-10-10 03:18] monoxane commented on #69
And for actual progress updates, I had issues with the current node implementation of Ember+ and have resorted to re-implementing it from the specification, I'm about half way done on the implementation right now.

I had to take a 3ish week break from it because I was working very extended hours but I'm back now and will try and get it done ASAP.

[2019-10-10 04:13] jamepenry commented on #69
That’s great news about the progress.. I guess I’m just interested as to what will be in the ember+ tree, that we would see in a platform like VSM, from the companion connections, verses companion having options to control different values in devices in a button dropdown

[2019-10-10 04:23] monoxane commented on #69
The tree contents are entirely dependent on the manufacturer implementation of them, so VSM will probably show up with a list of actions, GPIs, and GPOs, whereas devices will present values, settings, tallies, IO, and other things. Some of the schemas are made available in the Ember+ core repo [here](https://github.com/Lawo/ember-plus/wiki/Schemas) but most manufacturers don't make them available

[2019-10-10 04:28] jamepenry commented on #69
Yeh totally, but as far as I know VSM is a consumer like companion. I don’t think it has list of properties that have values to change, it will connect to other devices to receive there trees and values. that’s why I though maybe if in that instance companion could act as a device with a pool of gpi’s or flags that could represent a button press status or somthing along those lines.

[2019-10-10 07:26] McHauge commented on #92
Hi, is it just me or are the link broken?

[2019-10-10 16:55] jdrothrock commented on #92
https://q-syshelp.qsc.com/Content/External_Control/001_External_Control_Overview.htm?tocpath=External%20Control%7C_____0

[2019-10-10 16:56] jdrothrock commented on #92
Weird. It got replaced with a GitHub url. I just added the link back.

[2019-10-10 18:05] hallandrewjohn opened #101 "Module Request: Sain Smart TCP/IP 8-Channel Relay"
Hello,

I have a TCP/IP 8-Channel Relay Box from Sain Smart. One of the comments on the product does a good job of explaining how the modules works, but basically there is a web URL that turns relays on and off.

If I browse to the webpage "http://192.168.1.4/30000/**01**" relay 1 will turn off & if I go to "http://192.168.1.4/30000/**01**" relay 1 will turn on.

The default IP is 192.168.1.4, but

[2019-10-11 11:36] McHauge commented on #96
Hi, got the basics for this module set up with most of the available commands included, but I'm a bit stuck on how to do the login sequence, they don't really specify that part to the same depth.

-Andreas

[2019-10-13 05:33] houtacheng opened #102 "remote samsung tv"
**Describe the feature**
samsung tv remote

**Is this platform dependent (windows, mac, ..)?**
mac 10.15

**If documentation is required to implement, do you know where to find it?**
https://github.com/Ape/samsungctl

**Usecases**
mute tv

[2019-10-14 13:19] McHauge commented on #96
@JeffNeubauer Hey just got done with the initial part of the module, and I think I got the login part, up and running.

It would be awesome if you had time to test the module, there is a Windows build of companion 2.0 with the module, attached in the download link below.

[https://1drv.ms/f/s!AtUYbExJseNtlK56u-n71V_UcLDe7g](url)

[2019-10-14 14:03] McHauge commented on #89
From, what I can find on it, then Mopidy supports, both HTTP post, WebSockets and TCP (MPD. [https://docs.mopidy.com/en/latest/api/http/#json-rpc](url)

But what commands/functions do you need? then we can start with that and work our way up as we need them.

But I'm not sure if i got time for it, but this is what I found if someone wants to have a go.

[2019-10-14 14:12] McHauge commented on #97
Just a short update, haven't looked more into this at this time if someone else wants a go at it, feel free to do so.

[2019-10-14 17:06] sytem opened #103 "Module request: Birddog studio"
**Describe the feature**
Module for changing BD studio or Mini operating mode ( SDI/HDMI -> NDI or NDI -> SDI/HDMI) and active NDI input

**Is this platform dependent (windows, mac, ..)?**
no

**If documentation is required to implement, do you know where to find it?**

https://github.com/ualmarcus/BirdDog-cURL

**Usecases**
Using NDI to SDI convert as AUX for vmix or other NDI system

[2019-10-14 18:44] JeffNeubauer commented on #96
I'll try and test it this week.  Thanks so much!

[2019-10-14 20:43] McHauge commented on #103
Hey, personally I feel like I need just a tad more info before I can comfortably make a module. I'm a bit lost in the long commands/lists with no description, can I just phrase it as one long HTTP post request, or will I need to manipulate it? (normally I use TCP for most of the modules I make)

[2019-10-14 21:30] drewtaylor11 commented on #1
@McHauge I finally got a chance to test with the 8x4 and the DIMAX-Pro and DIVIP-Pro. Everything seems tot be working fine. i will admit I did not test all the new commands yet like presets but all the main commands I requested are working great. Auto login is working with no issues. Also the MD5 hash converter is working for the 8x4 login. Thanks for all of your help.

[2019-10-14 23:25] josephdadams commented on #103
@McHauge take a look at my Teradek module. This looks like a similar approach. I have a birddog studio so I can help test.

[2019-10-15 05:49] sytem commented on #103
Basicly there would be three actions. There need to be 3 variable for instance, ip/hostname, username and password

**Change NDI source**, where command is the first. ( I haven't yet tested those, just found them. Will do it next time I am at the studio I have those devices) As far I understand, each command is two http-requests, one to login and other for actual command.

`curl -s http://birddog-

[2019-10-15 07:52] McHauge commented on #1
That's awesome, I'll mark them as done, if something comes up, we can take it from there.

-Andreas

[2019-10-15 07:52] #1 closed

[2019-10-15 07:54] McHauge commented on #43
Just got confirmation, after some testing of the module, and it seems to be working, I'll mark this as done and close this thread, for now, we can open it again if something comes up.

-Andreas

[2019-10-15 07:54] #43 closed

[2019-10-15 08:37] McHauge commented on #44
Ups kinda overlooked this one, but it's kinda a duplicate of #96 and the module is now in testing and should work with all sharp monitors/tv's, I'll add the channel option to the module

[2019-10-15 12:56] McHauge commented on #41
@jsuofga Hey just completed a test version of this module with most/nearly all available commands included and presets for all actions.

You can get a test build of companion v2.0 with the module from the link below, it would be awesome if you could test if the module and all the actions work as expected. Then we can add it as completed and include it in the main build.

Download link:
[https://1d

[2019-10-15 21:39] jwxzy opened #104 "Haivision"
**Describe the feature**
Module to interact with the Haivision Makito X Encoder/Decoder System, a system that allows churches, businesses to stream from one location through an encoder, and receive the stream through the decoder in another location including audio.

**Is this platform dependent (windows, mac, ..)?**
Nope, however they have an online web GUI to interact with the system.

**If docum

[2019-10-16 13:26] McHauge commented on #101
@hallandrewjohn Hey just got done with the initial part of the module, and I think I got it up and running.

It would be awesome if you had time to test the module, there is a Windows build of companion 2.0 with the module, attached in the download link below.

[https://1drv.ms/f/s!AtUYbExJseNtlK56u-n71V_UcLDe7g](url)

[2019-10-16 14:59] hallandrewjohn commented on #101
@McHauge You're a champ! I only had a quick minute to test it out while at work today, but it seemed to work great. I'll run it through a stress test this evening to see if I can break it.

I'm new to this community and the process here, should I anticipate this to be in the next release of Companion or is there a way I can get this to merge with the version I'm running on my mac?

[2019-10-16 15:03] hallandrewjohn commented on #92
I second this request. This would be great!

[2019-10-16 15:20] McHauge commented on #101
That's great after you have done some testing I will mark it as ready and then it will show up in the next release, and in the daily v2.0 builds, where there should be both Windows, LInux and Mac builds:
[https://builds.bitfocus.io/companion/](url)

[2019-10-16 15:45] hallandrewjohn commented on #101
Thanks! I did some further testing and it worked great! Thanks again.

[2019-10-16 17:13] McHauge commented on #101
@hallandrewjohn Great gonna mark this as done and set it up for the next release.

[2019-10-16 17:13] #101 closed

[2019-10-16 22:33] jdrothrock commented on #92
For the most part I want to be able to fire snapshots that have already been recorded in Q-Sys.

[2019-10-17 07:04] dewiweb commented on #69
If you need tester, I'm volunteer. We've a MC²36 mixer by Lawo and 3 Mediornet compactPro frames to manage.
Regards

[2019-10-17 12:17] MrMagicSlick commented on #84
Hi McHauge

Do you have a build that includes your module?
For us lesser experienced people which a compiling might be to much to swallow.

[2019-10-17 12:21] McHauge commented on #84
Yes, I do, it's included in all my V2.0 test builds for Windows, compiled for other modules that I'm working on, or at some point did.

You can find them at this link, but remember there is no official support for it:
[https://1drv.ms/f/s!AtUYbExJseNtlK56u-n71V_UcLDe7g](url)

[2019-10-17 12:24] MrMagicSlick commented on #84
Thanks, that's great

[2019-10-17 12:30] McHauge commented on #92
@jdrothrock @hallandrewjohn Hey just got done with the initial part of the module, and I think I got up and running.

It would be awesome if you had time to test the module, there is a Windows build of companion 2.0 with the module, attached in the download link below.

[https://1drv.ms/f/s!AtUYbExJseNtlK56u-n71V_UcLDe7g](url)

[2019-10-17 17:45] EventReplay commented on #91
Just had to update firmware on a couple of these to get ducker and AMM.

Is this what your after Re: Protocol Documentation?
https://www.allen-heath.com/media/Qu_MIDI_Protocol_V1.9.pdf

[2019-10-18 09:16] McHauge commented on #37
@JeffreyDavidsz how far did this one come?

[2019-10-19 15:00] JeffreyDavidsz commented on #37
Did not have the time to start on it yet

[2019-10-19 16:26] dewiweb commented on #79
You can already control it via HTTP module and a web interface plugin like :
[https://github.com/hyperblast/beefweb](url)

[2019-10-21 18:46] jdrothrock commented on #92
@McHauge

I have will give this a try this week. Thanks

[2019-10-22 11:25] bryce-seifert opened #105 "Module Request: Slack"
**Describe the feature**
Ability to send out preset messages via Slack.

**Is this platform dependent (windows, mac, ..)?**
No.

**If documentation is required to implement, do you know where to find it?**
https://api.slack.com/rtm ; sending messages portion

**Usecases**
We use Slack in our studio complex, and it would be helpful if a TD could ping the engineer, report an issue, or notify that re

[2019-10-22 15:59] josephdadams commented on #105
Sure thing, I'd like this too. I'll get started soon.

[2019-10-22 20:37] josephdadams commented on #105
@bryce-seifert I'm waiting on the module repo to be set up so I can push the code to it, then we can get it in a dev build for you to try out. Or, if you have your own dev environment set up, you can just download the code and run it yourself.

[2019-10-22 23:28] bryce-seifert commented on #105
Nice! Thanks for working on this. I don't have a dev environment, but am excited to try this one out.

[2019-10-22 23:34] josephdadams commented on #105
You're welcome! It supports 3 actions:

1. Send a predefined message (you can define up to 5 messages in the instance settings)
1. Send a custom message (textbox)
1. Send a Block Kit message in JSON format. Slack supports very dynamic message styles, so if you know how to do that, you can send it!

[2019-10-22 23:37] kaleforge opened #106 "Newtek TC1 Switcher"
I would love the same controls that are on the ATEM switcher on the TC1
This switcher is run off of a windows OS

Thank you!

[2019-10-25 07:41] mko1989 opened #107 "Request for support of Roland VR-50HD MKII video switcher"
Basically the same control standard as V60-HD with a couple different commands.

Here is a link to the reference manual with all the commands:
https://proav.roland.com/global/support/by_product/vr-50hd_mk_ii/owners_manuals/df616773-c6e6-42e7-8f86-c89f61885d55/

[2019-10-25 09:06] McHauge commented on #107
I'll take a look at it, but I guess some of the V-60HD modules also works with this unit but will make a new module, will probably have a test build ready next week.

[2019-10-25 11:54] josephdadams commented on #107
@McHauge i’m happy to take a look, since I’ve created all the other Roland modules.

[2019-10-25 11:56] McHauge commented on #107
If you want to you can then just swap the assigned to, back to you

[2019-10-25 16:42] karlvti1 opened #108 "Novastar v-can/n9 switcher module request"
looking for present recall 1-32 and take fade and cut for the n9 switcher
https://www.novastar.tech/product/video-processor/
https://www.novastar.tech/wp-content/uploads/2019/06/V-Can-User-Manual-V3.3.pdf

Many Thanks keep up the good work :)

[2019-10-25 17:28] josephdadams commented on #107
@mko1989 just waiting on the repo to be set up. The module is ready.

[2019-10-26 12:11] josephdadams commented on #107
@mko1989 code is uploaded. https://github.com/bitfocus/companion-module-roland-vr50hd-mk2
Do you have a development environment set up where you could test this? Or do you need a binary built?

[2019-10-27 02:09] haakonnessjoen commented on #79
The link mentioned in the description is a plugin with REST support for controlling foobar2000.

[2019-10-28 00:30] josephdadams commented on #107
@mko1989 go download the latest bleeding edge build of 2.0 from http://builds.bitfocus.io and test this out please. Report back any issues. Thanks!

[2019-10-28 00:39] josephdadams commented on #108
@karlvti1 It doesn’t look like the v-can software itself has any Ethernet protocols to control it, and a quick search didn’t reveal the n9 control protocol. Please reach out to NovaStar and ask for it. Be sure to ask if the protocol can be used in an open source software. Thanks!

[2019-10-28 00:40] josephdadams commented on #105
@bryce-seifert go download the latest bleeding edge build of 2.0 from http://builds.bitfocus.io and test this out please. Report back any issues. Thanks!

[2019-10-28 17:33] bryce-seifert commented on #105
Got this installed this morning and took it for a test run, it’s looking great! I’ll keep testing and provide feedback here.

[2019-10-28 23:41] bryce-seifert commented on #105
Did some more testing, and everything seems to be working well with booth predefined and custom messages. I haven't tested Block Kit. One question, though it may prove unwieldy: would it be possible to echo the message in the instance dropdown for predefined messages instead of just "1...2...etc." Not sure if that makes sense, but I found myself having to go back to remember which message is which

[2019-10-29 10:26] tiefschallwerk opened #109 "Support for Epson EB-L-Series Projectors"
There is a windows application to control Epson EB-L Projectors in your local Network. You can also reach the Devices in your Browser over their IP-address.

Is there a way to implement at least basic Controls like turning it on/off or triggering the shutter on these Projectors?

We use EPSON EB-L1755U 3LCD PROJECTORS and really miss this feature!

[2019-10-30 19:12] josephdadams commented on #105
Sure. Done. Updated the repo, just need it pushed to the core and binary built if you're not running a dev environment.

[2019-10-31 12:32] McHauge commented on #109
Hey, @tiefschallwerk would it be possible for you to look up some documentation on how it communicates? this would make for a faster implementation.

[2019-10-31 13:07] McHauge commented on #4
@krocheck and @isaiahwilliams just looked at the Slack message, is there an unfinished module in existence somewhere?

[2019-11-01 13:46] hadphild opened #110 "H2R Support"
Module Support for a H2R that does cut and fill and Chroma key messages and lower thrids

https://heretorecord.com/graphics#download
https://heretorecord.com/graphics/docs#osc-control

Just adding OSC support in a module

[2019-11-02 02:46] josephdadams commented on #110
Just waiting on the repo to be made so I can push this. @hadphild will you test it when it's there?

[2019-11-02 10:49] josephdadams commented on #107
@mko1989 how did testing go?

[2019-11-02 12:02] josephdadams commented on #110
@hadphild https://github.com/bitfocus/companion-module-h2r-graphics

[2019-11-02 12:05] josephdadams commented on #105
Closing since this has been made!

[2019-11-02 12:05] #105 closed

[2019-11-02 12:11] josephdadams commented on #68
@JeffreyDavidsz should we break this out into multiple module requests - GLD, iLive, dLive, QU, SQ, etc?

[2019-11-02 12:16] josephdadams commented on #56
Protocol: https://www.allen-heath.com/media/SQ-MIDI-Protocol-Issue1.pdf

[2019-11-02 12:18] josephdadams commented on #47
@somerockenguy @mikelconnor did you guys ever get together and work on this?

[2019-11-02 12:26] josephdadams commented on #96
@JeffNeubauer how did testing go?

[2019-11-02 12:26] josephdadams commented on #44
@McHauge can we close this one?

[2019-11-02 12:33] josephdadams commented on #24
@Ckhallas did you test? @McHauge is this pushed to core - can we close?

[2019-11-02 12:36] McHauge commented on #44
@josephdadams sure but was kinda waiting for some test result before doing it myself

[2019-11-02 12:41] McHauge commented on #24
@josephdadams yes it's included in the core, but was kinda waiting for some test result before closing it myself

[2019-11-02 12:42] josephdadams commented on #53
@ghost is a deleted account. This request can be accomplished with the VICREO hotkey module. Closing this request for both of those reasons.

[2019-11-02 12:42] #53 closed

[2019-11-02 12:48] josephdadams commented on #80
@pibo5 if you're still interested in having this module created, can you find the link to the documentation, please?

[2019-11-02 12:52] josephdadams commented on #8
@filmwork68 if you'd still like to see this module created, can you provide a link to the documentation to control it? Without a device to develop/test with, we won't be able to create this unless we have documentation on the command structure. Also, what actions are you looking for (what would you like to be able to control on the unit)?

[2019-11-02 12:56] josephdadams commented on #10
I read through the provided protocol, and it looks like it is rs-232 only. That means we won't be able to fulfill this request since we require Ethernet control. @nathanroest you could look into using an ethernet to RS232 device like the ones from Global Cache, which are already supported in Companion. Good luck! If you disagree with this assessment or have further questions, feel free to re-open

[2019-11-02 12:56] #10 closed

[2019-11-02 13:04] josephdadams commented on #14
@RockitFX can you provide any documentation for this?

[2019-11-02 13:12] josephdadams commented on #85
@clementcle85 have you tried using the generic OSC module to control this? It would help you until the "official" module could be created.

[2019-11-02 17:06] mko1989 commented on #107
Sorry about that. I went ahead of time with that module request. My company
is getting few units of that Roland but in a few weeks. As soon as we get
them I will test it but it will take some time.
Sorry for that.

sob., 2 lis 2019, 11:49 użytkownik Joseph Adams <notifications@github.com>
napisał:

[2019-11-02 17:32] filmwork68 commented on #8
@josephdadams They don't have official documentation but I have provided an official list of all the RESTAPI calls commands that the FSHDR Supports from AJA (which you can get to on the FSHDR) itself if you have one. The actions I'm looking to support are changing the input/output color spaces, the color control modes, SDI input/output settings. Basically anything in the restAPI but I know that co

[2019-11-02 19:41] josephdadams commented on #8
@filmwork68 thanks! I will take a look at this. It looks similar to how AJA does their Ki Pro's, which I am very familiar with.

[2019-11-02 20:08] pibo5 commented on #80
Hi,

Here you can find helpful resources to understand and try MAdMapper OSC:

MadMapper can be downloaded here: https://madmapper.com/try-buy/try-madmapper/

MadMapper Scenes and Cues: https://madmapper.com/doc/cues/

Mad Mapper video tutorials: https://www.youtube.com/channel/UCC9p0fzuYik453n9fXFjpgg

Example of OSC implementation between MadMapper and Vézer, https://www.youtube.com/watch?v=1UTU

[2019-11-02 20:21] josephdadams commented on #80
So it sounds like you can control what you need with the Generic OSC module, but you're looking for feedback (via OSC sending from Mad Mapper) back into Companion. Is that right?

[2019-11-02 20:38] pibo5 commented on #80
Well,

It would be perfect that the Companion app could have a list of commands like happens with other listed applications. If it could work bidirectionally, sending the current status to the Streamdeck buttons, perfect.

[2019-11-03 11:44] qvestmedia opened #111 "Support for Matrox Monarch Edge 4 channel"
I would like to request the support for the Matrox Monarch Edge ( https://www.matrox.com/video/en/products/monarch_edge/specs/?ref=ad_BVE_blog_Monarch_Edge_article )

Use Case: Start and Stop the streaming of a given streamer output (GUID)

I can provide the API spec as personal mail.

[2019-11-03 12:05] josephdadams commented on #8
@filmwork68 is there an HTML version of this page you could send me? The XML is a little hard to read. The descriptors page on my Ki Pro is very easy to read in a browser, so I was just wondering. Thanks!

[2019-11-03 18:15] josephdadams commented on #111
Can you provide the API spec publicly here?

[2019-11-05 08:50] McHauge commented on #3
@PerRoine How much does the "Christie pj" module support, might be a reason to make a V2.0 of the module?

[2019-11-05 16:34] RockitFX commented on #14
Hi,
I don't know what documentation you would need, as all documentation about the software is readily available on the Madrix website. That being said, I no longer need any help with this matter as I've sold all of my stream decks & opted to continue using touch screen monitors insteads. While I still think the stream deck would work well for this application, I am not a software developer & appa

[2019-11-05 17:06] josephdadams commented on #14
Then I will close this request. Have a nice day!

[2019-11-05 21:20] filmwork68 commented on #8
Hey @josephdadams let me work on getting that to you, should have it shortly..

[2019-11-05 21:25] filmwork68 commented on #8
@josephdadams here is the descriptors as an HTML page.
[aja-fs-HDR  FSHDR DIT CART  AJA FS Descriptors.zip](https://github.com/bitfocus/companion-module-requests/files/3811301/aja-fs-HDR.FSHDR.DIT.CART.AJA.FS.Descriptors.zip)

[2019-11-06 07:42] qvestmedia commented on #111
Yes, it is. I am in the process of getting the approval from Matrox to paste the API Spec publicly here.

[2019-11-06 15:37] McHauge commented on #3
@JJAmmons Think I got most of the commands updated and included, in the Christiepj module. +40 new commands but none with feedback yet, also still need to add presets.

If you could run a test with the current setup that would be awesome, you can find a compiled test build at this link: [https://1drv.ms/f/s!AtUYbExJseNtlK56u-n71V_UcLDe7g](url)

[2019-11-06 22:45] wtapper89 opened #112 "Ross Mira/Tria"
I'd love to see a module to be able to cue and play a clip using a Ross Tria using the API documented here: https://usermanual.wiki/Document/AbekasMiraEthernetAPI.2237119839/html

[2019-11-07 09:53] McHauge commented on #92
@jdrothrock have you had time to test this?

[2019-11-07 13:14] JeffreyDavidsz commented on #68
If the API's are different, yes

[2019-11-10 00:27] dubpixel opened #113 "Utah Scientific RCP v 1.5"
Hi -

since we are not yet able to create our own TCP strings (yes i get why, and commend your approach)  - i would like to request the utah scientific RCP v1.5 for their router systems. documented here:

https://utahscientific.com/support/protected/manuals/Remote%20Control%20Protocol%20V1.5E.pdf

its just crazy to think that after 15 years of writing my own control string formulae, that someone e

[2019-11-10 00:33] dubpixel opened #114 "ImagePro II additional features"
can you please add, scaling, pan, zoom, logo  recall and store?

thanks!

[2019-11-10 19:44] bastiaanrodenburg opened #116 "Support for Dahua / Amcrest PTZ cams (developed by me)"
**PLEASE USE THIS PAGE IF YOU WANT SUPPORT FOR A NEW DEVICE**

https://github.com/bitfocus/companion-module-requests/issues/new

**Describe the feature**
I'm developing a module to control Dahua PTZ cams. They use the Amcrest protocol over HTTP. Are you interested in the source?

**Is this platform dependent (windows, mac, ..)?**
No
[Amcrest+HTTP+API+3.2017.pdf](https://github.com/bitfocus/compani

[2019-11-11 15:41] officialmattsnyder opened #115 "Twilio REST API"
**PLEASE USE THIS PAGE IF YOU WANT SUPPORT FOR A NEW DEVICE**

https://github.com/bitfocus/companion-module-requests/issues/new

**Describe the feature**
A module to communicate with Twilio's REST API

**Is this platform dependent (windows, mac, ..)?**
No

**If documentation is required to implement, do you know where to find it?**
https://www.twilio.com/docs/usage/api

**Usecases**
Allows notific

[2019-11-12 19:39] josephdadams commented on #110
@hadphild tested?

[2019-11-12 19:42] josephdadams commented on #96
@JeffNeubauer were you able to test this?

[2019-11-12 19:43] josephdadams commented on #24
@Ckhallas did you test?

[2019-11-12 19:43] josephdadams commented on #107
@mko1989 let me know how testing goes. Thanks!

[2019-11-12 20:24] Ckhallas commented on #24
Hi Joseph.

I Dont have the equipment to test it, i was on a gig with it, when i
requested it.
But was perhaps to optimistic to hope for it to be done in time. :-)

Sry guys

Den tir. 12. nov. 2019 kl. 20.43 skrev Joseph Adams <
notifications@github.com>:

--
Med Venlig Hilsen // Best Regards

Carsten Kastoft Hallas.

[2019-11-13 13:26] McHauge commented on #3
Updated the module, now with the 40+ commands, feedback for some options, and presets. There is a build available for testing at the link above. It should also be included the core and available in new V2.0 builds

[2019-11-13 14:05] roxipoxi opened #117 "Support for Mix16 Pro"
Would be awesome to have a similar built as for Qlab to control this software. Start/stop, cues and so on.

[2019-11-13 14:44] JJAmmons commented on #3
Andreas,

Thanks for your work on adding commands to this module!  Unfortunately, subsequent to my original request for more commands, we have replaced these Christie projectors with ones from another manufacturer so I no longer have the ability to participate in the testing process for these updates.  I do apologize.  The replacement of the projectors happened quickly and unexpectedly.

From: And

[2019-11-13 15:12] josephdadams commented on #24
@McHauge I'm closing this, and we can just let anyone who stumbles upon the module in the wild submit a bug request if something doesn't work right.

[2019-11-13 15:12] #24 closed

[2019-11-13 15:15] josephdadams commented on #117
Supports control via OSC. Please provide a link to the OSC documentation. Thanks!

[2019-11-13 15:45] roxipoxi commented on #117
https://mix16apps.helprace.com/i96-built-in-default-osc-commands

Sendt fra min iPhone

[2019-11-13 16:59] jeffmikels opened #118 "Including My Module :: Generic OS"
https://github.com/bitfocus/companion-module-generic-os

I'm asking you to include this module in core according.

[2019-11-13 19:51] josephdadams commented on #118
Duplicate issue from companion repo. We will handle it there.

[2019-11-13 19:51] #118 closed

[2019-11-14 10:43] Nojbi2000 commented on #84
Hello, I tryed to download the build but link does not show the file. Could you please share again? I would like to use it too! Thank you!

[2019-11-14 11:17] McHauge commented on #84
@Nojbi2000 here you go: [download](https://1drv.ms/f/s!AtUYbExJseNtlK56u-n71V_UcLDe7g)

[2019-11-14 11:22] Nojbi2000 commented on #84
Great. Thank you!
Jan
 <skype:jan.neubauer?chat>

[2019-11-15 17:39] WayneAndrewsMatrox commented on #111
Hi Joseph,
Could you please email me in regards to the API you are requesting?
wandrews@matrox.com

[2019-11-17 08:50] JerusalemMediaGroup opened #119 "Livestream Studio 6"

[2019-11-17 18:58] scottyd5 commented on #8
Also looking for an Aja FS2 module. Attached is a zipped HTML page. Thank you!

[FS2_ aja-fs2.zip](https://github.com/bitfocus/companion-module-requests/files/3855972/FS2_.aja-fs2.zip)

[2019-11-18 01:52] josephdadams commented on #119
@JerusalemMediaGroup can you provide more information please? A request should include any protocol documentation and what you are hoping to be able to do in Companion. These things will help us prioritize and determine the possibility of fulfilling the request. Thank you!

[2019-11-18 02:02] josephdadams commented on #119
A quick product search shows that Studio 6 has a web GUI interface, which could possibly be used for remote control within Companion. As a customer and user, can you reach out to the company and ask if they have a REST API or some other control method available for the software?

[2019-11-18 14:10] MarcHagen commented on #68
I belief the SQ series is indeed different.
#56 https://www.allen-heath.com/media/SQ-MIDI-Protocol-Issue1.pdf

[2019-11-19 11:59] McHauge commented on #92
@jdrothrock have you had time to test this?

[2019-11-19 12:02] McHauge commented on #41
Gonna close this, it's included in the core, and if errors come up we can open it again

[2019-11-19 12:02] #41 closed

[2019-11-19 12:04] McHauge commented on #44
Gonna close this one, it' included in the V2.0 core and if errors come up, then we will take it from there.

[2019-11-19 12:04] #44 closed

[2019-11-19 15:46] josephdadams commented on #8
@scottyd5 I need you to send me the "descriptors" page. http://[ipaddress]/descriptors

Thanks!

[2019-11-20 17:06] scottyd5 commented on #8
Whoops. Here you go!

[aja-fs2-Descriptors.zip](https://github.com/bitfocus/companion-module-requests/files/3870388/aja-fs2-Descriptors.zip)

[2019-11-20 21:54] planetoid-netizen opened #120 "Request for Ensemble Designs BrightEye NXT 430-X"
Hi,
I am very interested in a module for the BrightEye NXT 430-X.
Documentation from the manufacturer is attached below.

[BrightEye_NXT_Router_R1_2_SW200.pdf](https://github.com/bitfocus/companion-module-requests/files/3871524/BrightEye_NXT_Router_R1_2_SW200.pdf)

[2019-11-21 21:04] parrot2602 opened #121 "SONOS"
I would like to user streamdeck for sonos volume up/down and
previous/next song in the playlist.
...maybe choose a playlist but that isn´t much important.

[2019-11-21 22:13] josephdadams commented on #121
A quick google search for Sonos API, I found this. Pasting it here for anyone who is interested: https://github.com/jishi/node-sonos-http-api

[2019-11-22 13:13] raylohsg opened #122 "Logitech Rally Camera"
**Describe the feature**
Allow the control of the Rally pan-Tilt-Zoom USB Camera (UVC profile)

**Is this platform dependent (windows, mac, ..)?**
Windows,MacOS

**If documentation is required to implement, do you know where to find it?**
There is a camera settings from Logitech, but i think it is using the UVC profile commands?

**Usecases**
To be able to launch presets, or control pan-tilt-zoom

[2019-11-22 18:29] QuentinBrown opened #123 "Decimator Multiviewers support, including DMON models, MD-QUAD and DECIMATOR_QUAD"
Whilst basic control of these is available using the GPI interface on the units the GPI controls represent a very basic subset of all the controls on the device which can be accessed via an app over USB or the on-device menus.

See product pages here: https://www.decimator.com/Products/MultiViewers/MultiView.html

Unfortunately, there is no SDK available for the USB control of the units and Decima

[2019-11-22 19:05] haakonnessjoen commented on #123
Duplicate of #83 I think. Unless these devices does not use the same software or usb protocol.

[2019-11-23 15:03] QuentinBrown commented on #123
Ah! Yes it is. Thanks for the link.
I did have a look around to see if it was on the radar already but obviously didn’t look deep enough. I’ll keep future posts on the topic to that thread.

[2019-11-23 15:09] QuentinBrown commented on #83
I would also love to hear of anymore progress on this. I just learnt about companion and bought a stream deck and this is the missing key for me to the ideal system control button setup.

Last real update was that we need to see if it is possible to compile fdti libs as posted by haakonnessjoen

But no update as to how anyone has got on with that to know if this can move forward.

[2019-11-23 15:29] josephdadams commented on #123
Closing because it’s a duplicate.

[2019-11-23 15:29] #123 closed

[2019-11-24 01:24] josephdadams commented on #116
@bastiaanrodenburg how is your module coming?

[2019-11-24 01:27] josephdadams commented on #110
@hadphild did you test this yet?

[2019-11-24 01:28] josephdadams commented on #107
@mko1989 did you get your units yet?

[2019-11-24 10:47] antlear opened #124 "Video playout server module"
Hi
I was wondering if it might be possible to get a module fairly soon for a program called video playout server https://resources.faithchapel.cc/blogs/video_server

The tcp commands are
rollClipCh1
stopClipCh1
pauseClip Ch1
selectPrevClipCh1
selectNextClipCh1

There are two players in the software so the tcp commands then change to

rollClipCh2
stopClipCh2
pauseClip Ch2
selectPrevClipCh2
selectNe

[2019-11-24 13:06] bastiaanrodenburg commented on #116
Thank you for coming back to me. I'ts working here. I'm not very good in
working with Git (this is my first project!). But if you could make a repo
I can upload it. Maybe somebody else should check it out before it becomes
part of the build.
I've also create another module voor Foscam PTZ camera's.

Op zo 24 nov. 2019 om 02:24 schreef Joseph Adams <notifications@github.com>:

[2019-11-24 13:11] JeffreyDavidsz commented on #116
Hi Bastiaan, the repo's have been created for you and you have access (please check mail).

[2019-11-24 21:10] bastiaanrodenburg commented on #116
Thank you. I've added to files to the repos. Not sure about the further
proces of incorporating this in the core build. I guess you have to make a
link in lib/module to the new repos. I've not tested the foscam module
because I don't have the camera at home :-) Will do it this week.

Bastiaan

Op zo 24 nov. 2019 om 14:11 schreef Jeffrey Davidsz <
notifications@github.com>:

[2019-11-25 01:18] josephdadams commented on #116
@JeffreyDavidsz can pull them to the core and generate a build when you're ready. Ping back here when the foscam is tested. Thanks!

[2019-11-25 01:20] josephdadams commented on #122
@raylohsg is there a network based protocol to support this device? If it's only controllable via USB, then this request cannot be fulfilled at this time.

[2019-11-25 22:20] robertsmyth1970 opened #125 "Vizrt Support"
Is there anyone planning to support the Vizrt Graphics system? Maybe support to call up graphics pages directly from the streamdeck and play to air?

[2019-11-25 22:21] josephdadams commented on #125
Thanks for the request, @robertsmyth1970! Any documentation you can provide for control?

[2019-11-25 23:14] robertsmyth1970 commented on #125
Hi Joseph and thanks for the reply, there is oceans of info out there, it just depends on how one might approach it. The initial approach would be for keyboard macros to instruct the Trio portion of the system (Trio is essentially the main controller) after that there is a significant number of command instruction that would need to be worked on, ill have to decide how best to approach this portio

[2019-11-26 06:52] mko1989 commented on #107
Finally got them yesterday. Had a little time for testing but in that time everything seemed to work fine. The only thing i noticed was that in option "Select source video for video input" there is "Still" in the Input number drop down which doesn't work nor it should. There is another option "Select still image of the STILL button" which does that and works as expected.
I will do more testing soo

[2019-11-26 12:46] josephdadams commented on #107
Thanks! I thought that was strange too, but it was listed in the official reference manual from Roland, so I put it in there. Now we know that was not correct. I’ll remove it and update the repository.

[2019-11-26 23:25] josephdadams commented on #125
Once you’ve decided and looked at the oceans of info, then post a link to the protocol spec that allows us to control it from Companion. :)

[2019-11-27 08:38] Feuerbasti opened #126 "Request companion module for jinx! LED matrix control"
jinx! LED software also is an open source projects. With this software you can create your own LED matrix no matter how assymmetric they are and run some content over it. I am working on some art projects with LED´s and it would be great if one of you could make the stream deck work with it.
Thanks in advance, Sebastian

[2019-11-27 17:53] josephdadams commented on #126
Any links to protocol or control documentation, @Feuerbasti?

[2019-11-27 18:27] Feuerbasti commented on #126
Hi Joseph.

Thanks for your quick answer.
I have attached the manual and here is a link from the inventors of jinx!
http://www.live-leds.de
I hope you find what you need.
I guess the inventor is from germany like me but I have no idea about how
to programm things so I dont really know what to look for to help you.
But if I can help to translate things or so just ask.
Thanks for your help,
Sebastia

[2019-11-27 19:20] josephdadams commented on #107
@mko1989 I've fixed this in the code. @JeffreyDavidsz will update the core and when the build server is working correctly again you can download an updated version of Companion from builds.bitfocus.io.

[2019-11-28 01:43] josephdadams commented on #126
It looks like it supports remote control via Art Net and MIDI if you wanted to try those.

[2019-11-28 12:52] Feuerbasti commented on #126
I will try to run it via MIDI but it would be really nice when the stream
deck would work.
So other people would be able to control my sculptures with the nice marked
stream deck buttons

Am Do., 28. Nov. 2019 um 02:43 Uhr schrieb Joseph Adams <
notifications@github.com>:

--
Feuersenger Sebastian
Lindenstr. 2
82269 Geltendorf Ot. Kaltenberg
0170/2835225

[2019-11-28 13:44] josephdadams commented on #126
@Feuerbasti use the MIDI relay module in Companion

[2019-11-30 13:02] mko1989 commented on #107
Had a little time with the vr-50 today and found another bug, in the select video for AUX bus there is a still source in the drop down which is not available in the actual unit. Please remove this option from the drop down. Thanks a lot for the module :)

[2019-12-01 05:14] BB21B opened #127 "Datavideo SE-1200MU Support"
Hi,

I've been doing some digging into the SE-1200MU and it's undocumented TCP control protocol.

It receives data on port 5003 and needs persistent TCP connections as a lot of new connections seem to lockup the system.

[code]

There are also other transition controls and other DSK transition controls but they have a toggle so the value sent changes.

It would be lovely to see this implemented an

[2019-12-01 17:00] josephdadams commented on #116
@bastiaanrodenburg all tested and ready to close this?

[2019-12-01 17:06] josephdadams commented on #107
@mko1989 fixed in the code. The manual lists it but actually lists them like this:
0 (INPUT 1)
1 (INPUT 2)
2 (INPUT 3)
3 (INPUT 4)
4 (STILL)
4 (PinP)
5 (PinP/KEY)
6 (PGM)

As you can see, id 4 is duplicated. I had simply incremented them in the code assuming the id numbers were typos, but now we can see that it's the entire STILL entry is the typo. :) Please test PinP, PinP/Key, and PGM.

@Jeffrey

[2019-12-01 17:07] josephdadams commented on #110
@hadphild pinging you again to see if you've tested this module you requested.

[2019-12-04 00:07] bryce-seifert commented on #50
Any updates on this? Be happy to help test.

[2019-12-04 09:34] dewiweb commented on #69
Hello,
Is there some news about development of this module??

[2019-12-04 22:47] bastiaanrodenburg commented on #116
Module is tested and ready for a first release if necessary.

[2019-12-04 22:47] #116 closed

[2019-12-05 07:41] JeffreyDavidsz commented on #116
@bastiaanrodenburg of not done already please put a message in slack #moduledevelopment so we don't miss it

[2019-12-08 02:44] Nikolauswied opened #128 "Extron DVS 605"
**Describe the feature**
Would Love to see the DVS 605 in the support list
here is the manual with the commands:
https://media.extron.com/public/download/files/userman/68-2110-50_Crdr.pdf

Basic switching input 1-5 and Preset 1-10 would be great !

[2019-12-10 01:37] bikeatefoucault opened #129 "Module Request - Avolites Ai mediaserver."
support for Avolites Ai mediaserver.

https://www.avolites.com/ai-features

[2019-12-10 01:57] rjurden commented on #100
Hoping someone would be willing to help us out here.

[2019-12-10 04:17] bikeatefoucault commented on #129
https://www.avolites.com/Portals/0/downloads/Software/Ai/Ai%20v12%20User%20Manual.pdf?ver=2019-10-14-120228-527

it works with Artnet, midi, and keyboard shortcuts.

[2019-12-10 04:23] netracer24 opened #130 "isadora media server"
**PLEASE USE THIS PAGE IF YOU WANT SUPPORT FOR A NEW DEVICE**

https://github.com/bitfocus/companion-module-requests/issues/new

**Describe the feature**
A clear and concise description of what the feature does

**Is this platform dependent (windows, mac, ..)?**
Explain

**If documentation is required to implement, do you know where to find it?**
If applicable, add screenshots, protocol descriptio

[2019-12-10 14:45] josephdadams commented on #130
@netracer24 can you provide more information please like links to control protocols, what actions you would like to see, etc.?

[2019-12-11 20:39] paulxharris opened #131 "MultiPlay Audio Cue Playback software"
MultiPlay is some great free software for playing back sounds cues in a theater environment and it would be great if Companion could control it.

MultiPlay has a Telnet interface with some simple commands to drive it.

In the manual attached there is a list of the telnet commands on page 21
ius it possible to get companion to drive it ?

website for multiplay
https://www.da-share.com/software/mult

[2019-12-12 01:20] josephdadams commented on #131
@paulxharris a model module request submission. Thank you! I imagine this will get made pretty quickly because of that.

[2019-12-13 00:46] doubledplace opened #132 "analog way Aquilion"
I am trying to use bitfocus with the new analog way switcher. live premier series, Aquilion

**PLEASE USE THIS PAGE IF YOU WANT SUPPORT FOR A NEW DEVICE**

https://github.com/bitfocus/companion-module-requests/issues/new

**Describe the feature**
A clear and concise description of what the feature does

**Is this platform dependent (windows, mac, ..)?**
Explain

**If documentation is required to i

[2019-12-13 06:17] JeffreyDavidsz commented on #132
I'm closing this, Aquilon support is in the 2.0 version of Companion

[2019-12-13 06:17] #132 closed

[2019-12-13 06:29] JeffreyDavidsz commented on #131
Traveling today, might be able to create it. Always like a new windows program ;-)

[2019-12-13 09:18] JeffreyDavidsz commented on #131
@paulxharris the module is ready for you, tested it with GO and stop all. Could you download a new build and test the other stuff? I'll close this. When there is something please create an issue under the repo (companion-module-da-share-multiplay)

[2019-12-13 09:18] #131 closed

[2019-12-13 09:27] JeffreyDavidsz commented on #107
check

[2019-12-13 14:21] dgsauer opened #133 "Kramer VP-734"
I'm either looking for a module or just an explanation of how to use the generic http module to switch inputs on this device.

I'm told by Kramer that the RS-232 commands also work via http, but I don't know the syntax.

Here is a link to the manual with all the control codes:
https://cdn.kramerav.com/web/downloads/manuals/in-out_resolutions.pdf

Any help greatly appreciated.  THANKS.

[2019-12-13 15:33] JeffreyDavidsz commented on #133
Did you look in that file?

[2019-12-13 21:12] paulxharris commented on #131
Hi,
All Functions tested and working correctly.
only thing I see unusual is that on the connections screen, it always says connecting and doesn't go OK
But looks great thanks

Paul

[2019-12-14 05:51] JeffreyDavidsz commented on #131
That's strange I have to check that. There is no info coming back so standard would be OK

[2019-12-14 21:44] yyy898 commented on #129
give me a few days, i started creating this module, are there specific features you realy want to be able to control ?

I am implementing:
play
stop
intensity
red value
green value
blue value
hue adjust
saturation adjust
contrast adjust
strobe value
selecting a clip
playspeed
audio volume

[2019-12-15 00:46] bikeatefoucault commented on #129
hell yeah!

most Ai/mediaserver users have lighting consoles with knobs to control things like rgb/hue/sat.

playback: play & stop (on specific layers)/layer selection/file selection (play file), scene triggers, intensity choke groups (one layer goes full intensity others go to zero) are the useful kinds of things to have on a stream deck.

think switcher functionality.

I'll try again to get some

[2019-12-15 13:17] yyy898 commented on #129
i dont think scene triggers are possible over artnet.
the rest of the functions are implemented, just some more testing on my side to make sure everything runs smooth and i think il have it up and running by tomorrow

[2019-12-15 18:44] josephdadams commented on #133
@dgsauer the file you linked to is not the protocol information. Can you track that down?

[2019-12-16 15:12] dgsauer commented on #133
Sorry about that.  The RS-232 protocol and syntax is near the end, and I was told by Kramer that that is what was needed for the tcp control.  I will try to contact them and see if there is some other documentation.

[2019-12-16 15:28] yyy898 commented on #129
@josephdadams this module is ready, you can close this issue # #

[2019-12-16 15:28] #129 closed

[2019-12-16 15:48] dgsauer commented on #133
OK, so I spoke to tech support.  They said that the TCP control codes are the same as the RS-232 codes which start on page 63 of the manual.
The syntax is as follows:   #Y [space] Control_Type [space] Function [space] Parameter [space] [carriage return]
So, according to him, the syntax to switch to Input 1 would be:
#y 0 30 0 [carriage return]

I'm not positive how to designate the carriage return

[2019-12-16 15:53] JeffreyDavidsz commented on #133
I think you have uploaded the wrong file, as said there is no protocol information there. Generic http cannot be used for what you want, but if the protocol is clear, we can make a module for it

[2019-12-16 16:38] josephdadams commented on #109
Duplicates #4.

[2019-12-16 16:38] #109 closed

[2019-12-16 16:41] josephdadams commented on #126
This software does not have an IP protocol, only MIDI, ArtNet, or sACN. Closing because of the lack of protocol available.

[2019-12-16 16:41] #126 closed

[2019-12-16 16:58] dgsauer commented on #133
Oh yeah, the link I posted was the wrong one.  Apologies! Here is the link to the manual:
https://cdn.kramerav.com/web/downloads/manuals/kramer-vp-734-um-5.pdf

After looking at the discussions in the generic http module, I realized that it won't do what I wanted.  A new module would be greatly appreciated.  Or, is there any other way to simply text send strings to an IP address?

[2019-12-16 21:05] yyy898 commented on #85
this module is ready, if you have any issues, please report them here:
https://github.com/bitfocus/companion-module-pangolin-beyond/issues

@josephdadams you can close this one

[2019-12-16 21:39] #85 closed

[2019-12-17 10:29] EMiBias opened #134 "Roland V-600UHD / Companion 2.0"
Just a reiteration of my message on the FB group..

Had a number of failed attempts to run the Roland V-600uhd with Companion 2.0. Connection was solid, status was good but no results. Closer inspection revealed the obvious. The Roland V-600UHD config file is set to connect to the Roland **V-60HD** and not in fact to the V-600UHD. See attached:

<img width="1428" alt="Screenshot 2019-12-17 at 09 3

[2019-12-19 14:48] JeffreyDavidsz commented on #133
@dgsauer looking at that file, it seems that the commands are only supported via RS-232. Unless you have a LAN->RS-232 box, it will probably not work. Might want to check if its possible via the lan port first (ask for portnumber too). The ethernetport seems to connect to a build in webserver to control the machine

[2019-12-19 18:57] karlvti1 commented on #108
Hi Joseph
Thanks
I have got the protocols but i have to wait on conformation for use on open source software

[2019-12-20 09:30] seanr2109 opened #135 "Allen and Heath - iLive"
Hi,
It would be awesome if you could add very basic control for the Allen and Heath iLive.
I currently control this at events using both an iPad with the app and a windows laptop running the editor software..

I’d love to be able to have mute control on the stream deck so I can mute / unmute channels without having to use a laptop or iPad

The documentation for the iLive is found here
https://www.

[2019-12-20 14:46] josephdadams commented on #135
Duplicate of #68

[2019-12-20 14:46] #135 closed

[2019-12-21 15:31] josephdadams commented on #92
@jdrothrock @hallandrewjohn have you guys tested this?

[2019-12-21 15:37] josephdadams commented on #110
@JeffreyDavidsz can we push this to the core and just track bugs as it gets used? I can’t get @hadphild to respond.

[2019-12-21 15:39] #107 closed

[2019-12-21 15:40] josephdadams commented on #103
@sytem is the change mode to decode/encode still valid with the latest firmware? I updated my unit and it looks like it can do both at the same time.

[2019-12-21 15:52] JeffreyDavidsz commented on #110
done

[2019-12-21 15:52] #110 closed

[2019-12-21 16:03] hallandrewjohn commented on #92
I have not. I don’t currently have project going with a Qsys core to test
this on. :(

On Sat, Dec 21, 2019 at 9:31 AM Joseph Adams <notifications@github.com>
wrote:

--
Thank You,

   Andrew J. Hall

407.474.9136
Me@andrewjohnhall.com

   linkedin.com/in/andrewjohnhall
   <https://www.linkedin.com/in/andrewjohnhall>

[2019-12-21 23:46] EventReplay commented on #133
@dgsauer please look @ this module:
 https://github.com/bitfocus/companion-module-kramer-vp727/tree/6fc463a3b32f60e002019b26456b4af0d55ebcf4
This is a good starting point. 5000 port is correct commands look same format and should just need tweaking IMHO.

[2019-12-22 00:07] EventReplay commented on #133
@JeffreyDavidsz section 10.1 in the manual stating ethernet connection could be misleading as I've seen 2 different manuals one says port 80 and one says port 5000(This I believe to be correct and is the latest to my knowledge).
PLEASE NOTE: it does say in both manuals only 1 TCP connection! So you might run in to issues if you have web interface and a companion instance at the same time.

[2019-12-22 06:29] JeffreyDavidsz commented on #133
I will copy the old module with the new commands, needs to be tested I guess. What kind of os are you running?

[2019-12-22 20:14] JeffreyDavidsz commented on #133
Ok new module added. Please test it. The commands in the old module where without the `#` so I did the same here. Also a custom option to test for yourself. Please let me know in the new repo if there are any things that need to be changed; https://github.com/bitfocus/companion-module-kramer-vp734/issues

[2019-12-22 20:14] #133 closed

[2019-12-24 13:41] dgsauer commented on #133
@JeffreyDavidsz and @EventReplay,  THANK YOU!  You all are amazing. Unbelievably helpful and incredible response time.  I have not had access to the equipment yet because of the holiday schedule, but as soon as I am able I will test.  Thank you again!

[2019-12-24 18:17] JeffreyDavidsz commented on #133
No problem, please let us know if it works as @EventReplay mentioned we second guess the end of the sended command.

[2019-12-27 00:29] EventReplay commented on #128
@Nikolauswied Title should actually be Module request as a module has not yet been created.
There are 4 different types of presets available on this unit is it user presets your after?

[2019-12-28 16:35] aonomus opened #136 "Request for Streamlabs OBS Support"
**Describe the feature**

* Integration with Streamlabs OBS for scene selection, record stop/start, etc

**Is this platform dependent (windows, mac, ..)?**

* Streamlabs OBS Client is Windows only.

**If documentation is required to implement, do you know where to find it?**

* Streamlabs OBS Client documentation: https://stream-labs.github.io/streamlabs-obs-api-docs/docs/index.html

**Usecases**

[2019-12-29 00:26] josephdadams commented on #136
Duplicates #5.

[2019-12-29 00:26] #136 closed

[2020-01-04 05:39] calabayproductions opened #137 "Smart Shoot Module"
Hello,

Would be amazing to see a module for Smart Shooter, it supports external API:

https://bitbucket.org/kuvacode/smartshooter-api/src/v3/

We use this software for tethered photography at events as well as studio shoots, looking to use the stream deck to edit the filenames.

[2020-01-04 22:08] torbizen opened #138 "trikker"
**PLEASE USE THIS PAGE IF YOU WANT SUPPORT FOR A NEW DEVICE**

https://github.com/bitfocus/companion-module-requests/issues/new

**Describe the feature**
A clear and concise description of what the feature does

trikker is a drawing program for electricity.

**Is this platform dependent (windows, mac, ..)?**
Explain

windows only

**If documentation is required to implement, do you know where to f

[2020-01-04 22:09] josephdadams commented on #138
@torbizen please provide a direct link to the control protocol for this software.

[2020-01-06 12:14] y-bu opened #139 "Video Router Imagine Platinum™ VX"
Hi,
Support for Imagine Platinum VX series video routers would be great!
Regards,
Yann

[2020-01-06 13:20] josephdadams commented on #139
@y-bu can you provide a direct link to the protocol spec?

[2020-01-07 06:21] SlateAV opened #140 "Denon DN-500BD MKII"
Describe the feature
The ability to control a Denon DN-500BD MKII over it's Ethernet port.

Wanting to get this done ASAP!

The port number is 9030.

Simple unidirectional commands is all I require for this project.

PLAY
PAUSE
FAST FORWARD
REWIND

NEXT TRACK
PREVIOUS TRACK
NEXT CHAPTER
PREVIOUS CHAPTER

NAV UP
NAV DOWN
NAV LEFT
NAV RIGHT
NAV ENTER

MENU
TOP MENU
BACK

Would be a great start!

Is

[2020-01-07 16:45] borderlander19 opened #141 "MagicSoft Recorder"
Hello,

Please would it be possible to have a module to control MagicSoft recorder?

http://magicsoft.tv/recorder.html

Only the basic functions would be required - start/stop recording per channel, ideally as a toggle in companion with status reported back from MagicSoft.

Unfortunately their documentation appears to be sparse, however they do have web-remote functionality, so perhaps that could

[2020-01-07 17:40] McHauge commented on #140
@SlateAV Hey just got done with the initial part of the module, most commands but no presets or feedback

It would be awesome if you had time to test the module, there is a Windows build of companion 2.0 with the module, attached in the download link below.

[Companion 2.0 Dev Builds](https://1drv.ms/f/s!AtUYbExJseNtlK56u-n71V_UcLDe7g)

-Andreas/McHauge

[2020-01-07 21:06] dewiweb opened #142 "Denon DN-700R"
I saw the recent implementation of  Denon DN-500BD-MKII,
I'm not a specialist but it seems to have some similarity with the serial protocol used by DN-700R model (Yes, it's an audio recorder and not a BD player but...)
[DN-700R - Serial Command Protocol Guide - v1.1.pdf](https://github.com/bitfocus/companion-module-requests/files/4032468/DN-700R.-.Serial.Command.Protocol.Guide.-.v1.1.pdf)

[2020-01-07 21:26] josephdadams commented on #142
@McHauge?

[2020-01-07 21:29] McHauge commented on #142
I'll give it a look

[2020-01-07 22:55] josephdadams commented on #141
@borderlander19 as a user of this software, can you reach out to them about documentation?

[2020-01-08 02:43] tsmlouis opened #143 "Support for grandMA3"
Works great with the grandMA2 software. Since the grandMA3 has just launched, hope it could work in the new grandMA3 platform as well.

[2020-01-08 12:31] pob31 opened #144 "WFS-DIY"
**PLEASE USE THIS PAGE IF YOU WANT SUPPORT FOR A NEW DEVICE**

https://github.com/bitfocus/companion-module-requests/issues/new

Hello,
I've been developing an open-source wave field synthesis system for live shows (concerts, theater, dance...). I have already Applescript macros triggered by a Streamdeck for creating cues in QLab for shows that have cues. But for shows that don't use a cue manager

[2020-01-08 12:33] VideoGoose opened #145 "Epson Projectors EXC/VP21 Commands"
**PLEASE USE THIS PAGE IF YOU WANT SUPPORT FOR A NEW DEVICE**

https://github.com/bitfocus/companion-module-requests/issues/new

**Describe the feature**
This would be to control Epson's pro line of projectors. It looks like it is mainly sending commands over a tcp/ip connection. This [link ](https://epson.com/Support/wa00573)is to the documentation for the commands and codes on the Epson website.

[2020-01-08 12:40] pob31 commented on #144
And if there is anything I can do to help prepare the data since there are many OSC methods, let me know. In the mean time I'm going to have a look at this is written:
https://github.com/bitfocus/companion-module-osc

[2020-01-09 19:54] Fader-Monkey opened #146 "For-a HVS series switchers"
I would like to request a module for the For-A HVS series of switchers.I can help test if needed I have both a HVS 100 and a HVS 2000. I reached out to For-A a few months back and they said that a companion module is on their list but not at the top of their list. I will include all info I got from For-A here:

Creating a library for Companion software is on our list of things to do but hasn’t rea

[2020-01-10 20:08] josephdadams commented on #15
@tap-chris, will your module help this person?

[2020-01-10 20:30] tap-chris commented on #15
@josephdadams Might help if what he needs is implemented in the MSC protocol.

**Supported actions are:**
Goto a specific cue (optional fade time), pause an executor, resume an executor, move a fader to a specific position (using a percent value, optional fade time), fire a macro and switch an executor off.

**Supported feedbacks are:**
Executor running state, executor paused state, cue list and f

[2020-01-10 22:35] Spacelord09 commented on #15
Do not use MSC..
Use the Webremote!
You can look at some code here: /cbdevnet/midinonster

[2020-01-10 22:59] tap-chris commented on #15
I can work on a web remote/web socket based module but this means implementing it from scratch and since I already had developed the MSC library I just had to add the Companion part.

Also the MSC protocol is defined while every change to the web remote could break the implementation easily. Granted they didn't update the dot2 since a while and the web remote offers a lot more but I hope the MSC i

[2020-01-12 01:54] willosof commented on #15
I agree that everything feels better than msc :)

Under engineered protocol 🤷🏻‍♂️

W

On Fri, 10 Jan 2020 at 23:59, Christian Volmering <notifications@github.com>
wrote:

--
William Viker

[2020-01-12 05:00] JeffreyDavidsz commented on #15
Added the MA MSC module into Companion. This controls the dot2 via MSC. So for most users it will be enough. When extra's needed please feel free to create an issue at repo:
[companion-module-malighting-msc](https://github.com/bitfocus/companion-module-malighting-msc/issues)

[2020-01-12 05:00] #15 closed

[2020-01-12 20:48] dgsauer commented on #133
I started to test, but I'm having trouble figuring out how to install the module.  Can you point me to the module install instructions?

[2020-01-13 11:24] JeffreyDavidsz commented on #133
You need to download the latest build from the website. Unless you have a develop environment running you cannot just install a module yet

[2020-01-15 14:21] wasserfall7 opened #147 "Barco PDS 902 3G-SDI"
Hi, please ad the Barco PDS 902 3G-SDI to Instances.
the difference to the existing PDS Instances are: 4 DVI Inputs instead of 2 , 1 SDI Input
because DVI and SDI is much better than the VGA Inputs the "upgrade" would be very useful
Thank you very much

simon

[2020-01-16 08:55] EventReplay commented on #147
This has been noted as a bug and has been resolved in v2.
https://github.com/bitfocus/companion-module-pds/issues/9

[2020-01-17 13:14] MarcHagen commented on #147
Hi there!
The fix has been pushed to the 2.0 release.

[2020-01-17 17:03] patrickcincy opened #148 "Digital Projection control"
I see there is control of the digital projection Highlite projectors but am looking to control some titan projectors.  I can do this with the tcp commands on port 7000 with command strings such as *power = on\r or *shutter = off\r but can't use the highlite module to do this.  It seems highlite uses 1 or 0 as opposed to on or off

https://www.digitalprojection.com/dpdownloads/DP%20Resources%20115-

[2020-01-17 19:13] ryanjohnclark opened #149 "JVC KY-PZ100 cameras"
Hi there. Could control for JVC KY-PZ100 cameras or the JVC RM-LP100 camera controller be added to the Companion?  Even simple program switching would be huge.  Pan and zoom would be a plus.  Thanks for considering!

Link to JVC API reference:
http://pro.jvc.com/pro/attributes/ip/manual/JvcCamcorderApiReferenceV111_public.pdf?fbclid=IwAR370LAVBjJsB642cAXbi9a0Vdy66dbzrbBRtEet0XZT0FD-0RukT8i8RMI

[2020-01-18 21:51] Night3lf commented on #119
@josephdadams I am also a livestream user and they do not give you access to their API unless you use buy the enterprise plan. I will need to do a bit of trial and error but something like CasperJS or HTTP Post requests may work.
I will update this when I find out more.

[2020-01-18 22:19] JerusalemMediaGroup commented on #119
I have their enterprise plan...any idea how to get that api so someone can
do some development?

On Sat, Jan 18, 2020 at 11:51 PM Gabriel Lucas <notifications@github.com>
wrote:

--
Daniel G. Shugert
Jerusalem Media Group | Be There Israel
Creative Video Solutions | Live Event Broadcasting
e-mail: daniel@jerusalemmediagroup.com
mobile:
IL: +972 (0)54-913-6225
US: +1-347-434-9627

UK: +44-207-442-5

[2020-01-19 20:58] SlateAV commented on #140
It works! Thanks for working on this! As soon as you sent this to me I got
a call that my condo was flooding. (I was 3.5 hours away) I was already
getting ready to go home. I was able to test the navigation buttons and
enter and worked great!

I'm doing a Superbowl show for the next 2 weeks and will not entirely be
able work on this in person. (but will remotely)

I'll let you know when I'm able t

[2020-01-20 22:00] dmxking512 opened #150 "Kramer VS-311H HDMI Switcher"
**Describe the feature**
Support for Kramer VS-311H HDMI Switcher

**Is this platform dependent (windows, mac, ..)?**
Yes this appears to be PC spesific and doesnt work on a mac ( would be helpful if it did though)

**If documentation is required to implement, do you know where to find it?**
Uses the same Protocol-2000 as other Kramer matrix switchers. i belive the commands issued vary from device

[2020-01-22 20:02] dmxking512 commented on #150
So further digging reveals that this only seems to work on PC and not on MAC.

Ive run a capture using the Kramer Protocol-2000 tool and this is the capture in wireshark, showing a packet of 4 bytes 01818181 from my understadning:

Byte1 : 01 sends the type of action in this case Switch Video
Byte2 : 81 input number one, 82 input 2 83 input 3
Byte3 : 81 output 1 switcher only has 1 output
Byte4 :

[2020-01-23 05:55] ryanjohnclark commented on #149
I think the settings are in section 3.4 of the API reference.  Ideally, I would like to be able to:
Set the pan speed
Set the zoom speed
Pan Up, Up&Rt, Rt, Rt&Dn, Dn, Dn&Lt, Lt, Lt&Up
Zoom in, Zoom out
set the Iris
set the Gain
Recall Presets
[JvcCamcorderApiReferenceV107_public.pdf](https://github.com/bitfocus/companion-module-requests/files/4101458/JvcCamcorderApiReferenceV107_public.pdf)

[2020-01-24 04:38] EventReplay commented on #150
0a is a Line Feed.
Can you ping the units IP Address? Should be able from both PC & Mac. If not then Check firewall & K-LAN Configuator settings, maybe reset to default settings for testing.
Doc's & Software (This is filed as a discontinued model)
https://k.kramerav.com/support/product_downloads.asp?pt=5&pid=569
when you can ping the unit try testing commands with telnet, if they work then I think

[2020-01-24 09:16] dmxking512 commented on #150
I am able to ping from both mac and PC.

Do i telnet to the port 5000 ? how do i then send the commands via telnet , do i just type 01 81 81 81 ect ?

Appreciate your help :)

[2020-01-24 09:38] dmxking512 commented on #150
I am able to connect via putty on port 5000 but anything i type doesnt change the switcher.
Wireshark shows a different type of communication when using telnet so i dont think this is right.

[2020-01-24 10:31] EventReplay commented on #150
If your using putty your not sending Hex.
https://www.hw-group.com/software/hercules-setup-utility (TCP Client Tab)
or
https://packetsender.com/

[2020-01-24 13:08] dmxking512 commented on #150
Okay so i've had a play with packet sender and the following works:
![image](https://user-images.githubusercontent.com/14097214/73071353-6babb900-3eaa-11ea-9ca0-f9d30462cdc6.png)

But once again the plugin in companion doesnt. it seems to be sending a different packet as shown in my wireshark captures above

[2020-01-24 13:10] dmxking512 commented on #150
i can also see through wireshark that its constantly sending a single 00 byte as a keep alive.... wondering if this isnt helping?

[2020-01-24 13:14] dmxking512 commented on #150
Everything else is correct its just that extra bite 0a that the Companion module is sending.....

[2020-01-24 15:42] EventReplay commented on #150
I've had a look through code and I think I can see a possible issue in this line of code:
0x0a  // End with a \r to separate multiple commands
\r carriage return is 0x0d \n line feed is 0x0a.
You may require \r\n
I'll Post an issue here:
https://github.com/bitfocus/companion-module-kramer-matrix/tree/master

[2020-01-24 16:34] dmxking512 commented on #150
Much appreciated! :D

[2020-01-24 16:52] dmxking512 commented on #150
My only concern though is by actually terminating it adds an extra byte. making it 5 bytes

i tried appending the hex sent in packet sender and the swithcer doesnt like it.

the Protocol-2000 calculator tool from Kramer only lets you sepcify the 4 bytes.

it may be less of a case of it being \r or \n and just a case of it simply shouldn't be there.

I've also double checked that the switcher is ru

[2020-01-24 22:40] EventReplay commented on #150
I have a VS-42HDMI Matrix it uses P2000 and works fine with the module.
Using Packetsender I can send 01 82 81 81 or 01 82 81 81 0A or 01 82 81 81 0D, they all work fine executing the same command.
Dosn't make sense it's not working if it's sending the right command.

[2020-01-25 22:51] ryanjohnclark commented on #149
I have the cameras and could answer questions and test if someone was interested in taking this on. I'm sure some compensation could be worked out for the time/skill but I have no idea what something like this would run. I would love to get a quote to see if it's something our outfit could accommodate. I suppose it would also depend on how well it functioned.

[2020-01-26 02:04] EventReplay commented on #150
This model is now working with the Kramer Matrix Module in the current v2.0 build .

[2020-01-26 15:02] McHauge commented on #140
No problem, and thanks for at least testing some commands verifying the connection.
currently working on adding presets to the module.

about the bounty you can throw me a mail at:
mc-hauge@hotmail.com

[2020-01-29 00:29] ryanjohnclark commented on #149
This said I closed it but I didn't do it knowingly.

[2020-01-31 08:13] JeffreyDavidsz opened #151 "DiGiCo"
via OCS, fetching API at the moment

[2020-01-31 19:11] garethnunns opened #152 "Barco PDS Output Mode"
**Describe the feature**
As a user I would like to change the output mode of Barco PDS products between (1) fullscreen, (2) PIP & (3) matrix.

**Is this platform dependent (windows, mac, ..)?**
No

**If documentation is required to implement, do you know where to find it?**

The commands are outlined in the manual: `OUTMODE -m <x>`, where `<x>` is the respective mode listed above.

I've written th

[2020-02-01 01:25] yboujraf commented on #69
@jamepenry I am working since 15 years with vsm and vsmStudio is consumer but if you have $$$$$ you have a new feature in the latest version where you could be producer and create your embertree.

Otherwise, we have developed for broadcaster customers a gateway (blackbox running in windows but since last week in cross platform) to convert any protocol as ember+ producer then you could use stream d

[2020-02-01 01:29] yboujraf commented on #69
@dewiweb If you read the readme.md file all the Ember+ protocol as consumer or provider are supported and it is wrong. You could see some issues I have created in december 2019.

The repository from emberPlusJs was forked by a student but he completly revisited the code and not anymore compliant with the fork from NRKO (best one at this time).

Best Regards,
Youssef

[2020-02-01 04:01] alexbaum25 opened #153 "Kramer-VP 444 Control Request"
It would be awesome if we could have a module that controls the Kramer VP-444 presentation switcher. It uses Kramer’s 3000 control protocol, just like the Kramer switchers with Companion modules. The VP-444 however has 12 inputs needing control. Use cases would be just like the other Kramer modules, output control and input switching being the main uses.

Manual can be found here: https://k.kramer

[2020-02-01 11:52] dewiweb commented on #69
@yboujraf
information about companion on rpi:
https://github.com/bitfocus/companion/wiki/CompanionPi-Documentation

[2020-02-01 21:05] yboujraf commented on #69
Thanks for your reply.

Best regards.
Youssef

On Sat, 1 Feb 2020, 12:52 dewiweb, <notifications@github.com> wrote:

[2020-02-02 20:24] josephdadams commented on #92
Closing because the module exists. If you guys have trouble with it or need to file a bug report, please submit an issue directly to that repository: https://github.com/bitfocus/companion-module-qsys-remote-control/issues

[2020-02-02 20:24] #92 closed

[2020-02-02 20:24] josephdadams commented on #30
Closing due to missing documentation and no network API available to control.

[2020-02-02 20:24] #30 closed

[2020-02-02 20:25] josephdadams commented on #27
Closing because no documentation was provided.

[2020-02-02 20:25] #27 closed

[2020-02-02 20:26] josephdadams commented on #42
Closing due to no documentation provided.

[2020-02-02 20:27] josephdadams commented on #39
@mfoulks3200 did you ever take a look at this?

[2020-02-02 20:32] josephdadams commented on #125
@robertsmyth1970 were you able to dig up any documentation?

[2020-02-02 20:33] josephdadams commented on #153
@alexbaum25 can you use the existing Kramer Matrix module for this?

[2020-02-02 20:44] alexbaum25 commented on #153
@josephdadams Unfortunately not, the existing matrix module uses Kramer’s protocol 2000 and the VP-444 uses the protocol 3000. Unless someone more knowledgeable than me tells me I’m wrong, based on my research they’re not compatible.

[2020-02-02 20:55] josephdadams commented on #153
@alexbaum25 i just saw where the Kramer matrix module supports both 2000 and 3000, so I wasn’t sure. I’m not familiar with the products at all.

[2020-02-03 00:15] EventReplay commented on #153
In the v2 build the kramer maxtrix module does support both protocol 2000 & 3000, however I don't feel this model will work with it.

[2020-02-06 14:26] josephdadams commented on #147
Closed because it’s fixed in 2.0.

[2020-02-06 14:26] #147 closed

[2020-02-06 16:38] josephdadams commented on #119
@JerusalemMediaGroup ask them. Ask if the API can be released to be included in an open source project.

[2020-02-07 08:56] samuraitheta opened #154 "Novastar Processor Control"
I would love a way to control Blackout, input selection, brightness, etc... for Novastar Processors like the VX4s and the MCTRL6000.

I am able to control these processors using a series of Hex values sent as a TCP packet, but I would love to be able to control them with Companion. Most of these processors use a generic instruction set, and I would be happy to send you information about them if it

[2020-02-07 09:18] samuraitheta opened #155 "RTP-Midi"
I would love a way to send note messages via RTP-midi. It would open up control over Ableton Live, Arkaos Media Master, and any other software that is midi controllable.

Thanks!

[2020-02-07 16:23] AlexK-99 commented on #103
Hey, I found a backend interface on port 8080. You can call up the current source via the path

You can change the source with a post request on the same path. I have already programmed a test module for Companion and tested it with my birddog studio and birddog mini. I would finish the module and would request a repo to publish the module

[2020-02-07 18:32] josephdadams commented on #155
If you want to use Companion to control MIDI devices like Ableton and Arkaos, look into the techministry-midirelay module in Companion. It works with a listener program that runs on your Ableton computer (for example) and can send MIDI voice and sysex messages to the listener which then relays it out via the specified MIDI port.

If you want to use programs like Ableton and Arkaos to control Compa

[2020-02-07 18:33] josephdadams commented on #154
Someone is actively working on this. I contributed working code here (https://github.com/bitfocus/companion-module-novastar-vx4s) and another developer has created modules also.

[2020-02-07 19:59] samuraitheta commented on #155
Thank you Joseph. I will check it out!

[2020-02-07 20:04] samuraitheta commented on #154
I've seen the Bitfocus 2.0 developed by Ritesh Patel, but I don't want a WHOLE different companion app... it doesn't look stable for production.

Is there a way to add this module into Companion?

[2020-02-07 20:54] JeffreyDavidsz commented on #154
When a module is ready it can be added to the core. Software is open source you anybody can make their own builds. I would not advise to use those as you cannot know from which state Companion has been copied

[2020-02-07 21:06] samuraitheta commented on #154
So is this Novastar module not ready yet?

[2020-02-08 09:31] JeffreyDavidsz commented on #154
Well I believe instead of sharing to code to us, the guy decided to build its own version. That being said there is a request to him for sharing the module as he is using "our" main code also

[2020-02-09 07:54] mmaurer92 opened #156 "Atlona AT-JUNO-451 HDMI Switcher"
Hello! New guy to the community here. I am in the process of doing a simple room controller in one of our classrooms. We have bought an Atlona AT-JUNO-451 HDMI Switcher, and at one point in an earlier release I thought Atlona devices were already controllable but I no longer see them. I would love to be able to control Power, Source and Audio of this device. Documentation says it can be controlled

[2020-02-09 23:40] whizkidTRW opened #157 "Epiphan Webcaster X2"
I would love to be able to control a Webcaster X2 streaming on & off.

https://www.epiphan.com/products/webcaster-x2/

[2020-02-12 11:39] playdeck commented on #12
Hi,

just wanted to ask if I do anything wrong:
„Playdeck“ is given in your support list, but when I install 1.4.0 I cannot find Playdeck?!
Is this not the correct version? Is there a newer one?

Regards
Maurits

_________________________________________________
Dr. Maurits Kuiper
JOY event & media GmbH & Co. KG
Eilendorfer Str. 215
D-52078 Aachen
Tel. +49 (0)241 99 000 6-12
Fax +49 (0)241 99 000

[2020-02-12 12:07] McHauge commented on #12
Hi, you will need to use companion V2.0 for it to be included, you can download it from the website using the "beta 2.0" button

[2020-02-12 12:10] playdeck commented on #12
Thank you very much for your quick response!

Best wishes
Maurits

_________________________________________________
Dr. Maurits Kuiper
JOY event & media GmbH & Co. KG
Eilendorfer Str. 215
D-52078 Aachen
Tel. +49 (0)241 99 000 6-12
Fax +49 (0)241 99 000 6-99
mk@joy-event-media.de<mailto:mk@joy-event-media.de>

Sitz der Gesellschaft: Aachen
Amtsgericht Aachen HRA 5884

Pers. haftende Gesellschafter

[2020-02-13 04:55] ryanjohnclark commented on #149
Hi guys. Just following up to see if anyone might be interested in taking this on.

[2020-02-13 07:45] JeffreyDavidsz commented on #149
How badly do you need it? You could set a bounty on it to speed things up?

[2020-02-13 07:50] JeffreyDavidsz commented on #149
Just read your upper request, I would say it takes 1,5 hours without testing to create the module with the desired actions in it. Looking at the API this should not be hard. Send me an email on jeffrey.davidsz@vicreo.eu if you want me to create it today/tomorrow

[2020-02-13 12:47] ryanjohnclark commented on #149
I've heard the mention of Bounty a couple times but when I go look at the
existing module requests I couldn't find any examples to reference. I'm not
familiar with how the open source community works so I wasn't sure what to
offer.  It's for our church and will help us with a shortage of volunteer
servers if I can assign values that will move the cameras to predetermined
positions (not just "zoom

[2020-02-13 12:49] ryanjohnclark commented on #149
Should we dialog on Slack or is this preferred?

On Thu, Feb 13, 2020, 1:50 AM Jeffrey Davidsz <notifications@github.com>
wrote:

[2020-02-13 12:58] JeffreyDavidsz commented on #149
Slack is fine! Send me a PM

Met vriendelijke groet,

Jeffrey Davidsz

Verzonden met Outlook voor mobiel

________________________________
From: Ryan <notifications@github.com>
Sent: Thursday, February 13, 2020 1:49:56 PM
To: bitfocus/companion-module-requests <companion-module-requests@noreply.github.com>
Cc: Jeffrey Davidsz <jeffrey.davidsz@vicreo.eu>; Comment <comment@noreply.github.com>
Subjec

[2020-02-13 19:03] mezzman opened #158 "Module request: PRG Vx76 lighting consoles"
The PRG Vx76 series takes OSC commands in the attached PDF.
[Vx76_OSC.pdf](https://github.com/bitfocus/companion-module-requests/files/4200465/Vx76_OSC.pdf)

Thanks!!

[2020-02-13 19:10] mezzman opened #159 "Module request: PRG Mbox Director media server controller"
PRG Mbox Director uses OSC commands in the attached PDF.

Thank you!!
[Mbox Director v4.4 OSC.pdf](https://github.com/bitfocus/companion-module-requests/files/4200494/Mbox.Director.v4.4.OSC.pdf)

[2020-02-14 01:01] josephdadams commented on #155
@samuraitheta did you check out any of those options?

[2020-02-14 01:02] josephdadams commented on #155
Duplicates #81

[2020-02-14 01:02] #155 closed

[2020-02-16 10:15] airbenich opened #160 "Yamaha M7CL"
A module for the Yamaha M7CL would be great. Is ist the same then QL series?

[2020-02-16 12:02] josephdadams commented on #160
Given the wide date range of release between these two consoles, I would not expect the control protocol to be the same. The M7 is controllable via MIDI and the commands are laid out in the manual.

[2020-02-17 17:32] gsiljee opened #161 "Ross Router NK-3G16 and RCP"
Is there a way to get functionality of routing on a Ross NK-3G16 or an RCP unit with an Elgato Streamdeck?  All networked together, but no Ross switcher, so none of the current commands send Router commands.

[2020-02-19 10:38] Nocturnowl opened #162 "Module Upgrade: Disguise d3 OSC Feedback"
Hey,

It would be helpful for companion to receive the OSC feedback from Disguise. Such as heartbeat, track position/name, and play mode.
![d3 osc feedback](https://user-images.githubusercontent.com/61231234/74826735-66585780-530c-11ea-86b3-5d9eb9d7b78f.PNG)

[2020-02-19 11:38] berryv97 opened #163 "Module request: Multicam Suite"
Hi,
Support for Multicam Suite would be great!
Regards,
Vincent
For more information:
[API Multicam 1.0(2).pdf](https://github.com/bitfocus/companion-module-requests/files/4224825/API.Multicam.1.0.2.pdf)

[2020-02-19 12:54] josephdadams commented on #163
Duplicate of #17

[2020-02-19 12:54] #163 closed

[2020-02-19 17:20] MeestorX commented on #160
I've written a lot of stuff that works with the older consoles. Older Yamahas used only MIDI for communication. The newer consoles use both MIDI and SCP. The module here is using SCP as it's much easier to implement. Only the CL/QL and TF (and likely the PM7/10) use SCP. I've re-written the SCP module and after I have tested it a bit, it'll hopefully replace the existing module. The effort for me

[2020-02-19 17:24] josephdadams commented on #160
@airbenich you can use the techministry-midirelay module that is in Companion along with the midi-relay listener component that is connected to a midi hardware interface and send the MIDI out of the interface directly to the console's MIDI ports.

[2020-02-19 17:25] #160 closed

[2020-02-19 17:27] MeestorX commented on #160
Does companion support MIDI?

[2020-02-19 17:29] josephdadams commented on #160
@MeestorX companion does not directly support MIDI in or out at this time, but with the midirelay module, you can send MIDI fairly easily.

[2020-02-19 18:07] airbenich commented on #160
Thank you for your answers. The M7CL uses MIDI over TCP/IP. Would it be possible to send MIDI via TCP/IP from Companion? So no hardware interface would be needed.

[2020-02-19 19:45] MeestorX commented on #160
Well, it's "sort of" MIDI over TCP/IP, but it's not rtpMIDI (the "standard" that MacOS uses). It uses a proprietary MIDI driver from Yamaha. If companion can spit out MIDI, it's simple enough to use LoopMIDI or another virtual MIDI driver to connect to the Yamaha driver. I've done this with my software and it works fine. Direct MIDI support by companion would be a welcome addition, but there are a

[2020-02-20 14:10] chasemixon opened #164 "Chroma-Q/Vista Lighting"
So I just recently found this software and used it to control a lighting console, X32 soundboard, Propresenter, and ATEM deck... so I was super impressed with it... so I'm all excited to talk with my staff at church about it. but we use Chroma Q or vista software to control our lighting but I don't see support for it on here, any chance you guys are working on it already or is it something that mi

[2020-02-20 14:35] josephdadams commented on #164
@chasemixon there is a Companion module called Tech Ministry MIDI Relay that I created specifically to allow you to send MIDI Note On/Off and MSC to control our Chroma Q Vista at my church. It can do much more, but I created it with that in mind. Here is my write up on it to show you how to get started: https://techministry.blog/2019/06/06/controlling-chroma-q-jands-vista-with-midi-show-control-an

[2020-02-20 15:18] chasemixon commented on #164
Hey Josephdadams, thanks so much, I'll take a look at it! Great stuff!

[2020-02-20 15:18] #164 closed

[2020-02-20 16:48] airbenich commented on #160
Thank you @MeestorX and @josephdadams for your details about this!

[2020-02-20 16:52] airbenich opened #165 "Panasonic projectors"
Dear community,

it would be great to steer Panasonic projectors via Companion as they are industry standard for events.
Especially it would be great to have the Panasonic PT-DZ110X DLP projector in the companion library. Maybe the API for all projectors are the same?

[2020-02-20 18:00] JeffreyDavidsz commented on #165
Try the pjlink module for Panasonic

[2020-02-20 18:00] #165 closed

[2020-02-20 18:12] berryv97 commented on #17
Hello @josephdadams, can you create a repository for your module ?
the module is done but I can't access Slack.
brand: Multicam Systems
product: multicam suite
thank you

[2020-02-20 18:13] josephdadams commented on #17
@JeffreyDavidsz

[2020-02-20 18:44] JeffreyDavidsz commented on #17
Done

[2020-02-20 19:39] airbenich commented on #165
I just tried it with the mentioned projector and the pjlink module. Unfortunately it’s not working as the authorization fails. The projector has not only a password. It has also a username wich I could find in the source code of this module.

[2020-02-20 20:10] peschuster commented on #165
I am working on a module for the ntcontrol protocol for panasonic projectors. I still have a TODO on my list to improve responsiveness of feedback, but the rest should work.
https://github.com/peschuster/companion-module-panasonic-projector

[2020-02-21 01:03] ellingsencharles opened #166 "Kramer"
Hi.
I have a Kramer VP774A I want to use my streamdeck for.
Its it posible to use companion?

[2020-02-21 01:10] josephdadams commented on #143
@tap-chris are you our resident MA guy? Any input here?

[2020-02-21 01:16] willosof commented on #143
I’ve researched this a bit. The ma2 telnet server is discontinued on ma3. The new platform is 100% based on osc, but the docs are not really there yet. On the other hand, I’ve found the osc message to send commands like we did with telnet:) I’ll check through my emails and find it tomorrow.

[2020-02-21 01:18] willosof commented on #143
![918C5117-C8A2-4C98-81DE-25EED16E9584](https://user-images.githubusercontent.com/426386/74995175-69f4f700-5450-11ea-8d05-f75c0943eb2a.png)
Wait, here it is.

[2020-02-21 01:19] willosof commented on #143
Hm, didn’t quite read that. That was probably only for sending osc from MA3

[2020-02-21 01:22] tsmlouis commented on #143
was thinking whether the companion can send OSC to MA3 console using Generic OSC. Tried but no luck

[2020-02-21 01:27] josephdadams commented on #142
@McHauge hows this coming along?

[2020-02-21 01:28] josephdadams commented on #141
@borderlander19 did you reach out to them?

[2020-02-21 01:29] josephdadams commented on #140
@McHauge hows this coming along?

[2020-02-21 01:33] josephdadams commented on #103
@AlexK-99 hows this coming along?

[2020-02-21 03:50] josephdadams commented on #66
@nagthas @JeffreyDavidsz can we close this? There’s a hippotizer module now?

[2020-02-21 03:51] josephdadams commented on #157
Duplicate of #55

[2020-02-21 03:51] #157 closed

[2020-02-21 06:19] JeffreyDavidsz commented on #66
If there is a module, please close this

[2020-02-21 10:26] McHauge commented on #142
ran out of time, about half way, with normal commands

[2020-02-21 10:28] McHauge commented on #140
the base module with just commands seems to work and should be ready for use as it is now, there is just no presets or feedbacks

[2020-02-21 10:31] Nagthas commented on #66
Yes, there is a module now so you can close it.

[2020-02-21 11:08] #66 closed

[2020-02-21 11:54] keymanpal opened #167 "Module Request: Gig Performer"
Gig Performer has full OSC support; would be awesome Companion could control ;-)

Gig Performer makes the most of your plugins whether you’re using it to control the effects processing of your instrument, your voice, or both simultaneously. You can also use Gig Performer™ with your existing environment, by training it to recognize the controls on your keyboards, OSC apps, MIDI expression pedals an

[2020-02-21 14:40] tap-chris commented on #143
@josephdadams I do have some MA3 consoles so I could get my hands dirty on it. We are still using the MA3 consoles in mode2 and will probably do so for a long while until mode3 is stable and usable but if there is people out there using the MA3 with the new software I can hack a module together.

[2020-02-21 14:46] willosof commented on #143
You don't need a console. Download onpc from here:
https://www.malighting.com/downloads/products/grandma3/

[2020-02-21 14:53] tap-chris commented on #143
@willosof I know. Downloaded when they released it to play around with it but a real console feels better ;)

[2020-02-21 18:53] jwnremt opened #168 "Shure QLX-D Frequency"

[2020-02-21 18:58] jwnremt commented on #168
Please add the ability to change frequencies on shure qlx-d receivers to the QLX-D Module.

And possibly a feedback instance for the current frequency of a device.
 
Set Frequency | Command String: | < SET 1 FREQUENCY yyyyyy > | Where yyyyyy is the Frequency represented as yyy.yyy MHz.

| QLX-D Response: | < REP 1 FREQUENCY yyyyyy > < REP 1 GROUP_CHAN gg,cc > | QLX-D responds with both strings. Wh

[2020-02-22 05:58] TristanMoodley97 opened #169 "For-A Production Switcher Support"
Currently using a mixture of BlackMagic, Anologue way as well as a For-A HVS 2000. Having support for For-A would make life incredible. Much appreciated

[2020-02-22 15:03] josephdadams commented on #164
@chasemixon did you get it working?

[2020-02-23 17:19] borderlander19 commented on #141
@josephdadams Apologies for the delay, I did and they have supplied details of their REST interface
[REST protocol description for Recording .pdf](https://github.com/bitfocus/companion-module-requests/files/4241837/REST.protocol.description.for.Recording.pdf)

[2020-02-24 08:31] auto456 commented on #145
_There are a few other Epson related Module requests but I think this is the most general one, please move if I am wrong._

We just got a EB-L1755U at our church and I investigated some time to bring the basic features into companion.
For example we are calling lens positions through the companion or execute A/V Mute.

**Functions that I have implemented yet are:**
- Save/Load Lens Positon
- Hide/

[2020-02-25 02:47] VideoGoose commented on #145
Hello Ar,

I have a show coming up where I'll have some epson 20k and 15k lasers, I don't have the models in front of me currently. I could look at testing the module out and giving some feedback. The fade time would be really useful for me as well, though I'm unsure if the Epson 20k actually fades the laser engine or just the image to black and then shutters, which the 15k laser does. Let me know

[2020-02-25 03:03] josephdadams commented on #145
I can create a repository for you. @auto456 I will add you as a contributor.

[2020-02-25 12:53] josephdadams commented on #145
@auto456 I invited you to the new repo: https://github.com/bitfocus/companion-module-epson-businesspj

Please push your code there.

[2020-02-26 17:44] BDDTech opened #170 "Novastar VX4s 'take' button"
is it possible to add Novastar VX4s 'take' button in latest version ?

[2020-02-26 21:46] josephdadams commented on #170
Transferring to the Novastar module.

[2020-02-27 02:09] Dwvsplat opened #171 "Module Request: TCL Roku tv control"
Need: power on/off
Source input (with delay timer)
Volume control

[2020-02-27 14:00] tap-chris commented on #143
I do have a basic module running now to execute commands on the MA3.
I've called MA to send me more documentation though so I can include more actions and feedback cause that looks a bit cryptic to me.
I let you guys know once I have it in my hands ;)

[2020-02-28 03:55] McHauge commented on #84
Hi again, are we still on the "no generic TCP/UDP" module in Companion wagon? just added support for selecting termination characters on generic commands in my old module.
[Module Available Here](https://github.com/McHauge/companion-module-generic-tcp-udp
)

[2020-02-28 04:43] McHauge commented on #140
Added presets to the module and it should now be ready for a first release/inclusion in the main branch.

[2020-02-28 06:44] JeffreyDavidsz commented on #84
We are, but at this moment it might be a good idea to include it for 2.0. I feel this could be a major plus for the 2.0 release. I'll discuss it with the guys

[2020-02-28 07:59] JayPiEs opened #172 "Control Ventuz Runtime with Vicreo or Octopus"
I find out that with Vicreo Listener keyboard shortcuts doesn't work with a running Ventuz Runtime.

The requirement was to send Shift key (or some other) to Ventuz in which it controls a programmed animation. The shortcut was set in the Ventuz designer.

it would be great to have the ability to control Ventuz with Vicreo or Octopus Listener.

[2020-02-28 11:50] JeffreyDavidsz commented on #172
Do you have some more info? Running which version of Companion, Mac or Windows? Shift key alone is most of the time not a good key. Did you got other keys working (try alt/cmd- tab for example). Screenshot of the action. This kind of information is helpful to understand how your config is. And where the issue is coming from

[2020-02-28 19:56] josephdadams commented on #141
Yes. I glanced through the protocol and it is fairly simple. @McHauge you want to pick this one up?

[2020-02-29 00:09] josephdadams commented on #172
It looks like this software may support OSC control. I found this: https://www.ventuz.com/support/help/V4_05/Remoting.html

Is that relevant?

[2020-02-29 01:23] McHauge commented on #141
i'll give it a go

[2020-02-29 17:34] mark-spl commented on #108
Found this- watching. I will be connecting with the suppliers and finding out if the code can be used in open source and reporting back.

[2020-02-29 17:36] josephdadams commented on #108
Thank you, @mark-spl!

[2020-03-01 01:57] McHauge commented on #141
@borderlander19 Hi, I think I got a simple demo/test version setup for testing.

If you click the link below you will find a compiled version of Companion V2.0 (inside .ZIP) with my demo module if you could test if all actions work, and if possibly get the response from the "PGM Status" and "Rec Status" that would be awesome and if not that's fine too. if you open companion via a terminal like CMD

[2020-03-01 03:02] josephdadams commented on #141
@McHauge I set up a repo for you, push when you're ready

[2020-03-01 11:42] tap-chris commented on #143
There seems to be not much more documentation then what we get out of the help pages already. They've send me a few things but it doesn't help much.
I can add the most important actions to the module by using the /cmd command and include a command line action so any command can be send.
For feedbacks I'll have to play a bit around and find it out myself or add it later once the documentation is up

[2020-03-01 11:43] josephdadams commented on #17
@berryv97 I approved the PR. Is this tested and working?

[2020-03-01 11:56] josephdadams commented on #154
We are working to get this included into Companion 2.0. Stay tuned.

[2020-03-01 12:10] josephdadams commented on #140
Great! Closing this and adding it to the 2.0 release doc.

[2020-03-01 12:10] #140 closed

[2020-03-01 13:56] TristanMoodley97 opened #173 "For-A HVS support"
Requesting support for For-A HVS video production switchers

[2020-03-01 13:59] #173 closed

[2020-03-01 17:46] McHauge commented on #96
have a feeling there won't be a test in the near future but it is ready for inclusion as it is, and I think for now it is up to date in v2.0

[2020-03-01 17:48] McHauge commented on #3
think we can close this after as for now it is included in v2.0 and even though there is no testing we can take it from there.

[2020-03-01 17:48] #3 closed

[2020-03-01 19:05] McHauge commented on #142
@dewiweb surry ran out of time due to the size of the command list. Do you have a list of commands/options that you would like to see included? Then I will just take it from there.

-McHauge

[2020-03-01 21:41] tap-chris commented on #143
Ok I kinda figured it out.
The biggest difference I see is that feedbacks are send based on the actual object and not on the exec.
So if I move the fader of exec 301 I get `{ address: '/11.14.1.5.5', args: [ 'FaderMaster', 1, 50 ] }`. But this doesn't tell me that the fader of exec 301 moved it tells me that the fader of sequence 5 has been changed to 50. The sequence 5 was just assigned to exec 3

[2020-03-02 04:24] jwnremt opened #174 "Soundcraft SI Series Console Control Module (Harman HiQnet)"
I would like to see a module that allows for control of Soundcraft SI series consoles (Expression, Impression, and Performer). Some of these features would be used for direct recall from a stream deck but others might be used for programmed recall via OSC Button Presses.

Feature requests:
-Mute/Unmute Channels and mixes
-adjust levels if possible (Fade up to x over y time?)
-recall scenes
-recall

[2020-03-02 12:19] herzogmedia commented on #174
+1 to this.
I'd add the SI Impact to the List.
Also there's protocol info in pr #60 available

[2020-03-02 13:21] dewiweb commented on #142
@McHauge,
Basic ones:
Play, Pause,Stop and initiate recording could be a good start.

[2020-03-02 15:02] mark-spl commented on #108
I am about to open an email, after which I will may or may not be able to share the commands with you. That is the answer.

[2020-03-02 17:06] josephdadams commented on #108
I know when I inquired about the protocol for the VX4S, I had to sign an agreement to not share it. But then I found the same PDF they sent me all over the Internet.

[2020-03-03 18:31] borderlander19 commented on #141
@McHauge Thanks for getting this moving so quickly!
I have done some (basic) testing (I only have my laptop with me currently so no licensed machine) and unfortunately it does not appear to work...
Should it work with the loopback IP (127.0.0.1)? I will try to test with a physical network adapter tomorrow.
I'm using the default ports, and have tested with channel 1 set to both 'free' and 'remote c

[2020-03-03 20:13] McHauge commented on #141
Makes sense with the no feedbacks since I haven't added anny yet, also if you're not on a licensed unit most of the commands will be disassembled on their side. Also it looks like from your foto that you will need to use the IP: 2.3.1.250 and not 127.0.0.1

[2020-03-03 23:46] McHauge commented on #141
@borderlander19  Ups... My bad I miss read the documentation and phrased the commands as Jason parameters, and not as URI parameters. this is now fixed and from what I can test here it seems to work at least to what the non-licenced version can do.

Also updated the module and added a new test build on the same download link as before. if you could try again that would be awesome.

-McHauge

[2020-03-04 06:41] millsemillse opened #175 "pi status - temp / cpu % / ram / sd %"
Hey there! Would'nt it be great for headless pi's to have direct feedbacks showing on buttons, to show the actual system performance as a module?

so in my head, 4 feedback functions
temp / cpu % / ram / sd %

have a nice day!
millse

[2020-03-04 10:32] jwnremt opened #176 "Wake-on-LAN"
I would like a module that sends Wake-on-LAN magic packets to turn on another device (in this case my lightboard but I think others could find it useful for any hardware that allows for remote startup/WOL) on the network.

A status indicator of the device might be nice too. (Maybe just have us select the Mac Address & the IP address so the module can ping the device to see if a response is returne

[2020-03-04 18:19] dewiweb commented on #69
@monoxane ,
a good news for a ember+ interactions and maybe for companion integration:
[(https://github.com/olzzon/tv2-rest-ember-gateway)]

[2020-03-04 18:53] qm-admin commented on #111
Do you have a status on this? Matrox had provided the API spec to you some time ago.

[2020-03-04 19:02] josephdadams commented on #111
They gave me the API but said I couldn’t post it or share it so it’s just sitting on my hard drive.

[2020-03-04 19:13] McHauge commented on #111
but how can you implement it then, since it would become public when making the module?

[2020-03-04 19:16] josephdadams commented on #111
They said they didn't mind if I made a Companion module; they just didn't want me sharing their API documents directly. Since it's not a device I use or plan to use, the effort to reward ratio isn't there for me. I don't have the time.

[2020-03-05 18:03] shaunus opened #177 "Wowza Clearcaster Streaming Appliance [Module Request]"
Looking for Companion support for Wowza Clearcaster Streaming Appliance:

https://www.wowza.com/products/clearcaster
https://www.wowza.com/docs/wowza-clearcaster-graphql-api-overview

I'm unsure if it's even possible, but thought it was worth a try! We use these appliances a lot and they're brilliant.

Thank you!

[2020-03-05 20:33] josephdadams commented on #39
This module has been created and will be included in the next release.

[2020-03-05 20:33] #39 closed

[2020-03-05 23:23] josephdadams commented on #149
@JeffreyDavidsz is this module done?

[2020-03-06 06:46] JeffreyDavidsz commented on #149
Yes it's in the builds!

[2020-03-06 06:46] #149 closed

[2020-03-06 10:31] JeffreyDavidsz commented on #84
Oh yeah, just a little message... it's in

[2020-03-06 10:31] #84 closed

[2020-03-06 22:13] Hyper-Rage opened #178 "Module Request: Atomos Shogun"
**Describe the feature**
Module for controlling an Atomos Shogun Studio over the AMP Commands

**Is this platform dependent (windows, mac, ..)?**
No.

**If documentation is required to implement, do you know where to find it?**
- Page to link to User Manual of the product
https://www.atomos.com/firmware/shogun-studio

- Direct link to User Manual.
http://downloads.atomos.com/shogun-studio/Shogun_S

[2020-03-07 01:09] Julusian commented on #121
https://github.com/bitfocus/companion-module-sonos

[2020-03-07 09:29] josephdadams commented on #151
Is this one done or still in progress?

[2020-03-07 09:31] josephdadams commented on #130
Closing due to inactivity.

[2020-03-07 09:31] #130 closed

[2020-03-07 09:32] JeffreyDavidsz commented on #151
In progress, waiting for connection confirmation

[2020-03-07 09:33] #121 closed

[2020-03-07 18:01] josephdadams commented on #175
This is only going to be achievable by a modification to the Companion core, so I'm going to transfer it back over there as a feature request.

[2020-03-09 15:34] josephdadams commented on #148
@krocheck can you look into this as it relates to the digital projection module?

[2020-03-09 15:35] josephdadams commented on #141
This is in the core now, closing this issue.

[2020-03-09 15:35] #141 closed

[2020-03-09 15:35] josephdadams commented on #17
Included in core; closing.

[2020-03-09 15:35] #17 closed

[2020-03-10 04:46] sendingstrings commented on #34
This would be helpful for us theater production folks. Both for the BSS gear and for the quickly modifiable TCP string option for bootstrapping solutions quickly.

[2020-03-10 04:52] josephdadams commented on #34
A generic TCP UDP module will be available with the next Companion release which should solve this.

[2020-03-10 04:52] #34 closed

[2020-03-10 23:16] underdog1234 opened #179 "dNotes - PowerPoint Notes Viewer -"
dNotes is a Live Notes Viewer for PowerPoint. A fully integrated PowerPoint add-in broadcasts the notes page of the current slide over a network. A computer on the same network running dNotes Client receives and displays the notes on a secondary display along with a countdown timer and messager.

Would be awesome to be able to switch what computer notes are coming from with companion

Homepage
[ht

[2020-03-11 08:26] DaveShep commented on #179
dNotes does not have Companion support as yet.

[2020-03-11 11:30] josephdadams commented on #56
@webby123

[2020-03-12 17:51] msiefertwm opened #180 "[Module Request] Streaming ACN (sACN)"
**PLEASE USE THE FOLLOWING PAGE IF YOU WANT SUPPORT FOR A NEW DEVICE OR SOFTWARE PROGRAM**: https://github.com/bitfocus/companion-module-requests/issues/new
I'd love to have a sACN module for controlling lighting and lighting controlers.  It is an alternate protocol to Artnet which companion already supports.
Here's the spec for it: https://tsp.esta.org/tsp/documents/docs/ANSI_E1-31-2018.pdf
There

[2020-03-13 01:39] josephdadams commented on #137
I took a look at this API, it would probably be pretty easy using a nodejs zeromq library. I'll mark it easy for now.

[2020-03-13 01:40] josephdadams commented on #74
We included this in the core build, so this will be closed. If anyone has an issue with using it, they can file a bug report.

[2020-03-13 01:40] #74 closed

[2020-03-13 01:42] josephdadams commented on #103
@AlexK-99 we created this module repository for you but no code has ever been pushed to it. Are you interested in sharing your module? https://github.com/bitfocus/companion-module-birddog-studio

[2020-03-13 01:52] josephdadams commented on #96
@McHauge I'll close this.

[2020-03-13 01:52] #96 closed

[2020-03-13 02:00] josephdadams commented on #86
We have generic OS execution through the internal shell script action, so we can close this, yeah? @willosof

[2020-03-13 08:16] jwnremt opened #181 "Figure53 QView"
I would  @like a module for QView , a very simple pdf viewer that is used to automate scripts/prompt books.

https://github.com/Figure53/QView/blob/master/README.markdown

This will be a super easy one as there are only 3 options all via OSC and always listening on port 60000.

Send OSC messages to port 60000. You can control which page is displayed using this OSC format:
/goto/page/number
Or use

[2020-03-14 15:48] AlexK-99 commented on #103
@josephdadams Yes, I am interested in sharing my module. It's ready from my side, but the problem is that BirdDog hasn't officially released the new firmware required for it yet. I have received a beta version of the new firmware from Birddog, but it has bugs that make it unusable because you can't play the ndi sources.

[2020-03-15 05:19] rrfarmer opened #182 "Possible to work with DataVideo switchers?"
**PLEASE USE THE FOLLOWING PAGE IF YOU WANT SUPPORT FOR A NEW DEVICE OR SOFTWARE PROGRAM**: https://github.com/bitfocus/companion-module-requests/issues/new

**Describe the feature**
I have been researching if a stream deck would work with sending commands to a DataVideo switcher, specifically the SE-3200. It has a network port and an IP, and software to load graphics and things into it over the n

[2020-03-16 04:09] eicdw commented on #8
Hi josephdadams - Any progress on a working module for FSHDR?
I also wonder if this would work for a FS-1X. I have a mix of the two.
Thank you

[2020-03-16 12:34] josephdadams commented on #8
I looked at the protocol/commands but never wrote anything.

[2020-03-16 21:00] josephdadams commented on #103
What version?

[2020-03-17 17:12] bodesattva opened #183 "Flanders Scientific (FSI) broadcast reference monitors and BoxIO control"
Flanders Scientific has an [IP Remote Utility](https://flandersscientific.com/ip-remote/) to control their broadcast monitors and LUT boxes. I'd like to duplicate it's functionality in Companion so that running (and switching to the app to use the hotkeys) isn't required.

[2020-03-18 13:09] scottaroo02 opened #184 "Datavideo PTR-10"
I'd love to have a Datavideo PTR-10 module to control the PTR-10. This is a Robotic Pan Tilt Head that allows you to transform any camera into a PTZ camera. Datavideo allows control via DVIP protocol.

DVIP Control Operation Guide: http://www.resource.datavideo.com/downloads/Datavideo_DVIP_Ethernet_Control_Operation_Guide.pdf

DVIP_Protocol:
http://www.resource.datavideo.com/downloads/Datavideo_PT

[2020-03-18 20:56] SlateAV commented on #140
The only thing I'm not seeing is a Play. Pause, FF, RW and a standard
Repeat One or All

On Sun, Jan 26, 2020 at 10:02 AM Andreas Thomsen <notifications@github.com>
wrote:

--

Best Regards,
Austin Delgado
c: 727-418-7274
e: delgadoa6@gmail.com

[2020-03-19 15:54] AlexK-99 commented on #103
@josephdadams Version 3.0.8

[2020-03-19 22:15] AlexK-99 commented on #103
@josephdadams This version I got directly from BirdDog they are not yet official and are not stable and have a NDI bug.

**These versions have the full API, but as mentioned above, they have a NDI bug!!!**

Studio NDI:
 Firmware 3.0.8
[https://my.pcloud.com/publink/show?code=VZxpFnkZYebzL8uVI4p3WqSjfXKmY0iBlFzk](https://my.pcloud.com/publink/show?code=VZxpFnkZYebzL8uVI4p3WqSjfXKmY0iBlFzk)

Mini ND

[2020-03-19 23:00] AlexK-99 commented on #103
I have uploaded the first version, which I think is finished. I have tested it with my BirdDog Studio / Mini.  It worked without problems. It should still be tested by someone else. I just added an action to change the Ndi decoding source.
[https://github.com/bitfocus/companion-module-birddog-studio](https://github.com/bitfocus/companion-module-birddog-studio)

[2020-03-20 01:31] josephdadams commented on #184
@bb21b how does this protocol line up with your module?

[2020-03-23 07:11] AlexK-99 commented on #103
BirdDog has finally released version **3.1**, I will test it and then finish the moudle, so you can change all settings

[https://www.bird-dog.tv/features/firmware-updates/](https://www.bird-dog.tv/features/firmware-updates/)

[2020-03-23 10:04] magneriise opened #185 "Avonic CM70-IP"
Hi.
Want a module for Avonic CM7X IP. Theese are PTZ for use in installation and rental.
With a growing demand for easy of use packages.
Attached is the manual included the full control list.
Hope to have control of:
PTZ, Focus, WB, Exposure, Position memory, tallylight.
[Manual CM70-IP (2).pdf](https://github.com/bitfocus/companion-module-requests/files/4368423/Manual.CM70-IP.2.pdf)

[2020-03-23 20:26] JoWulff commented on #42
https://rme-audio.com/totalmix-fx.html

[OscTableTotalMix_170314 + Comp example.zip](https://github.com/bitfocus/companion-module-requests/files/4371747/OscTableTotalMix_170314.%2B.Comp.example.zip)

I can test if needed.

[2020-03-25 16:33] BlackScreen commented on #42
Is this considered to be implemented? I would be very interested in this also! :)

[2020-03-25 21:36] Fader-Monkey opened #186 "Livestream studio 6 Web control"
I would like to request a Module for Livestream Studio. It has a web control feature that can be turned on from inside the app.
I would like to be able to pick preview and program sources, and be able to activate the Go Live button and the stop streaming button. later this could be expanded to all the features but those will cover 90% of operations.
I exported the data from the web control page. p

[2020-03-26 16:13] BlackScreen commented on #81
Any news on this? I would love this feature also.

[2020-03-26 17:52] MeestorX commented on #81
Did you already try MIDI Relay?
https://github.com/bitfocus/companion-module-techministry-midirelay

[2020-03-26 18:51] ZachIsaiah opened #187 "Barco RLM-W12 Projector Control"
Hey guys, new to this so bear with me! I would love to control my Barco RLM-W12 Projectors (Lamp on, off, etc). Is there a simple way to go about creating the code for this? Any help would be appreciated!

[2020-03-26 18:58] josephdadams commented on #187
I have the same projectors. If you send an HTTP request to /tgi/remote.tgi?onky, it will turn on.

http://projectorIP/tgi/remote.tgi?onky

offky will turn it off

I've been doing this for years and it works great every time

[2020-03-26 20:32] ZachIsaiah commented on #187
Thank you so much! It worked!

[2020-03-26 20:32] #187 closed

[2020-03-26 21:59] BlackScreen commented on #81
No, I did not. But I will. Thanks for the tip!

[2020-03-27 14:18] Fader-Monkey commented on #119
I recently requested this module as well. I will delete that request and can also ask about the API i have an enterprise plan.

[2020-03-27 14:18] #186 closed

[2020-03-27 14:33] Fader-Monkey commented on #119
looks like there is documentation here.

https://github.com/Livestream/livestream-api-samples

https://livestream.com/developers/docs/api

[2020-03-27 19:38] houtacheng opened #188 "roland m5000"
[M-5000_M-5000C_RS-232C_Telnet_e02_W.pdf](https://github.com/bitfocus/companion-module-requests/files/4395583/M-5000_M-5000C_RS-232C_Telnet_e02_W.pdf)

https://proav.roland.com/global/ohrca/

I have a roland m5000 device
I hope can use companion control
I found the telnet file, don't know if it helps?
thank you very much!

[2020-03-28 08:52] josephdadams commented on #188
Follows Roland’s other protocols so is very straightforward to implement. If anyone is looking to pick this up, I recommend using the Roland V-60HD module as a template: https://github.com/bitfocus/companion-module-roland-v60hd

[2020-03-29 02:36] Dwvsplat opened #189 "Allen & Heath QU-16"
I would like a module for scene recalls on the Allen & Heath Qu-16
We use it as an audio router in our video control.
Here is the protocol:
https://www.allen-heath.com/media/Qu_MIDI_Protocol_V1.9.pdf

[2020-03-29 03:09] josephdadams commented on #189
Duplicates #91.

[2020-03-29 03:09] #189 closed

[2020-03-29 17:25] dvecino opened #190 "Support for a new device · Sound Devices MIXPRE II"
The Mixpre II is a family of HQ audio recorders and mixers.
https://www.sounddevices.com/mixpre/

They support some external devices through USB to control them and has an iPad / Android app to control the device through bluetooth. https://www.sounddevices.com/product/wingman/

I wondering if it would be possible to control these devices using an stream deck thanks to companion.

Kind regards!

[2020-03-29 17:33] krocheck commented on #190
Looking through publicly available documentation it seems that Sound Devices has not published information about their control specification.  As an example, there used to be separate remote control specification PDF for the PIXNET devices (250, 260, 270, and 970).

As an owner you might be able to reach out to them to find out if a remote control specification can be provided.

[2020-03-29 17:39] dvecino commented on #190
I have just contacted sound devices.
As soon as I have some news I will let you know.

Thanks!

[2020-03-30 17:47] dvecino commented on #190
This is the answer of Sound Devices:

_Thank you for contacting Sound Devices. I can tell you that the 4 approved MixPre control surfaces uses a custom MIDI messages mapping, but would not be able to give more detail than that in terms of how to develop a custom controller.

Controllers Supported on the MixPre:

 - Korg NanoKontrol Studio
 - Korg NanoKontrol 2
 - Novation LaunchControl XL
 - Akai

[2020-03-30 18:06] krocheck commented on #190
Well that's that isn't it.  We would have to reverse engineer the app's IP communication with the MixPre.  Not difficult and has been done before, just time intensive and requires a programmer to have a unit in order to be efficient.

[2020-03-30 18:24] chrismorrissey94 opened #191 "Streamdeck - LiveStream Studio 6 web streaming software"
Hi,
I would like to be able to use my stream deck to control LiveStream Studio 6

Ideally it would be able to offer the ability to choose different input sources on the Preview screen, with CUT and AUTO take buttons, and also offer the ability to change the Program feed inputs directly

Thanks,

Chris

[2020-03-30 21:50] josephdadams commented on #191
Duplicate of #119. Feel free to use the search function for keywords to double check and see if someone else has already submitted a request.

[2020-03-30 21:50] #191 closed

[2020-03-31 09:42] MeandtheDevilknockingonyourdoor opened #192 "sounddevice Yamaha DME64N"
I would like to control this device. It is important that I can switch scenes + recall and store functions. it is also important that the mute functions (mute all) can be used. I will be happy if it is successfull. Best Martin

[2020-03-31 11:30] josephdadams commented on #192
Hello, you need to supply the link to the protocol information to control the device.

[2020-03-31 12:38] MeandtheDevilknockingonyourdoor commented on #192
[Yamaha DME Remote Control Protocol](https://de.yamaha.com/files/download/other_assets/8/325448/dme_remote_ctrl_prtcl3102_en.pdf)

[2020-03-31 16:44] MeestorX commented on #192
Do you have one of these that you can work currently? You would need to be willing to do some back and forth testing for a while.

[2020-03-31 17:20] MeandtheDevilknockingonyourdoor commented on #192
Yes, in the future I can ask my company, maybe in two or three weeks.
Thx
Martin

Von meinem iPhone gesendet

[2020-04-02 12:09] magneriise commented on #185
Have tested quickly with the Sony VISCA- ip and the basics work perfect. Havn't tested all functions, but I guess we're cloose with making a copy of the that file.

[2020-04-02 15:31] Wolverine80 commented on #60
Just bought a Ui24R and would love to toggle some functions with the StreamDeck.
I found some projects on Github that already do something with the web interface of the Ui series. One is a Midi converter to use Midi controllers to access mixer functions, mabye some inspiration on how to control the API can be used from there.

[2020-04-02 16:10] josephdadams commented on #60
@Wolverine80 consider posting links to those.

[2020-04-02 16:11] josephdadams commented on #185
Do we need to make a copy of the module if it works the same?

[2020-04-03 23:51] houtacheng opened #193 "KODI midia player"
if this file is helpful?

https://kodi.wiki/view/JSON-RPC_API
https://kodi.wiki/view/JSON-RPC_API/v8

[2020-04-04 00:45] josephdadams commented on #193
What are you looking to control within Kodi?

[2020-04-04 02:00] houtacheng commented on #193
Player play/pause

https://kodi.wiki/view/JSON-RPC_API/Examples

[2020-04-05 07:23] airbenich commented on #165
@peschuster What do I need to do, to integrate your module into Companion? Build the whole Companion project?

[2020-04-05 11:17] peschuster commented on #165
@airbenich It was added to Companion 2.0 about a month ago (https://github.com/bitfocus/companion-module-panasonic-projector).
You can download version 2.0 from the website:
1. https://bitfocus.io/user/downloads
2. "2.0 BETA"

[2020-04-06 16:46] Dwvsplat opened #194 "Haivision KB Encoder Control"
I know there is already a Haivision DVR module, but that does not work for the KB encoder.
I would like a module that would play/record/stop a specific channel. Here is the documentation about the Haivision KB unit.

https://doc.haivision.com/KB5.6/api-integrator-s-reference

[2020-04-07 17:11] Wolverine80 commented on #60
@josephdadams No problem.
Interesting aspects has this project, though I don't understand many of the code.
https://github.com/stevaedrum/ui2mcp
This project looks like the sourcecode of the Mixers Web UI
https://github.com/ko7m/SoundcraftUI24R
This sounds like an companion module which was already in the making:
https://github.com/TheMrPoseidon/companion-module-soundcraft-ui

[2020-04-08 03:16] DireWolf81 commented on #102
I second this request. I have been trying to research how to do this on my own, but I am not quite that talented.

Additional uses:
Power On/Off, Select Input

[2020-04-08 07:52] magneriise commented on #185
Sorry, reely noob of me. Was not aware that the VISCA a standard for more then Sony.
It is testen and everything work just briliant.

[2020-04-08 07:52] #185 closed

[2020-04-08 20:14] BB21B commented on #184
@josephdadams I believe the Datavideo PTZ cameras encapsulate Visca over IP so it is probably more likely to be a derivative of that. I found this while Googling, which should shed some light on it.

https://github.com/jamesremuscat/avx/pull/78

[2020-04-08 22:43] GarthDB opened #195 "Z Camera"
Specifically, I'm interested in the e2c, but the HTTP API seems almost identical to the e2.

The docs can be found [here](https://github.com/imaginevision/Z-Camera-Doc/blob/master/E2/protocol/http.md).

It's pretty straight forward so I'll try building the module myself.

[2020-04-10 13:25] jkopelman opened #196 "Support for Epiphan Pearl-2"
Hello,

Would it be possible to have native support for the Epiphan Pearl 2/min? They have a full integration guide and at a minimum, a full set of http get/set commands. See http/https guide below and config keys for third party API's on that same page.

https://www.epiphan.com/userguides/pearl-2/Content/UserGuides/Streaming/integrate/thirdPartyConfig/man_br_3rdParty_controlling_with_http.htm

Wi

[2020-04-10 14:17] josephdadams commented on #196
@jkopelman Companion 2.0 has an Epiphan Pearl module. Have you tried it?

[2020-04-10 19:12] ThatGuySittin opened #197 "Sony Bravia fwd-65x950g"
Hello all! I was wondering if someone could develop a module for the Sony Bravia TVs? They are IP controlled, and I would like to be able to use the companion infrastructure to do this! The controls I thought we could implement are simply a set Power Status ON and a set Power Status OFF. It may also need to allow for authentication, since the Bravia has an authentication setup. I will link below t

[2020-04-10 19:15] billchurch opened #198 "Elgato Key Light Module"
https://www.elgato.com/en/gaming/key-light

Didn't see an API posted anywhere that I can find, but looks simple enough from what I picked up from Wireshark...

Quick PostMan API here: https://www.getpostman.com/collections/f1c92ce7daec35ca2864

**Get list of lights (in case paired with others?)**
get http://<ip>:9123/elgato/lights
[code]

**Get individual info for this light**
get http://<ip>:9123

[2020-04-11 19:25] EvilJedi commented on #5
Looking forward to this Module. Would be great to get Scene select, Scene Collection select, transition select, start stream, start recording.

[2020-04-11 20:27] dantz commented on #5
This is the puzzle piece missing for me to go all in on companion.

[2020-04-12 17:53] iamjohnbarker commented on #110
Huge thanks for getting the ball rolling on this @josephdadams - Mail me if there is anything I can do to make the integration smoother 😄

[2020-04-12 19:21] josephdadams commented on #110
I built it based on the OSC spec. The original requester @hadphild ghosted us so I don’t know if it’s been tested. @iamjohnbarker if you could confirm it does what it’s supposed to, that’d be great! Or, feel free to rewrite or make a tighter integration!

[2020-04-13 14:34] Celant commented on #5
Hi all, I'm going to be taking a stab at making this module. Wish me luck! 😄

[2020-04-14 02:23] houtacheng commented on #110
H2R installed in WIN/MAC cannot be triggered by Companion in other computers.
However, H2R installed in the MAC can be triggered by the local (127.0.0.1) companion.

[2020-04-14 17:13] pacman160 opened #199 "Gefen 4x1 Multiview Switcher"
Hello!
Should be a quick and easy one to add. I would much appreciate it, if not I'm sure i can figure out the generic udp commands as they are easily listed. I'm not looking for every command, just the ones to run presets and assign windows but would welcome all the functions.
Gefen EXT-HD-MVSL-441
https://www.gefen.com/product/multiview-seamless-switcher-EXT-HD-MVSL-441
[pdf_EXT-HD-MVSL-441_Manu

[2020-04-14 18:07] josephdadams commented on #199
Protocol looks very similar to the Gefen DVI Matrix module. You could probably use it for some of these functions.

[2020-04-14 19:13] pacman160 commented on #199
Comparing the two, they are nothing a like. The matrix mod has very very
few commands and they don't line up in this instance

On Tue, Apr 14, 2020 at 11:08 AM Joseph Adams <notifications@github.com>
wrote:

[2020-04-14 19:21] josephdadams commented on #199
Alright

[2020-04-15 20:35] josephdadams commented on #196
Closing due to no response from @jkopelman.

[2020-04-16 05:53] JeffreyDavidsz commented on #199
If you got some money to spend I'll set it up for you quick.

[2020-04-16 12:47] pacman160 commented on #199
It's not needed, I can copy paste from the manual. I was just doing what
companion said as to submit a request. I have no problems using tcp for the
couple things I do.

On Wed, Apr 15, 2020, 11:53 PM Jeffrey Davidsz <notifications@github.com>
wrote:

[2020-04-16 18:13] JeffreyDavidsz commented on #199
Check, send the commands that you are using, and it will be created faster

[2020-04-19 01:47] josephdadams commented on #195
How is your module coming along, @GarthDB ?

[2020-04-19 01:50] GarthDB commented on #195
After we worked through the issues with the  local build of Companion, I’ve started playing with the new module locally. I’ll push my changes to my fork soon. I need to make sure I get at least the basic functionality and figure out the presets.

[2020-04-21 13:49] booguiseb opened #200 "SONY PDW-HD1550"
Hi,

I would like to control a SONY HDcam PDW-HD1550, transport and feedback just like an hyperdeck or more.
I don't have the protocol yet.
thanks a lot for your work

Seb

[2020-04-21 13:56] booguiseb opened #201 "Button to Increment or decrement value"
Hi,

I was thinking of button in COMPANION (like page up/down) that can increment values for exemples:
In a blackmagic hyperdeck instance, scroll up and down in the media player list, change the jog speed (may be an option to change the increment value( +1,+10,+100))

Thanks a lot

[2020-04-21 14:06] josephdadams commented on #200
Please find and post the protocol in order for your request to be considered.

[2020-04-21 14:08] josephdadams commented on #201
Thanks for your request. It sounds like there is an existing request falls in line with what you are asking for, so I will close this issue. Feel free to add your thoughts here: https://github.com/bitfocus/companion/issues/954

[2020-04-21 14:08] #201 closed

[2020-04-21 16:34] booguiseb commented on #200
Hi Joseph,

I will as soon as I get the info.

Best regards

Seb

[2020-04-21 16:53] krocheck commented on #200
#97 was running into the same roadblock with documentation.  Sony has never published a control spec for the professional decks.

[2020-04-24 15:19] dvecino commented on #190
I have a Novation LaunchControl XL and a MIXPRE6-II.
If I can help in any way please let me know.

[2020-04-24 16:47] scottaroo02 commented on #184
i saw that a Datavideo DVIP module was written, can that be used in creating this module to control the PTR-10 PTZ camera?

[2020-04-24 17:38] BB21B commented on #184
@scottaroo02 Unfortunately DVIP isn't really a set standard and this is a completely different implementation. At a glance it is just Visca over IP with an extra header of 00 08 and all the commands I looked at appear to match the document below.

https://pro.sony/s3/cms-static-content/uploadfile/59/1237493025759.pdf

So it would probably be best if support is added to a copy of the Sony Visca mod

[2020-04-24 23:26] mpaulmitchell opened #202 "Sennheiser SSC and SMC Protocol (EM6000)"
Hello,

I would like to submit a request for development of the Sennheiser SSC and SMC Protocol. This protocol is used to communicate with a number of their products. I would specifically like communication with the Sennheiser EM6000 but I believe this can be expanded to the products listed in this document. https://assets.sennheiser.com/global-downloads/file/13001/AN_1260_v1.0_Media_Control_Syste