[2020-04-26 09:33] magneriise opened #203 "Panasonic UE4 control"
Want to control the new Panasonic E-PTZ camera from Companion.
Hope to have as close to control on all parameters, but most important is:
- Zoom
- PTZ
- Focus
- Gain/iris
- WB
- Tally

Attached is documentation for control
[AW-UE4_InterfaceSpecification_V1.00E.pdf](https://github.com/bitfocus/companion-module-requests/files/4535018/AW-UE4_InterfaceSpecification_V1.00E.pdf)

[2020-04-28 05:54] quentinmit commented on #86
There's a lot of things that could be done with an AppleScript module that can't be done with shell scripts. Most notably, feedback/variables. For instance, I'd love to be able to use AppleScript to run "get output volume of (get volume settings)" and put the current system volume on a button.

[2020-04-28 11:40] JanosDakzinger opened #204 "Feature Request: Behringer Xair12 with Bounty"
Hey  guys.
I'm a sopundengineer from Berlin and i'm building a headless setup in the moment with the stream deck and a behringer Xair12 for interpreters to be able to interpret zoom conferences from home.
I need to get visual feedback from the Xair to the streamdeck which Snapshot on the Behringer is activated (i.e. button one or two)
I need this by thursday and i can offer 150,- €
would be awesom

[2020-04-28 22:03] MeestorX commented on #204
Couldn't you just use the OSC module? I thought all Behringers spoke OSC?

[2020-04-28 22:05] JanosDakzinger commented on #204
As far as i know only in one direction.

Andrew Broughton <notifications@github.com> schrieb am Mi. 29. Apr. 2020 um
00:03:

--
Janos (Dakz) Münker
-Technik-Dj-Booking-
-----------------------------------------------
Straße der Pariser Kommune 17
10243 Berlin
Mobil: 0152/53789328
mail: janos@cog-records.com

[2020-04-28 22:50] MeestorX commented on #204
I see. I don't understand why there's 2 modules, AFAIK, all the Behringers use the same OSC commands, so the X32 and X-AIR products SHOULD be the same, but honestly I've never looked into it that carefully.

[2020-04-28 22:52] JanosDakzinger commented on #204
tbh i'm a user and need that feature. i have no clue how to do it...

[2020-04-28 23:03] istnv commented on #204
Do you just need the name of the current snapshot or something more?

[2020-04-28 23:04] JanosDakzinger commented on #204
just change of background color when it's activated

[2020-04-28 23:09] istnv commented on #204
@MeestorX X32 and the XAir actually have different OSC dictionaries. There is some overlap but not a lot.
@JanosDakzinger You can add another action to change the background on button at the same time you send the recall snapshot without needing feedback

[2020-04-28 23:11] JanosDakzinger commented on #204
like i sad, it's headless. i want to have confirmation that its actually loaded.

[2020-04-28 23:22] JanosDakzinger commented on #204
@istnv Would you be up for it?

[2020-04-28 23:25] istnv commented on #204
I'm still looking over the code to see what is needed. It took a few weeks to get QLab feedback working, but I can start from there. I don't know about 2 days, though.

[2020-04-28 23:26] JanosDakzinger commented on #204
aight cool, i have to showcase this on thursday but can prolly add features after approval.

[2020-04-28 23:30] MeestorX commented on #204
If I had one to test it with, it'd be a snap.

[2020-04-28 23:31] istnv commented on #204
I have an x18 sitting on my desk. As I said, still researching.

[2020-04-29 09:01] istnv commented on #204
Almost done. I need to double check socket and timer are removed when necessary.
Any other feedbacks while I have the patient on the table?

[2020-04-29 09:40] JanosDakzinger commented on #204
Mute would be nice :-)

John Knight Jr <notifications@github.com> schrieb am Mi. 29. Apr. 2020 um
11:01:

--
Janos (Dakz) Münker
-Technik-Dj-Booking-
-----------------------------------------------
Straße der Pariser Kommune 17
10243 Berlin
Mobil: 0152/53789328
mail: janos@cog-records.com

[2020-04-29 10:27] istnv commented on #204
I submitted the changes for this. We may need to prod the core developers to merge.
The snapshot feedback was not that complicated since it is localized to 'Snapshots'.
Everyone wants mute, but sorry, they are going to need some more time as they are more spread across the mixer:
A snapshot is a snapshot, but a mute could be a main(lr) or a channel or a DCA or aux send or aux return, all with diff

[2020-04-29 10:29] JanosDakzinger commented on #204
Ok no worries.
You submitted the changes means I can download it already?

John Knight Jr <notifications@github.com> schrieb am Mi. 29. Apr. 2020 um
12:27:

--
Janos (Dakz) Münker
-Technik-Dj-Booking-
-----------------------------------------------
Straße der Pariser Kommune 17
10243 Berlin
Mobil: 0152/53789328
mail: janos@cog-records.com

[2020-04-29 10:35] istnv commented on #204
I do not have direct access to this module. I worked on a forked copy and submitted the changes to the core. One of the core developers will need to commit the merge and then trigger a build before it shows up in the normal downloads. What target/system are you using? (mac/windows/linux/rpi)

[2020-04-29 10:37] JanosDakzinger commented on #204
Win 10 ltsc

John Knight Jr <notifications@github.com> schrieb am Mi. 29. Apr. 2020 um
12:36:

--
Janos (Dakz) Münker
-Technik-Dj-Booking-
-----------------------------------------------
Straße der Pariser Kommune 17
10243 Berlin
Mobil: 0152/53789328
mail: janos@cog-records.com

[2020-04-29 10:49] istnv commented on #204
I develop on linux. My windows build fails so I would not be able to offer an alternate download.

[2020-04-29 13:07] JanosDakzinger commented on #204
That didn’t work yet.
I get this:

Von meinem iPhone gesendet

[2020-04-29 20:45] josephdadams commented on #203
@PerRoine should we try to incorporate this into the existing Panasonic PTZ module?

[2020-05-01 12:52] TheMrPoseidon commented on #60
Which functions would you like to have from the beginning? I now have some spare time after finishing my bachelor degree. I've already created an issue to add your requests. TheMrPoseidon/companion-module-soundcraft-ui#1

[2020-05-01 19:30] TheMrPoseidon commented on #60
Hey FYI, I solved the communication issues with the UI16. Yay! muting and setting the fader to a defined level is now possible.
![First working integration](https://user-images.githubusercontent.com/12087763/80835209-99fc0b80-8bf2-11ea-8100-5d3c042f5f49.png)

[2020-05-01 19:39] krocheck commented on #60
@TheMrPoseidon are you in our Slack chat?  We can get a repo setup on our end to start including this in builds if you'd like.  A lot of the chat related to that process would normally occur in our Slack in the #module_development channel ... that's why I asked.

[2020-05-05 00:24] cpuguru07 commented on #174
+1 for muting/unmuting individual channels, VCAs, Auxes, and Mute Groups. Changing fader (up/down) would be useful as well.

[2020-05-05 00:24] cpuguru07 commented on #102
+1 for Power On/Off and selecting inputs.

[2020-05-05 00:32] cpuguru07 opened #205 "Magewell Pro Converter NDI Decoder"
Device: Magewell Pro Convert for NDI to HDMI

Specific module feature requests:
- Switch between different pre-defined NDI sources (channels)
- Feedback to indicate whether an NDI source/channel is active

API Documentation: http://www.magewell.com/api-docs/pro-convert-decoder-api/

[2020-05-05 12:33] melimat commented on #26
So I am working on development of YouTube module currently. So here is a little progress report. I have already implemented OAuth authorization for accessing YouTube data API using Googleapis library. Right now, I am focusing on building little frontend for stream creation. For frontend I decided to use onboard Electron.
Here is how the workflow with the module will look like:
1. Creating access c

[2020-05-05 21:41] GrimorJander commented on #190
I've been trying to sniff some protocols between wingman app and mixpre, looking to replicate the record/stop function via Bluetooth:
Device Name [R] (0x2A00)
- Appearance [R] (0x2A01)
- Peripheral Privacy Flag [R W] (0x2A02)
- Peripheral Preferred Connection Parameters [R] (0x2A04)
Generic Attribute (0x1801)
- Service Changed [I R] (0x2A05)
   Client Characteristic Configuration (0x2902)
Unknown

[2020-05-07 16:30] ThatGuySittin commented on #197
I have received confirmation I can in fact pay for this module. What would be a fair price for this? We need this to be functioning as soon as possible to test before next project.

[2020-05-09 17:38] kristofsm opened #206 "Sonos control"
Searching for a way to control Sonos systems.
Found the code:

https://github.com/svrooij/sonos2mqtt#readme
&
https://github.com/svrooij/node-sonos-ts

[2020-05-09 18:31] josephdadams commented on #206
There’s a Sonos module in Companion 2.0.

[2020-05-09 18:31] #206 closed

[2020-05-10 13:32] josephdadams commented on #102
Until someone can take on the task of creating this module, you could probably use the command line interface referenced in the issue and then use the execute shell command function of Companion to run that command. Just an idea.

[2020-05-10 13:39] josephdadams commented on #197
Most modules take 2-3 hours minimum to create, even more to test/troubleshoot or apply special features. Do you have one of these TVs set up where it could be accessed remotely for module development? It makes testing go much faster.

[2020-05-11 17:57] ThatGuySittin commented on #197
Hey Joseph, I do have one for remote access. What exactly would you need in this scenario? Connection through IP to a computer that also has companion on it? What program would you use for remote access?

[2020-05-12 03:25] josephdadams commented on #197
Unattended teamviewer would be the easiest. I don’t have a lot of time during the day right now to develop but could possibly crank this out for you one night. I would need to be able to set up a dev environment of Companion on that remote computer in order to run custom code. Once it is proven to be working, we can set it up as a proper module and include it in 2.0 builds.

[2020-05-12 13:08] cc6007 opened #207 "Sanyo VCC-HD5400P PTZ Camera with HDMI"
I am after a module for a cctv camera which has a hdmi live view out and can be used for live production.
I cant seem to find any documentation which lists cgi commands but i have started tracking what they are for each function.
Ive got PTZ preset position http commands:
http://[IPADDRESS]/cgi-bin/opecmd.cgi?ope=11&execution=1 (last number being the preset) but i cant seem to have a user name and

[2020-05-12 15:20] ThatGuySittin commented on #197
Awesome. What is a reasonable hourly rate for you so I can make sure you get compensated for this?

[2020-05-12 19:13] senini commented on #119
Hello, has there been any progress on this?  It looks like @Fader-Monkey has supplied the API documentation.  I work for a large enterprise that uses Vimeo/Livestream and we would love this to be implemented.

[2020-05-13 00:01] josephdadams commented on #197
Send me an email and let’s come up with a plan! My email is my GitHub username @ gmail. Thanks!

[2020-05-13 00:06] josephdadams commented on #119
Can one of you clarify exactly what you’re wanting to control? Live streaming events from livestream/Vimeo (like starting/stopping a stream) or are you wanting to control the client side software Studio 6?

[2020-05-13 00:07] josephdadams commented on #207
Do you have to log in to the web page of the device before you can fire commands? If so, it might be using session cookies for auth.

[2020-05-13 07:40] cc6007 commented on #207
Yes, if i try to fire a command in a browser which has previously not been logged into the camera i get a prompt from the browser to enter user and password before the command will fire.

[2020-05-13 11:48] josephdadams commented on #207
That sounds like simple http auth. Try formatting your command like this: http://username:password@[IPADDRESS]/cgi-bin/opecmd.cgi?ope=11&execution=1

[2020-05-13 12:59] cc6007 commented on #207
That works a treat in a browser but i cant seem to get to work in generic http in companion. Ive tried with the user, password and ip in the base url but cant seem to get any buttons to work with post command.

[2020-05-13 14:13] josephdadams commented on #207
If you’re typing it into the browser and pressing enter, it’s GET, not POST.

[2020-05-13 14:17] cc6007 commented on #207
Yeah, ive just been doing some reading and using wireshark and found out its GET, still no luck with the generic http module though. Does it matter if i leave the base URL blank and just but the whole url into the button GET command?

[2020-05-13 18:11] Fader-Monkey commented on #119
@josephdadams personally the web GUI would be way more helpful to me as it has options for switching and managing content as well as start and stop stream. It also can add/remove stream destinations. I can upload a network log of the web GUI if that will help. We have it setup with livestream studio 6 already.

[2020-05-13 18:58] bwentzel opened #208 "Cisco Webex Devices"
Ability to interface the xAPI on Cisco Webex Devices running CE software. This would enable more sophisticated use of these devices in event productions. Check out this git repo: https://github.com/CiscoDevNet/awesome-xapi
and specially the postman collection https://github.com/CiscoDevNet/postman-xapi

[2020-05-13 20:04] mrlenny opened #209 "Support for Vaddio Conference shot 10"
Hi Guys,

Got a Vaddio ConferenceShot 10 that uses standard REST services to control the camera, could ya'll whip together a module for it? I've added 3 posts into a public Postman collection here: [LINK](https://www.getpostman.com/collections/d5b702e51e6c6ddea44b) You post the username/password to the login service, and inspect the results to get a cookie, which is passed in all subsequent calls.

[2020-05-14 03:02] josephdadams commented on #119
The documentation provided looks like it is more for controlling the stream itself, not the client side studio software. Can you provide a list of what you're looking to control in Studio 6? I am a vimeo pro user so I should have access to the software myself.

[2020-05-14 03:34] josephdadams commented on #207
Yes, you should be able to leave the base URL blank and put the whole URL into the action.

[2020-05-14 16:32] peppertechie opened #210 "Additional Commands - Extron SMP351"
Requesting additional control for the module "companion-module-extron-smp351"

Manual is at the following link with control info starting on page 105
https://media.extron.com/public/download/files/userman/smp_300_series_68-2238-01_K.pdf

Looking for the following commands to be added:
Recall  encoding preset $number (to choice of archive or confidence)
Recall streaming preset $number (to choice of

[2020-05-14 19:04] philippchudalla opened #211 "AV Matrix MV0430 Multiviewer"
Hi. I would like to be able to switch between the different (multi view) layouts on this device.
Thanks!

[4CH Multiviewer API Guide _Ver1.0 20180704.pdf](https://github.com/bitfocus/companion-module-requests/files/4630361/4CH.Multiviewer.API.Guide._Ver1.0.20180704.pdf)

[2020-05-14 19:27] stuxcrystal opened #212 "VoiceMeeter"
I'm surprised that I can't see a request for this application but:

Voice-Meeter-Support is missing:
It has both a C-API (https://www.vb-audio.com/Services/developers.htm) and an UDP-based remote API (https://www.vb-audio.com/Voicemeeter/VBANProtocol_Specifications.pdf)

[2020-05-14 21:34] josephdadams commented on #212
What are you hoping to do with it in Companion?

[2020-05-14 21:36] stuxcrystal commented on #212
I'd like to mute and route my audio using buttons on the stream-deck.

[2020-05-15 21:05] mcelreafilms commented on #86
You can use osascript to trigger applescript from the generic shell. I've used that in a production environment quite reliably. I don't have the files in front of me to check how we did it, but on a show last November one of my guys figured out a feedback mechanism to have the applescript trigger further companion actions as well.

[2020-05-15 23:01] KMPMUSIC commented on #119
hi guys im a livestream user as well
and cant wait for this development
thanks in advance
kenny phillips

[2020-05-16 13:53] whizkidTRW commented on #26
@melimat I am very interested in this too and eagerly await your progress. I’m happy to be a beta tester!

[2020-05-16 13:55] julienferreiro opened #213 "Request for Wysiwyg"
Hi to all
I'm using Wysiwyg from CAST software (https://cast-soft.com/), and I'd really like a companion profile to use with it.
The only way I found to control it is using keyboards shortcut, but there isn't some for every action.
I'm ready to answer your questions or try your ideas! :-)
Thanks

[2020-05-17 04:00] josephdadams commented on #213
Please provide a link to the protocol documentation that would allow Companion to control it, along with what you’re hoping to specifically control.

[2020-05-17 08:28] vincentymo commented on #212
Agreed! I would love to have this as well! I would also use it for muting and routing.

[2020-05-17 09:50] herzogmedia commented on #212
+1 for that. Also beeing able to do gain-adjustments (moving the channel faders) with companion

[2020-05-17 11:40] CloudDevAU commented on #212
+1 from me.  Would be super handy.

[2020-05-17 11:43] CloudDevAU commented on #212
Actually, as a work around, you can use the VICREO module and the VoiceMeeter hotkeys to acheive this (how I'm using it currently), just a bit more complicated than necessary and has no feedback on what the current settings are unless you can see the VoiceMeeter window.

[2020-05-17 11:59] stuxcrystal commented on #212
It would also be nice to control multiple voicemeeter instances over the network.

[2020-05-18 06:03] AlexHasker opened #214 "Ross Carbonite feedback or Tally info"
Is there a way of getting feedback from Ross Carbonite vision mixers so buttons reflect the actual status of the mixers bus that is being controlled?

Ive been dabbling a bit with Wireshark and from what I can tell the Carbonite doesn't readily provide feedback unless a service is started within the mixer like TSL UMD,  I may be wrong as Im just fumbling here.

My ideal goal here is to use the fee

[2020-05-18 15:30] G-Hansen opened #215 "Epson projectors"
Can we get a module for controlling Epson projectors? I'm personally talking about the Pro-L series.
Thanks

[2020-05-18 16:50] haakonnessjoen commented on #215
You should be able to control these with pjlink, or are you missing some specific feature?

[2020-05-18 23:36] melimat commented on #26
So, right now, I would say, the module for youtube is pretty usable. It can start/stop/toggle planned broadcasts on YouTube and also provides feedback for broadcast lifecycle state and video livestream health.
link to repo: `https://github.com/bitfocus/companion-module-youtube-live`
I need to mention, I do not work alone, after I was provided with this repository, my friend @JakubVanek joined the

[2020-05-19 00:56] josephdadams commented on #26
Great job guys! Thank you for contributing!

[2020-05-19 02:29] josephdadams commented on #214
I wrote this module awhile back: https://github.com/bitfocus/companion-module-techministry-umdlistener

Not sure if we ever got it tested by anyone other than me to get it included in the core. The goal was to have Companion trigger another action when a certain TSL value was met. So, Cam 1 comes into PGM, Companion could trigger an audio route on another device.

If you have a dev environment set

[2020-05-19 02:54] AlexHasker commented on #214
Thanks Joseph

I have no idea what the dev environment is but I’ll start looking into it

It may take me a while but it certainly sounds promising

Sincerely

Alex Hasker

Lex Audio Visual Pty Ltd
A.B.N. 57 638 179 317<tel:57%20638%20179%20317>
A.C.N.  095 213 193<tel:095%20213%20193>
Factory 3/123 Chesterville Rd,<x-apple-data-detectors://3/3>
Highett, Vic 3190<x-apple-data-detectors://3/3>
Melbo

[2020-05-19 03:05] josephdadams commented on #214
https://github.com/bitfocus/companion/wiki/Module-Development

[2020-05-19 09:51] cc6007 commented on #207
Im still struggling to get the user name and password to pass through with companion. When i inspect the traffic data with wireshark i get a 401 Unauthorised response, even when using http://username:password@[IPADDRESS]

[2020-05-19 16:41] josephdadams commented on #207
Can you post some screenshots of the login process in the browser? If it's not simple HTTP auth, you won't be able to pass the login info along with a basic generic HTTP request. You would need a module specifically built to talk to your device. Does the device have any protocol documentation that you can provide?

[2020-05-20 09:30] andriusgutauskas opened #216 "Magnimage W4000"
Hi, im looking forward to see module for magnimage w4000 video scaler/processor.
What we need:
Preset control 1-20
Fade in/out
Take
Brightness
Contrast
Saturation

Link to command protocol:
https://drive.google.com/file/d/1QSJ5q-C2e_mK7lf7YIljQ4jJdgDJ13gU/view?usp=sharing

[2020-05-21 13:05] julienferreiro commented on #213
Hi Joseph
Thanks for answering! :-)
I asked to the developers from CAST software, but they told me that Wysiwyg doesn't have protocol that we can use to control it...
So it seems to be impossible?
Thanks anyway! :-)

[2020-05-21 13:42] josephdadams commented on #213
No protocol, no native Companion module. Sorry!

[2020-05-21 13:42] #213 closed

[2020-05-21 23:38] aaronpk opened #217 "Node-RED"
Node-RED is a visual programming environment with support for a lot of devices and integrations itself.

My primary use of Node-RED is as a home automation controller, creating rules to turn on and off lights. I'd like to be able to hook up buttons on my Stream Deck to control the lights in my studio along with using it to control an ATEM.

If Companion could support Node-RED then I could write No

[2020-05-22 01:02] zmcandee commented on #217
I have zero node-RED experience so take this with a grain of salt but I believe both node-RED and Companion have MQTT modules which you could use to send button presses to Node-RED.

[2020-05-22 01:08] aaronpk commented on #217
clever, I will look into that!

[2020-05-22 08:23] herzogmedia commented on #217
yes, I'd rather not make new node-types but use existing control protocols.
Instead of mqtt, you could also use [osc-nodes](https://flows.nodered.org/node/node-red-contrib-osc) and send OSC-Commands from companion.

[2020-05-22 15:33] cpuguru07 commented on #205
I am successfully using the "internal: Run shell path" action to issue CURL commands to the Magewell NDI decoders. However, it requires issuing a Login command action for every button because the authentication times out after so long, so a pre-built module that automatically determines login state and re-authenticates if necessary would be ideal.
There is Node.js support in the API documentation,

[2020-05-23 02:58] #197 closed

[2020-05-23 22:46] marsy62 opened #218 "Trigger Keyboard Maestro macro on local or network computer"
Hi to all,

I have managed to set up custom HTTP requests in Companion to trigger macros created in the Keyboard Maestro software. The requests are sent to the Keyboard Maestro web server which is listening on port 4490 (default port, which can be modified). It worked using 127.0.0.1 or a local network address for the host computer.

It would be great to implement this feature into Companion so th

[2020-05-24 17:12] peppertechie commented on #217
I have Node-Red running on a Pi and using it to run commands and other tasks on the Pi from Companion.  I've used both the UDP and TCP input nodes successfully.  I'm not sure there would be a one size fits all Node Red node/Companion module pair.
What the generic modules are missing is feedback, but I don't think that necessarily fits into the spirit of Companion, but would make integrating with n

[2020-05-24 17:13] flashbangmedia commented on #49
I don't suppose there is any rough timeline for this to happen?
I can set it up manually in the http requests but its a massive pain to do for each button particularly when the shows change a lot.

[2020-05-25 13:14] mrlad commented on #193
I'd like to see functionality similar to the official Kodi Kore remote (navigation, favorites, info etc.)

[2020-05-25 15:57] josephdadams commented on #49
There are so many outstanding module requests, with most of the modules requested being ones that those of us who actively create for Companion would not ever use. That doesn’t mean it couldn’t happen eventually, but this is something done in spare time. If you wanted to consider paying someone to create it, that could help it get made faster.

[2020-05-28 16:08] spencwells12 opened #219 "Lightkey"
I'd like to request support for a lighting software called Lightkey. A lot of churches use this to control their lighting systems, and it would be awesome to have a physical controller for firing cues and presets and stuff. Sorry I can't give any helpful information, I don't know how to write code or anything, I just figured this would be the best place to put this request. Thanks!

[2020-05-28 16:33] spencwells12 commented on #219
https://lightkeyapp.com/content/04-help/manual/Lightkey%20User%20Guide.pdf

Here's a link to the user guide, external control protocols are listed started on page 150. Hopefully that helps a little.

[2020-05-28 16:38] spencwells12 commented on #219
Lightkey uses the Open Lighting Architecture, an open-source framework by the Open Lighting Project. Here's the link to their Github page.
https://github.com/OpenLightingProject/ola

[2020-05-28 19:14] haakonnessjoen commented on #69
@monoxane any progress on this? I am starting to wonder if we/I should make node bindings to the libember_slim library from Lawo. Or did you start implementing the protocol in js? I see that the project; tv2-rest-ember-gateway, that dwiweb mentioned, uses this: `node-emberplus` which seems to be a fairly complete implementation. I might be tempted to look at implementing a ember+ "provider" in com

[2020-05-28 19:48] josephdadams commented on #219
@spencwells12 I read the section of the manual on external control. I didn’t see any ethernet protocols listed, only DMX and MIDI. Because it lacks an Ethernet protocol, your only option right now to use it with Companion would be to use MIDI and some kind of translator. A few options:
* Generic OSC module and OSCulator (small cost) to translate OSC to MIDI
.* MIDI Relay module along with the MIDI

[2020-05-28 20:04] spencwells12 commented on #219
Thank you for looking into it, I appreciate the help! I guess I’ll have to
go another route, but that’s ok.

Thanks again!

On Thu, May 28, 2020 at 2:48 PM Joseph Adams <notifications@github.com>
wrote:

[2020-05-28 21:02] josephdadams commented on #219
I suggest using midi relay with Companion. It’s what I use at my church to control our lighting board. And I wrote midi relay so if you run into problems, I can help. :)

[2020-05-28 21:02] #219 closed

[2020-05-29 00:03] haakonnessjoen commented on #69
I might have gotten a bit eager after looking at node-emberplus.

This is me 5 hours later :P

https://s3.bitfocus.io/builds/haakon/ember.mp4

[2020-05-29 02:02] mrlad opened #220 "Module Request: Onkyo/Integra A/V receivers"
Companion currently supports Denon A/V receivers.  I'd like to request that you consider adding support for Onkyo/Integra A/V receivers in the future roadmap.  The API is published and there's an open source application that can be used for reference purposes (I use it and its very robust).
https://github.com/mkulesh/onpc
Functionality should be similar to the Denon implementation:

- Select sourc

[2020-05-29 02:19] mrlad commented on #220
Onkyo Protocol documentation (multiple revisions) can be found in this directory in the onpc project

https://github.com/mkulesh/onpc/tree/master/doc

The PDF has the ethernet packet layout and the XLS files contains the various protocol revisions.

[2020-05-29 02:27] mrlad commented on #220
There is also this Wiki page from Universal Devices on ISCP

https://wiki.universal-devices.com/index.php?title=ISY-994i_Series_INSTEON:Networking:Network_Resources#Onkyo_.2F_Integra

[2020-05-29 09:50] mko1989 opened #221 "PowerPoint OSC"
Hi,
I'd like to request a module for PowerPoint remote control via OSC.
I know there is already module for Remote Show Control and i use it a lot, but the OSC remote can give feedback on which slide the presentation is which would be beneficial in these times as i use companion for remote remote for PPT.

Here is a link to PPT OSC:
https://github.com/benkuper/PowerPoint-OSC

Thanks for all the wor

[2020-05-29 09:55] dewiweb commented on #69
@haakonnessjoen ,
There's a complete refactoring of node-emberplus in progress,
may be simplest to work with....
https://github.com/nrkno/tv-automation-emberplus-connection/tree/next

[2020-05-29 10:39] JanosDakzinger opened #222 "Behringer Xair12 Feature Request (BOUNTY)"
Hey guys, I need to be able to activate/deactivate the Gate in an Input channel. and for that i need visual feedback when it's disengaged with a flashing button. i can spend 250€ on this.
and of course i need it asap.
thanks alot and let me know if you have questions

[2020-05-29 19:37] josephdadams commented on #220
@McHauge want to take a look at this? You did the Denon modules, right?

[2020-05-29 20:06] McHauge commented on #220
Hi, been on lockdown the last few months, currently, I don't have the time for it, a lot of streaming ATM. But if yes I did make the other modules. They are very simple in their current form. might find time for this but not sure yet. Will know more when we hit July, pretty booked up until then.

But feel free to ask, and poke me in threads :)

-McHauge

[2020-05-29 20:21] haakonnessjoen commented on #69
I know. But the refactor from NRK does not have producer support yet. The one by duforgilles is pretty good, and has both producer and consumer support.

You can test out my current progress with producer support in companion here:

- Windows: https://s3.bitfocus.io/builds/companion/companion-2.0.0-79e7205-2360-win64.exe
- Mac: https://s3.bitfocus.io/builds/companion/companion-2.0.0-79e7205-2360-o

[2020-05-30 11:54] dewiweb commented on #69
@haakonnessjoen ,
Thanks! Unfortunately I'm running on linux x64 platform! Is there something blocking for linux releases?

[2020-05-30 12:02] haakonnessjoen commented on #69
https://s3.bitfocus.io/builds/companion/companion-2.0.0-79e7205-2360-linux.tar.gz

[2020-05-30 12:19] dewiweb commented on #69
@haakonnessjoen ,
Maybe problem related to linux platform?

`Something went wrong installing the "sharp" module

libvips-cpp.so.42: Ne peut ouvrir le fichier d'objet partagÃ©: Aucun fichier ou dossier de ce type
`

[2020-05-30 12:44] dewiweb commented on #69
@haakonnessjoen ,
I've test windows release on vm but I can't retrieve ember+ instance to initiate;
In which category it's foundable or with which keyword?

[2020-05-30 12:52] haakonnessjoen commented on #69
It listens on 0.0.0.0:9092 you should be able to add it in your ember+ consumer via the ip of companion, port 9092.
I've only tested it with tinyember viewer client as shown above.

[2020-05-30 13:02] dewiweb commented on #69
@haakonnessjoen ,
So if I understand well, you want to control bitfocus ember+ producer values via an external ember+ consumer and not the inverse!
My own wish was a solution to control ember+ producer values via a companion ember+ consumer...(expose producer tree, suscribe to changes, modify values).

[2020-05-30 13:14] haakonnessjoen commented on #69
I’ve been pretty clear about that yes. I am sorry to not grant your specific wishes. Let us hope someone else wants to make the consumer module.

[2020-05-30 13:16] dewiweb commented on #69
@haakonnessjoen ,
Ok, no problem! Thanks for your work!

[2020-05-31 11:50] alexeyzimarev opened #223 "Elgato KeyLight support"
It would be nice to add control options for Elgato KeyLight as they did in the Elgato StreamDeck software.

There is no official KeyLight SDK but there are _a lot_ of repos on GitHub that either are SDKs for different languages or have some code insight that controls those lights. This one, form example, is for JS: https://github.com/NickParks/elgato-light-api

[2020-06-01 06:42] josephdadams commented on #223
Duplicate of #198. Already requested.

[2020-06-01 06:42] #223 closed

[2020-06-01 20:36] mixmastrbrock opened #224 "LG Commercial Display"
Looking to control LG displays. Already have figured out the control method, just would like some help getting this into Companion.

Displays are controlled with same Hex/ASCII characters as RS232. Just point a telnet or netcat command at the IP address and port 9761. Only different command is power on, but that's a simple WOL/Magic Packet. Currently controlling them using a script, but would love

[2020-06-02 03:12] Rodney18 opened #225 "Sony SRG360SHE PTZ Control"
I tried using the Sony Visca PLugin but that does not work for my model of camera, it uses visca over ip on port 52381, I have attached links to the visca manual
[SRG360SHE_Visca.pdf](https://github.com/bitfocus/companion-module-requests/files/4714525/SRG360SHE_Visca.pdf)

[2020-06-03 12:05] josephdadams commented on #224
Are you looking to create this module yourself and you need help getting started? Or are you looking for someone else to write this for you? If that’s the case, consider posting the actual commands.

[2020-06-03 18:10] mixmastrbrock commented on #224
Development is not in wheelhouse, but I have enough know-how with terminal and ShellScript to figure out the control parameters. Here are the ASCII commands that can be sent.

https://support.justaddpower.com/kb/article/36-lg-rs232-control/

https://www.lg.com/us/business/download/resources/BT00001837/UV340C-U_Install_Manual_170825.pdf

Below are the commands that work in terminal for control:
_Po

[2020-06-04 18:21] scottaroo02 commented on #184
Is there any way to implement this in the current Sony VISCA protocol?

[2020-06-05 12:57] dmxking512 opened #226 "Kramer VP-773A Scaler Switcher"
Is it possible to add support for this unit?

[2020-06-05 12:59] dmxking512 commented on #226
Aparently the unit uses protocol 3000

[2020-06-05 15:49] retailgeek opened #227 "Rogue Amoeba Farrago"
**PLEASE USE THE FOLLOWING PAGE IF YOU WANT SUPPORT FOR A NEW DEVICE OR SOFTWARE PROGRAM**: https://github.com/bitfocus/companion-module-requests/issues/new

I wonder if anyone has thought about adding Rogue Amoeba Farrago support? It's a great soundboard for OSX.
https://weblog.rogueamoeba.com/2020/04/17/farrago-1-5-packs-a-powerful-list-mode-and-much-more/

[2020-06-05 16:02] dmxking512 commented on #226
I've spoken with Kramer technicians who have advised that this can be done by

Telnet to device IP on port 5000 and issuing the commands:

`#Y 0,23,0`

followed by a carriage return or enter would switch the device to hdmi input 1.

Replace 23 with the following numbers per function.

CH1_HDMI3 20
CH1_VGA1 21
CH1_VGA2 22
CH1_HDMI1 23
CH1_HDMI2 24
CH1_HDMI4 25
CH1_DP 26
MUTE 37
BLANK 16
FREEZE 17
L

[2020-06-05 17:10] EventReplay commented on #226
https://cdn.kramerav.com/web/downloads/manuals/vp-773a.pdf
It's a shame kramer aren't consistant with there protocol definitions!

I would suggest using vp-734 module as a base and use the definitions in above pdf

[2020-06-05 20:37] BB21B commented on #184
It would probably be best copied as its own module, I think there are a couple of visca flavours done in this way.

Without access to hardware though makes development a little tedious for whomever wants to pick this project up.

Some people will take on bounties though so that may be an option depending on how quickly you'd like to see this done.

[2020-06-05 21:31] scottaroo02 commented on #184
Happy to throw $150 towards someone to implement this for me.

[2020-06-05 22:19] josephdadams commented on #227
@retailgeek the protocol documentation is missing. Please post that. Thank you!

[2020-06-06 00:19] cjdenio commented on #184
Here's what I found: http://www.resource.datavideo.com/downloads/Datavideo_DVIP_Ethernet_Control_Operation_Guide.pdf

I think the PTR-10 implements the DVIP protocol, so it shouldn't be super difficult.

[2020-06-06 15:07] BB21B commented on #184
@cjdenio From my understanding so far (Based on the vision mixers) I think these cameras just implement the device discovery and ethernet interface option setting part of DVIP and the camera control portion seems to follow the Visca format to a degree, it doesn't match with the standard DVIP command format I'm used too.

http://www.resource.datavideo.com/downloads/Datavideo_PTC-150_DVIP_Protocol.p

[2020-06-07 03:02] fccnorwalktech opened #228 "LG Projector control HU85LA 4K"
Looking for a module to be created to control this projector. Specficially Shutter and power features are desired, but if more avaialble that works too!

https://www.lg.com/us/home-video/lg-HU85LA-4k-laser-projector?cmpid=2020HQProjector-SEM|US|Google|2020HQProjector-SEM-Brand-HU85LA-Exact|Generic-Generic|k0173&gclid=Cj0KCQjw_ez2BRCyARIsAJfg-ku8QEeLri_7R-7ODLWJuqSLJU2HFzDmg8UfVPx70d1rfbKd0KnMVzQaA

[2020-06-07 11:40] josephdadams commented on #228
Please include a link to the documentation and ethernet protocol spec. Thank you!

[2020-06-07 18:21] dmxking512 commented on #226
Yeah it's a pain they don't stick to one structure .

JavaScript isn't my strong point but I've had a look at the file in that module and it looks like it could easily be adapted .

I'm not sure who best to look at it as I've never developed using GitHub haha 😆

[2020-06-07 18:23] daenix opened #229 "PoE ethernet switch control"
There is a use case when controlling Panasonic PTZ cameras via ethernet and the camera are PoE+ powered. The control is needed just to switch PoE (PoE+) per port in order to power on and off the cameras (at the end of the day) One of the case is the use of ubiquity UBNT UniFi Switch 8-60W in conjunction with up to 4x AW-UE70 camera.

Here are 2 articles regarding switch control:
https://dan.langil

[2020-06-07 19:03] bryce-seifert opened #230 "BirdDog PTZ Cameras"
Device: BirdDog PTZ camera line (P100, P200, etc)
Goal: To be able to control camera settings, especially recalling presets, and other image control tasks.
Links: BirdDog's API. The camera portion starts with "Camera Products" on page 4.
[https://www.bird-dog.tv/extra/BirdDog_RESTful_API_1.0.pdf](https://www.bird-dog.tv/extra/BirdDog_RESTful_API_1.0.pdf)

I'm happy to help test and add to this, st

[2020-06-08 00:04] EventReplay commented on #226
I hadn't used GitHub before being shown Companion! It's a good way to learn when your interested in the subject & you have a goal you want to achieve.

Do you have a dev enviroment for testing?

[2020-06-08 08:24] dmxking512 commented on #226
May have to look at a dev environment then.

Have tried with a custom command but no dice.

[2020-06-08 08:46] dmxking512 commented on #226
Ive managed to fork the repository to my git account and have cloned it to my machine but all the module folders are empty?

Bit lost now :S

[2020-06-08 09:25] dmxking512 commented on #226
Right have been reading the very well put together developer.md file

I am now at a point where i need the core developers to create a repository for my module.

[2020-06-08 12:38] EventReplay commented on #226
This: https://github.com/bitfocus/companion/wiki/Module-Development gives a bit more detailed info than the Delevoper.md

Have you got your module working ok ?

[2020-06-08 12:55] #228 closed

[2020-06-08 13:06] dmxking512 commented on #226
I've had a read through bits and also joined the slack channel.

it was suggested that I amend the 734 module so that it offers different options based on the model.

I've started tweaking the code but as i said my javascript isn't great.

I assume i can push the changes up to my own fork before they get merged into the master?

[2020-06-08 13:17] dmxking512 commented on #226
https://github.com/dmxking512/companion-module-kramer-vp734/commit/7ee8a828d7cacf33d51b0c43992f4c01055bdf58

[2020-06-08 13:19] EventReplay commented on #226
Yes you can and should test locally with your fork before a merge.
I've posted an answer in the slack channel.

[2020-06-08 13:32] dmxking512 commented on #226
Ah yes have just seen your response. Thanks

[2020-06-09 13:33] Tony-Menda opened #231 "Newblue Titler live Social 4"
Guys,
I'm a grateful user of Companion 2.0 on my Mac(Catalina), but the thing I miss is a module like Streamdeck itself uses to control Titler live Social in an network environment. The plug-in for Streamdeck lets you start/stop a title when you use it on the same machine as the Streamdeck runs on, but I want to do this on a dedicated machine via my network, so I use my CPU for other purposes than

[2020-06-09 22:33] EventReplay commented on #226
Module created, this can be closed.

[2020-06-09 22:48] dmxking512 commented on #226
Agreed . Thankyou

[2020-06-09 22:48] #226 closed

[2020-06-09 22:55] SM0VXI commented on #69
+1 for Companion as Ember+ Consumer. This would be really useful for controlling various pieces of broadcast equipment.

[2020-06-09 23:07] EventReplay commented on #150
@dmxking512 Could this be closed?

[2020-06-10 07:50] dmxking512 commented on #150
Yes . All solved on this one too

[2020-06-10 07:50] #150 closed

[2020-06-12 12:30] tmurfin opened #233 "TEStream 16 Port KVM Switch"
The model is Model HKS1601A10, I have also attached the API sheet.

[16x1 HDMI KVM CommunicationProtocol.pdf](https://github.com/bitfocus/companion-module-requests/files/4770746/16x1.HDMI.KVM.CommunicationProtocol.pdf)

[2020-06-12 15:43] scottaroo02 commented on #184
Any way to bump this?  would love to have this implemented so I can control.

[2020-06-12 20:37] G-Hansen opened #234 "Barco RLM Projectors"
I have a Barco RLM w14 that i would love to control with companion.

[2020-06-12 23:25] josephdadams commented on #234
Duplicate of #2

[2020-06-12 23:25] #234 closed

[2020-06-12 23:27] josephdadams commented on #184
@scottaroo02 offering a financial incentive can help if you need something quickly.

[2020-06-12 23:47] BB21B commented on #184
@josephdadams he has offered up $150 is there any way to tag that in the issue?
@scottaroo02 I did mention it on the Slack chat when you posted originally.

[2020-06-13 00:55] josephdadams commented on #184
Oh I missed that. Sorry!

[2020-06-13 00:58] cjdenio commented on #184
I'd gladly build a module based on the protocol spec, but there's no promise it'll actually work on an _actual device_.

[2020-06-13 12:43] jpooley-hearst opened #235 "Please add Toggle status to companion-module-globalcache-itac-cc"
Could you please add a Toggle port state to companion-module-globalcache-itac-cc by using the getstate command? https://www.globalcache.com/files/docs/API-iTach.pdf

[2020-06-13 14:23] BB21B commented on #184
@cjdenio the only thing I've not seen documented anywhere is the actual port the device uses for it's Visca style comms. Other than that it should be pretty standard.

[2020-06-13 21:37] pastorjohnnorman opened #236 "Usb Joystick or gamepad"
I was wondering if it would be possible to us a usb joystick or gamepad and a deck to be used with my streaming deck. Set up companion to assign the joystick ptz camera control.

[2020-06-13 21:37] pastorjohnnorman opened #2036 "Usb Joystick or gamepad"
I was wondering if it would be possible to use a usb joystick or gamepad as a deck to be used with my streaming deck. Set up companion to assign the joystick ptz camera control.

[2020-06-14 22:04] scottaroo02 commented on #184
@cjdenio let me know what you want to do to get the ball rolling on this.

[2020-06-15 14:43] josephdadams commented on #236
I'm going to transfer this back to the primary companion repository as it's more of a core feature request rather than control for a specific piece of software/hardware.

[2020-06-15 20:07] julianroitsch commented on #196
got some issues with Controlling the pearl 2 Witz companion. I can Not Configure to start or stop a record or any Stream. I get Response from the pearl but there will be an error when i want to configure start and stop record or Stream

[2020-06-15 22:12] josephdadams commented on #196
what kind of error?

[2020-06-16 03:46] ThatGuySittin commented on #225
Why does the Sony VISCA plugin not work for your specific brand of Sony camera? VISCA over IP on port 52381 is what that module does.

[2020-06-16 13:43] Rodney18 commented on #225
I don't know why it doesn't work, that is why I posted, it seems like the Sony SRG360SHE camera uses a different visca command then the other sony camera models, I do not understand it enough to figure out the problem :(

[2020-06-16 14:22] ThatGuySittin commented on #225
I am having the same issue with an SRG-300SE. I don’t believe it’s the VISCA commands themselves. But rather some other issue. I am in the process of trying to figure it out, but am not as knowledgeable in this field as I wish I was.

[2020-06-19 03:16] RossMcIntosh commented on #230
This would make me happy in a way that I cannot express via this text.

[2020-06-19 11:44] bryce-seifert commented on #230
One update I have is I got preset recall working, but nothing else. After reaching out to BirdDog, they confirmed that that is the only part of the API that is working currently.

[2020-06-19 14:41] collinjdonohue commented on #230
Sorry if this is old news... we just purchased a P200 and for kicks, I tried the Sony VISCA repo just for kicks and PT functions all work, along with preset store/recall.  I haven't done any playing around with the repo to see if I can get it working more.  For our purposes, zoom/focus control would be all we REALLY need, but full control would obviously be great!  I'll also have my hands on a Bir

[2020-06-21 13:50] G-Hansen opened #237 "pjlink power state feedback"
Is it possible to add a feedback that would change the background color depending on the power state of the projector?

[2020-06-22 16:54] rtestut opened #238 "GoPro Hero 8"
Not sure if this request has already been made, I can't seem to find a list of previous module requests.

I use a GoPro Hero 8 as a camera input into to my ATEM Mini.  I know there is a GoPro iOS app that has limited control of the camera, but using my streamdeck to control additional features of the GoPro would be great!

Thanks for your consideration!

[2020-06-23 00:23] josephdadams commented on #238
Thanks for looking for an existing request first! It’s hardly done so I always appreciate it when people take the time to do that. Do you know if GoPro has released any kind of API for it? If not, that will require (most likely) some kind of reverse engineering of the iOS app protocol that is used, if it’s even possible. That will take a lot of time and make supporting it long term difficult as we

[2020-06-23 02:07] GarthDB commented on #52
Someone made some headway with this: https://github.com/featherbear/PreSonus-StudioLive-API

[2020-06-23 03:28] cjmillet opened #239 "Chamsys QuickQ"
**PLEASE USE THE FOLLOWING PAGE IF YOU WANT SUPPORT FOR A NEW DEVICE OR SOFTWARE PROGRAM**: https://github.com/bitfocus/companion-module-requests/issues/new

**Describe the feature**
This is a lighting controller.

**Is this platform dependent (windows, mac, ..)?**
No

**If documentation is required to implement, do you know where to find it?**
Chamsys.com

**Usecases**
Used to control lighting re

[2020-06-23 05:00] josephdadams commented on #239
I’m guessing you’ve tried the magicq module and it didn’t work? I glanced at the documentation that you provided and it doesn’t seem to list specific ethernet protocol information, so I will have to mark this as missing documentation. Please provide the protocol spec if you would like for this request to be considered.

[2020-06-23 12:54] AlexHasker commented on #214
Sorry for the Nooby questions, Im trying to work out how I can run this module at my end so I can test it on a Carbonite.

Preface -  I run Windows, have zero javascript knowledge and Im trying my best to learn all the lingo on GitHub.

For me to get this developer enviroment setup on Windows, from what I understand,  I  need to and have installed GitDesktop and I believe Ive "forked companion and

[2020-06-23 14:46] rtestut commented on #238
Thanks for the quick response!

I was able to find this article on the GoPro Support Hub which describes their open source component packages, which I believe would provide the corresponding API for each: https://community.gopro.com/t5/en/Open-Source-Software-HERO8-Black/ta-p/525710#Source_Code_Packages

From: Joseph Adams <notifications@github.com>
Sent: Monday, June 22, 2020 7:24 PM
To: bitfocus

[2020-06-23 19:11] vrelectronics opened #240 "Faithlife Proclaim Software (similar in function to Renewed Vision ProPresenter)"
**PLEASE USE THE FOLLOWING PAGE IF YOU WANT SUPPORT FOR A NEW DEVICE OR SOFTWARE PROGRAM**: https://github.com/bitfocus/companion-module-requests/issues/new

**Describe the feature**
A clear and concise description of what the feature does

**Is this platform dependent (windows, mac, ..)?**
Explain.

**If documentation is required to implement, do you know where to find it?**
If applicable, add sc

[2020-06-23 20:03] josephdadams commented on #240
@vrelectronics thanks for your request. For the future, please include more information when you make a request. Just the title is not enough. You can read more about what we are expecting here: https://github.com/bitfocus/companion-module-requests/blob/master/README.md

Now, specifically for your request about Proclaim: As far as we know, there is no external API available within Proclaim to allo

[2020-06-23 20:08] josephdadams commented on #238
That just looks like acknowledgments of the packages they use in their software. I think a library like this might be more applicable: https://github.com/KonradIT/goprowifihack

[2020-06-23 20:11] vrelectronics commented on #240
Appreciate the quick response.
Just became a member a few minutes ago, but I will try to learn the system better.
I will check out the ‘Midi’ option.
Thanks again,

Doug

From: Joseph Adams <notifications@github.com>
Sent: Tuesday, June 23, 2020 1:04 PM
To: bitfocus/companion-module-requests <companion-module-requests@noreply.github.com>
Cc: Doug van Rhyn <doug@vanrhyn.ca>; Mention <mention@norepl

[2020-06-23 20:35] rtestut commented on #238
I did see that as well, along with other unofficial API references, but I wasn’t sure that unofficial would be acceptable.  If it is, great!

Thank you!
Randy

From: Joseph Adams <notifications@github.com>
Sent: Tuesday, June 23, 2020 3:08 PM
To: bitfocus/companion-module-requests <companion-module-requests@noreply.github.com>
Cc: Randy Testut <rtestut@exponenthr.com>; Author <author@noreply.githu

[2020-06-23 22:59] josephdadams commented on #240
@vrelectronics let me know how I can help. I just helped another church get Proclaim working with midi relay and Companion.

[2020-06-23 23:07] vrelectronics commented on #240
Interesting, thanks Joseph.
I am new to the Midi application, but I will tell you want I want to accomplish.

We have a 15 button Streamdeck and are using OBS with Proclaim.
I can change scenes (cameras) in OBS on the Streamdeck, and I was also hoping to be able to advance the Proclaim slides.

As an aside, one interesting thing I also setup on the Streamdeck is PTZ preset buttons for the HIK IP c

[2020-06-24 13:10] josephdadams commented on #240
Yes, you should be able to trigger Proclaim via MIDI with it minimized.

[2020-06-25 00:59] josephdadams commented on #240
@vrelectronics https://techministry.blog/2020/06/25/walkthrough-using-a-streamdeck-and-midi-relay-to-control-faithlife-proclaim/

[2020-06-28 07:08] perrydegennaro commented on #202
I would also like this module to be created. I use the Sennheiser G3 IEM systems and this would be very helpful for me.

[2020-06-29 05:52] lighthousebulb opened #241 "[Module Request] aten Matrix Switch via serial interface"
I would love to see support for [aten 4x4 4K HDMI Matrix Switch VM0404HA](https://www.aten.com/global/en/products/professional-audiovideo/video-matrix-switches/vm0404ha/)

Would be convenient to control the switch directly through companion.
The device can be controlled through a serial interface, with a few simple commands, have a look at the [product manual](https://assets.aten.com/product/manua

[2020-06-29 17:10] josephdadams commented on #241
@lighthousebulb since this device does not have an ethernet port, Companion can not directly control it. You would have to use a device in between like the GlobalCache iTach.

[2020-06-29 17:10] #241 closed

[2020-06-29 17:40] keester03 opened #242 "Birddog PTZ P200 camera support"
Would love to get an instance for Birddog cameras for Companion.

[2020-06-30 03:15] josephdadams commented on #242
Duplicate of #230

[2020-06-30 03:15] #242 closed

[2020-06-30 05:04] lighthousebulb commented on #241
You could use a simple USB to RS232 Adapter, so that companion just needs to talk to a serial device.

[2020-06-30 05:08] lighthousebulb commented on #241
btw. you added the Tag "Missing documentation"...
The [manual](https://assets.aten.com/product/manual/vm0404ha_um_w_2020-02-12.pdf), starting at Page 20, describes the simple serial interface communication.

[2020-06-30 10:14] josephdadams commented on #241
@lighthousebulb Thanks for your feedback.

[2020-06-30 13:31] NoahCallaway commented on #241
I'm starting development of a module for this but using the Telnet interface. Should work for a few of the ATEN Matrix devices.
[https://github.com/NoahCallaway/companion-module-aten-hdmi-matrix]

[2020-06-30 13:53] MatthewKirby5 opened #243 "Magnimage MIG-680 4K Seamless Switcher."
Looking for a module for the Magnimage MIG-680 4K Seamless Switcher. Or possibly any advice or tips on how to use UDP to send commands to the device.

I would like it to be able to Take cut and Take fade as well as load presets (as seen in image attached)

The protocol information can also be seen on the Image attached (UDP, Hexadecimal, Length 39 (0x27))

Product page: http://www.magnimage.com/ar

[2020-06-30 14:44] JFonte7834 opened #244 "Companion Module for BSS BLU Processors"
I'm looking to see if anyone has created or is interested in creating profile for the BSS BLU processors.  All I am currently looking for is for Gain up and gain down control.

[2020-06-30 16:02] MeestorX commented on #244
Do you have a link to the protocol documentation?
Are you willing to do the testing and feedback that's required to verify and help debug a new module with your BLU Processor? (You'll probably want to test with an un-installed processor)

[2020-06-30 16:40] JFonte7834 commented on #244
I am more than willing to do the testing on a processor I have here for testing.  Here is what I have found about connecting third party controllers.

[Soundweb-London-Third-Party-Control.pdf](https://github.com/bitfocus/companion-module-requests/files/4853264/Soundweb-London-Third-Party-Control.pdf)

[2020-06-30 17:13] MeestorX commented on #244
Correct me if I'm wrong, but it looks like the commands can be different depending on your layout. That is to say, each command string is specific to your layout.
If that's the case, then there's no point in making a custom module as the command string would need to be entered for each device and control.
If I am correct, then the best solution would be the generic TCP/UDP module. And it would onl

[2020-06-30 17:26] JFonte7834 commented on #244
Sounds like your right here.  Sorry I hadn't dug into it a little more.  I'll have to figure out the custom commands to have it control each one individually.  Thank you for helping out.

[2020-06-30 17:26] #244 closed

[2020-07-01 00:56] EventReplay commented on #243
Please have a good look at the well written readme for requesting a module here: https://github.com/bitfocus/companion-module-requests/blob/master/README.md

The more info you provide will give you a better chance that a developer will take on your request.

https://packetsender.com/

[2020-07-01 02:38] josephdadams commented on #240
@vrelectronics did this help?

[2020-07-01 02:56] socieboy opened #245 "Minrray PTZ Cameras 10/20/30x NDI"
I found a very powerful camera for lower price that i think will be a good addition in the modules.
This camera works with visca, so i don't know if the current module for ptzOptics will work for this camera also?

https://minriglory.com/products-item/ndi-hd-camera-uv510a-series/

[2020-07-01 03:29] vrelectronics commented on #240
Haven't tried yet but thanks for asking.
Hopefully by the weekend.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Joseph Adams <notifications@github.com>
Sent: Tuesday, June 30, 2020 7:38:24 PM
To: bitfocus/companion-module-requests <companion-module-requests@noreply.github.com>
Cc: Doug van Rhyn <doug@vanrhyn.ca>; Mention <mention@noreply.github.com>
Subje

[2020-07-01 07:33] MatthewKirby5 commented on #243
I have updated my original post. I hope this is all the information that is needed. If there is anything else please can you advise me.

Thanks!

[2020-07-01 12:58] EventReplay commented on #243
@MatthewKirby5 the info provided is a limited set of commands and you really need to know the command structure to fill in the blanks. The full command protocol info is what's needed to get you the functions I guess you want.
What functions do you want to control via companion?
Did you have a look at https://packetsender.com/ to try those commands?

[2020-07-01 20:55] EventReplay commented on #243
You could also try the generic tcp-udp module in the short term to test those commands in comoanion.

[2020-07-02 02:58] josephdadams commented on #245
Have you tried it with any of the VISCA modules?

[2020-07-02 03:27] socieboy commented on #245
I just tried and it worked with the ptzOptics Visca.

[2020-07-02 03:27] #245 closed

[2020-07-02 07:24] MatthewKirby5 commented on #243
what would I need to type into the command section and what would the "Command End Character" be. Sorry I am a bit new to all of this.

[2020-07-02 08:02] MatthewKirby5 commented on #243
Again, I am very new to all this so I am not sure what you would need from packet sender and what I would need to do in packet sender.

[2020-07-02 16:43] EventReplay commented on #243
In generic tcp-udp Did you have a % before your 2 digits to define it as a hex value?
Try this for Take Fade:
%ED%CB%28%48%00%01%01%00%00%00%00%00%00%00%00%00%00%00%00%00%00%00%00%00%00%00%00%00%00%00%00%00%00%00%00%00%00%00%2A
End Char "None" I think.
Let me know if that works.

[2020-07-02 19:06] shaunus opened #246 "[Module Request] Singular.live cloud-/browser-based CG for live production"
Looking to control the software service singular.live (that's their URL), which provides cloud-/browser-based CG for live production, with NDI output supported. It's an extremely powerful tool that many may find attractive if there were Companion support.

What would I like to make it do from Companion?
Selecting data sources, e.g. pulling social comments, pulling scoreboards
Loading configuration

[2020-07-02 21:28] josephdadams commented on #246
Is that separate from this? https://github.com/bitfocus/companion-module-singularlive-studio

[2020-07-02 21:33] shaunus commented on #246
Hi Joseph

That does look like it might be the same thing. Although this doesn't come
up in the modules list for me:

[image: Support_-_Bitfocus_AS.png]

I also searched "singular" on Github, maybe I searched in the wrong place?
Please could you help me identify how I missed this in my search? I tried
my best to check it wasn't already supported! 😆

Thanks
Shaun

On Thu, Jul 2, 2020 at 2:28 PM Jos

[2020-07-02 21:33] shaunus commented on #246
<img width="1670" alt="Support_-_Bitfocus_AS" src="https://user-images.githubusercontent.com/7552001/86411129-02a64980-bc71-11ea-9e37-997357bd0257.png">

[2020-07-02 22:46] josephdadams commented on #246
That list is out of date. Sorry! Go download the latest Companion 2.0 beta and let me know how that goes!

[2020-07-02 23:04] shaunus commented on #246
Oh! Good to know, I thought it was a live list that auto updated hehe :D

On Thu, Jul 2, 2020 at 3:46 PM Joseph Adams <notifications@github.com>
wrote:

[2020-07-03 07:15] MatthewKirby5 commented on #243
I did that and no success. And everything else is setup correctly. I also tried using "/" instead of % and that didn't work either as well as all the end char options. I am seeing activity when I press the button on the streamdeck on the network switch I use so companion is outputting. I also am on V2.

[2020-07-03 14:22] scottaroo02 commented on #184
would bumping the bounty to $200 help get this implemented?

[2020-07-03 14:50] EventReplay commented on #243
I wish I could say I was surprised! I'm currently working with a Magnimage 780H and having a nightmare.

You will need to somehow confirm that you can get those commands working. You should be able to use either packetsender or https://www.hw-group.com/software/hercules-setup-utility which is what I generally use.

My suggestion would be first to use hercules TCP client tab and see if it will acce

[2020-07-04 01:38] josephdadams commented on #246
We gotta get our docs updated! Need this rona to stop first!

[2020-07-04 01:38] #246 closed

[2020-07-04 01:52] shaunus commented on #246
🤣🤣🤣🍻
On Jul 3, 2020, 18:38 -0700, Joseph Adams <notifications@github.com>, wrote:

[2020-07-04 10:08] haakonnessjoen commented on #246
Actually. The list on the website is supposed to auto update, so thats a bug. I will check it out.

[2020-07-04 12:36] josephdadams commented on #184
@cjdenio are you working on this?

[2020-07-04 13:00] cjdenio commented on #184
No, I was unable to find any decent protocol documentation. I'm also not sure about writing a module without an actual device to test.

[2020-07-04 13:31] josephdadams commented on #184
@scottaroo02 can you provide a way to test against the device? Teamviewer access time a device on the same network?

[2020-07-04 14:10] shaunus commented on #246
Legend! Thanks, Håkon.
On Jul 4, 2020, 03:09 -0700, Håkon Nessjøen <notifications@github.com>, wrote:

[2020-07-04 14:17] scottaroo02 commented on #184
I can provide team viewer access to a computer on my network, the software that datavideo created on that computer to control the device, wireshark, a webcam of the device... whatever is needed.  Just let me know what I can do
To get this implemented.

Sent from my iPhone

[2020-07-04 18:33] josephdadams commented on #184
@cjdenio does that change things for you?

[2020-07-06 00:03] Fader-Monkey commented on #151
Any testing needed on this still? I’ve got an sd9 and 2 sd10s if it needs to be tested with hardware.

[2020-07-06 02:34] JeffreyDavidsz commented on #151
Actually not, module is ready and works. Thanks for the reminder

[2020-07-06 02:34] #151 closed

[2020-07-06 08:23] MatthewKirby5 commented on #243
In PacketSender I am not entirely sure what I am supposed to be looking for. I have tried a few things and no results yet.

[2020-07-06 19:05] EventReplay commented on #243
By rights you should simply have to enter IP of unit, port 61215 change dropdown to UDP and hit send
Try this for Take Fade: (Put in HEX input box obviously)
ED CB 28 48 00 01 01 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 2A
If no Fade then try adding 0A (Line Feed) to the end so:
ED CB 28 48 00 01 01 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00

[2020-07-06 19:56] vrelectronics commented on #240
I seem to be unable to create an account at Bitfocus to get Companion, not sure if they are checking their emails lately.
I was able to get it from Github but at a loss as to how to get it to run after downloading it.
Any ideas?

Doug

From: Joseph Adams <notifications@github.com>
Sent: Tuesday, June 30, 2020 7:38 PM
To: bitfocus/companion-module-requests <companion-module-requests@noreply.github.

[2020-07-07 08:30] MatthewKirby5 commented on #243
So I tried all those variations in Packet Sender and no luck. I also tried them all again with a different IP on the unit and still no results.

Thanks for all the help!! It is really appreciated.

[MIG 680 LOG.log](https://github.com/bitfocus/companion-module-requests/files/4883569/MIG.680.LOG.log

[2020-07-07 13:43] dvreezen opened #247 "Shutdown on Lan"
is it possible to add a shutdown on lan module to the Wakeup on lan module?

thnx!

[2020-07-07 15:10] Fader-Monkey commented on #29
Michael Allen has a for-a module going for the HVS series. right now we have tested it with the HVS 100 and we are currently working through adding the HVS 2000 (it has a different command structure.) I wonder if the 390 shares its protocol with either switcher.

we went with the web socket approach instead of the DVS route because its free and does not require any extra hardware (the MU sub port

[2020-07-07 15:44] christianskov commented on #29
Hi, thats great news.
I will try to fetch the. Information on the 390.
In the mean time we did a node-api to websocket application, enabling us to sent http / get request to the mixer via web socket.
We are still interested in a more stable approach, it seams the the mixer only supports one web socket connection at a time, it seems unstable in loading the webpage, when our “middleware” application

[2020-07-07 16:00] Fader-Monkey commented on #29
yes one connection at a time is a recurring theme with for-a. either routers or switchers. from experience I have had a good track record with the HVS module staying connected (it skips the login on the web pages and connects directly to the websocket) there is also a reconnect command that is helpful if it runs into a glitch.

[2020-07-08 02:54] josephdadams commented on #247
What would be the purpose of this?

[2020-07-08 18:00] dvreezen commented on #247
I'am triggering a bunch of NUC's to turn on and i would like to trigger them to turn off .

[2020-07-08 19:00] josephdadams commented on #247
Is “shutdown on lan” a thing? WOL works by sending special network packets to a machine to boot it up. But I’m not aware of a reverse that is universal. @haakonnessjoen you want to chime in here?

[2020-07-10 10:43] Jonhug82 opened #248 "TCW181b - 8Ch Relay Module"
Not sure if this request has already been made, I can't seem to find a list of previous module requests.

Would it be possible to have a module to control a TCW181b 8 channel relay. The documentation for relay is here:

[tcw181b-cm-ethernet-digital-io-module-user-manual-r4.7.pdf](https://github.com/bitfocus/companion-module-requests/files/4902623/tcw181b-cm-ethernet-digital-io-module-user-manual-r

[2020-07-15 10:01] eMMeCodes opened #249 "Loupedeck CT"
Hello,

i'm a live productions technician (events, fairs, congress, etc...)

and i use vMix Pro alone and with other hardware (Ascender, ATEM, Streamdeck, etc...).

Companion is a great  and useful software and it saves me a lot of headaches.

I also do A/V post production and recently i got a [**Loupedeck CT**](https://loupedeck.com/en/products/loupedeck-ct) to work with.

It is amazing and it's

[2020-07-15 11:44] haakonnessjoen commented on #249
Hi,

We have already reverse engineered the protocol of the Loupedeck a while ago, since their SDK (which even wasn't out at the time), is too restricting for us.

But with that being said, Companion isn't really created in a way to support different surfaces other than button matrixes with screens like the stream decks. So companion will not support that device unless someone rewrites a big part

[2020-07-15 11:44] #249 closed

[2020-07-15 11:46] haakonnessjoen commented on #240
@vrelectronics If you have signup issues, please use the contact form on the website to get help :)

[2020-07-15 12:42] eMMeCodes commented on #249
Thank you so much for your reply.

I’m so happy to know that you’re aware and interested in Loupedeck CT.

I’ll wait for news.

Thanks,

             eMMe

On Wednesday, July 15, 2020, Håkon Nessjøen <notifications@github.com>
wrote:

[2020-07-17 00:03] gAmUssA opened #250 "Add Ecamm Live module"
Hello team

Ecamm Live is a streaming software (similar to Wirecast or OBS) but for mac only. It has a friendly UI for everyone who wants to start streaming.
Ecamm Live has remote control protocol that works over HTTP.
I'm attaching pdf that has an API definition. Same API used by Stream Deck software on mac to control Ecamm Live.

[EcammLiveControl.pdf](https://github.com/bitfocus/companion-modul

[2020-07-17 02:36] josephdadams commented on #250
Thank you for such a well written module request. It is so refreshing!

[2020-07-17 04:09] gAmUssA commented on #250
@josephdadams of course!

I wrote a very small prototype https://github.com/gAmUssA/ecamm-rest-client

[2020-07-19 00:35] gAmUssA commented on #250
@josephdadams is there anything else I can do to help speed this up?

[2020-07-19 00:51] josephdadams commented on #250
@gAmUssA have you considered creating the module and contributing it to the project? You can write it in TypeScript like your prototype if you like. There's plenty of modules you can use for examples that use REST API's. The PVP module is a great place to start. Otherwise, I guess you'll just have to wait! :)

[2020-07-19 00:52] josephdadams commented on #250
@gAmUssA https://github.com/bitfocus/companion/wiki/Module-Development

[2020-07-20 17:25] josephdadams commented on #240
@vrelectronics did you get your signup issue resolved?

[2020-07-20 17:31] josephdadams commented on #247
@dvreezen I'm going to close this as a universal shutdown on LAN is not a feature I am aware of. Depending on your NUC OS though, you can probably send a remote command to shut it down.

[2020-07-20 17:31] #247 closed

[2020-07-20 17:46] vrelectronics commented on #240
Yes, I was able to sign up successfully.
Unfortunately, the Midi software and the Companion software were both erratic on my machine.
I had to abandon the project and am researching other methods.

Doug

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Joseph Adams <notifications@github.com>
Sent: Monday, July 20, 2020 10:26:09 AM
To: bitfocus/companion-module

[2020-07-20 17:49] josephdadams commented on #240
Sorry to hear that. Best of luck.

[2020-07-20 17:49] #240 closed

[2020-07-22 14:57] josephdadams commented on #188
@houtacheng https://github.com/bitfocus/companion-module-roland-m5000

[2020-07-22 15:25] houtacheng commented on #188
That's great.

[2020-07-22 15:43] josephdadams commented on #188
Test it out and let me know how it goes!

[2020-07-22 22:03] crisgaret commented on #91
Is there a module for the Qu series yet to test out?

[2020-07-23 16:20] DeeJayMX opened #2040 "Corsair iCue Nexus"
Do you plan to use an icue nexus as a Streamdeck ?

https://www.youtube.com/watch?v=VnzDjzV3hzo

![image](https://user-images.githubusercontent.com/36418772/88311293-ff065f80-cd10-11ea-8997-bf3f31ba1df0.png)
![image](https://user-images.githubusercontent.com/36418772/88311345-12b1c600-cd11-11ea-97c3-6b10714c2f94.png)

https://www.corsair.com/nexus

[2020-07-27 18:06] alexgmoonFTS opened #251 "Allen & Heath GLD80"
Midi over network control, attached is the control document
[GLD-MIDI-and-TCPIP-Protocol-V1.4_2.pdf](https://github.com/bitfocus/companion-module-requests/files/4983706/GLD-MIDI-and-TCPIP-Protocol-V1.4_2.pdf)

[2020-07-27 18:11] mikaelkar opened #252 "Shure MXA-microphones module"
**PLEASE USE THE FOLLOWING PAGE IF YOU WANT SUPPORT FOR A NEW DEVICE OR SOFTWARE PROGRAM**: https://github.com/bitfocus/companion-module-requests/issues/new

**Describe the feature**
Companion could be used to:
- Level adjustments
- Muting
- Loading presets

**Is this platform dependent (windows, mac, ..)?**
No.

**If documentation is required to implement, do you know where to find it?**
Command

[2020-07-27 18:12] josephdadams commented on #252
Done

[2020-07-27 19:00] #251 closed

[2020-07-27 19:41] MeestorX commented on #68
Try the dLive module for the GLD. They look to be similar enough.

Let me know what doesn't work, and maybe I can mod the module to cover both.
(SQ is completely different, from what I can tell)

[2020-07-28 03:09] cpuguru07 commented on #229
I second this request - this module should be generic for all (most?) UBNT UniFi switches (should be the same for at least all Gen1/Layer 2 switches). Would be very handy for power cycling PoE devices.

[2020-07-28 15:43] JordanResLife commented on #142
Would love to see this as a module as well! Thanks!

[2020-07-29 13:10] josephdadams commented on #188
@houtacheng did you test?

[2020-07-30 18:30] scottaroo02 commented on #184
can I bump the bounty to $300 to implement this?  How can I make this happen?

[2020-07-30 22:31] McHauge commented on #248
@jonhug82 If you look at the module created for request be #101 how does that look? Might do the same purpose with that relay. Haven't look at the documentation from both yet.

[2020-07-30 22:32] alvarusan commented on #83
Hi everyone, just checking if it has it been any progress on this?

[2020-07-30 23:36] quentinmit commented on #83
@josephdadams AFAIK the only remaining work to support this is within the Companion project; that doesn't sound like "blocked externally" to me?

[2020-07-31 00:00] josephdadams commented on #83
I can remove that label if you want, but I believe the status remains the same, cross platform compatibility of the ftdi libraries needs to be figured out.

[2020-07-31 00:11] quentinmit commented on #83
That's my understanding as well; the libraries themselves are already cross-platform, someone within the Companion project needs to figure out how to incorporate them into the build process (and then also translate the Python to JavaScript, I guess)

[2020-07-31 00:54] josephdadams commented on #248
@McHauge I glanced and it seems different from the Sainsmart, although the boards look very similar. I think the TCW has some kind of XML based protocol.

[2020-07-31 04:26] houtacheng commented on #188
it's great!!!
![image](https://user-images.githubusercontent.com/25832189/89000094-d52ed900-d2cc-11ea-954c-3a3f22dace42.png)

[2020-07-31 08:49] BB21B commented on #184
@scottaroo02 I could probably start taking a look at this within the next couple of weeks, I have been quite busy lately which is why I didn't take it up myself. Do you have an email I could contact you at?

[2020-07-31 12:17] josephdadams commented on #188
Any changes needed?

[2020-07-31 12:42] scottaroo02 commented on #184
@BB21B  that would be awesome, thanks so much!  email is scottaroo@gmail.com.  I can have a dedicated computer with team viewer for when you have time to work on it.

[2020-07-31 14:17] houtacheng commented on #188
I've only tested a few of the features I use and they all work. The others have not been tested yet.

[2020-07-31 14:37] #188 closed

[2020-07-31 22:04] alvarusan commented on #83
Does it means that is all about the Companion team now?

[2020-07-31 23:40] quentinmit commented on #83
Yes, that's what it means. (It was true back in April of last year, too).

[2020-08-01 00:36] josephdadams commented on #83
You guys could always consider making a separate application that’s controllable over the network by Companion. Or submit a pull request that does what you want!

[2020-08-01 21:15] validlogin commented on #195
How’s the progress on this? We just purchased a few Z Cam E2-M4’s and would love to try configuring this with our setup, and possibly even have tally control from our blackmagic switcher:)

[2020-08-01 21:16] GarthDB commented on #195
Last I checked in the api there isn't full tally control. You can turn on and off the led indicator

[2020-08-02 00:40] mdgnys opened #253 "LibreOffice Impress"
LibreOffice Impress is an open source Presentation software.

**What you would like to be able to make it do from Companion.**
transition_next, transition_previous, goto_slide

**Direct links or attachments to the ethernet control protocol or API. Without this, it can be very difficult, and in some cases, impossible to fulfill your request.**
https://wiki.documentfoundation.org/Development/Impress

[2020-08-02 04:37] BB21B commented on #184
Implemented in:

https://github.com/bitfocus/companion-module-datavideo-visca

[2020-08-02 09:05] #184 closed

[2020-08-04 14:26] GearsHead79 opened #254 "[Module Request] Barco G series Projector Support"
**PLEASE USE THE FOLLOWING PAGE IF YOU WANT SUPPORT FOR A NEW DEVICE OR SOFTWARE PROGRAM**: https://github.com/bitfocus/companion-module-requests/issues/new

Would it be possible to add support for the Barco G Series projectors?
Specifically, the G60 series...

[2020-08-04 14:27] josephdadams commented on #254
@GearsHead79 please provide the protocol documentation for this if you want your request to be considered.

[2020-08-06 22:29] MarauderSeeker commented on #57
has any progress been made on this? I would really like this feature.

[2020-08-07 01:51] josephdadams commented on #57
I don't think so. I currently do it via AppleScript since I am running Spotify on MacOS.

[2020-08-07 15:03] GearsHead79 commented on #254
My apologies!
Here is some information (although I'm not sure if it is what is needed...)

Control: IR, RS232, RJ45, 3.5mm phone jack for wired remote
Network Connection: 10/100 Ethernet, RJ45
(the above is from [https://www.barco.com/en/product/g60-w10#specs.](https://www.barco.com/en/product/g60-w10#specs) Or use [https://www.barco.com/services/website/en/ProductSpecSheet/ProductSpecSheetFile?pr

[2020-08-07 15:23] josephdadams commented on #254
What features are you looking to see implemented?

[2020-08-07 22:20] McHauge commented on #248
@Jonhug82 hi again, what actions are you looking for in this, just a simple action for on/off/toggle or do you need the pulse function?

[2020-08-08 01:06] McHauge opened #255 "Denon DN900R"
From Facebook:
Posted by Kevin Haddock.

Hey guys.

Looking to control a Denon DN900R audio recorder via a Streamdeck and companion. I found the manual that talks about up control and serial control but a little lost as to how to translate this into useable action. Really only looking to start and stop recording.

Any ideas on how to get this done or where to start?

Thanks

https://09f3b4e35b829e

[2020-08-08 06:00] Jonhug82 commented on #248
@McHauge - Hi I am looking for the on off and toggle function. It would be amazing if I could also get feedback from the relay to know if it’s on or off. Thank you

[2020-08-10 16:36] Dwvsplat commented on #96
I am testing this module.....The power on/off function does not work. All the other functions do work. Let me know if there is an update & I will test again.

[2020-08-10 18:58] McHauge commented on #96
Thx, for testing, and commenting. when you say that the power on/off doesn't work, is that as it does absolutely nothing?

[2020-08-10 19:09] Dwvsplat commented on #96
Correct.
The power and quick power do nothing (on or off).
But as I said, all the other functions work perfectly.
I know it is not the TV's, because I have crestron turning them on/off with
no problem.

On Mon, Aug 10, 2020, 2:58 PM Andreas Thomsen <notifications@github.com>
wrote:

[2020-08-11 13:05] Dwvsplat commented on #96
You are correct, the commands are backwards.
OFF=ON

Also, did you know in version 2.1
the Allen & Heath Dlive module has no port (so the module does not work,
but it has the port field in 2.0 (and works)).
Just FYI

Thanks, for the help!

Dan

On Mon, Aug 10, 2020 at 3:08 PM Dan Valentine <dwvsplat@gmail.com> wrote:

[2020-08-11 18:51] mrlenny opened #256 "Maxell (Hitachi) mp-wu5603 projector"
Here is the HTTP implementation I have created. I can provide JS & http requests/reponses to get status for status polling.
These operations are MUTE ON/OFF FREEZE ON/OFF BLANK ON/OFF and POWER OFF (the web server is not on in off mode, so there's no power on operation)

Base URL can  be
http://IP_ADDRESS/cgi-bin/webctrl.cgi.elf

"3": [
				{
					"id": "TL5yL078e",
					"label": "VxGvtpHSe:post",

[2020-08-12 07:26] druidma commented on #68
Hi all, I've been working on the iLive control, (credit to MeestorX for the dLive module which I used as the basis for it!)

I've tested it with an iLive on MIDI address 1 and have control of Mutes (input, FX sends, FX returns, DCAs and Mix busses) Phantom Power for mixrack channels, Fader levels (input, FX sends, FX returns, DCAs and Mix busses) and Scene Recall.

[2020-08-13 04:00] noxgroupau commented on #119
Hi all, given LS6 now supports external controllers (Skaarhoj for now but looks like they have an API) as of 6.5, are we able to take a closer look at this. We have a LS dongle and also have Vimeo Premium so happy to do whatever is required to see if this is now possible?

[2020-08-13 04:27] josephdadams commented on #119
Post the API

[2020-08-13 11:18] ataylor-orcsd-org opened #257 "X-keys support"
Hello,

Would it be possible to use a X-keys device as an input to companion?  I have a few currently in my setup, including the rack mount one.

Thanks,
Alexander

[2020-08-13 11:23] ataylor-orcsd-org opened #258 "OnAirScreen Integration"
Being able to control OnAirScreen seems to be something that would fit well into this application.

https://github.com/saschaludwig/OnAirScreen

[2020-08-13 19:47] tracyhayford opened #259 "URayCoder UHE264-1L"
The URayCoder UHE264-1L is a hardware video encoder that directly encodes HDMI and audio inputs to a streaming server (YouTube, Facebook Live, etc.).  It is controlled either through a web UI or CGI over IP.  There are a number of similar devices available with different input configurations.  This model has HDMI pass-through, others don't and some have SDI input, etc.  They are available on Amazo

[2020-08-14 11:44] frankleggett opened #260 "Restream.io control panel control"
I am looking for a module that can control the Restream.io dashboard so I can turn on and turn off channels with a streamdeck button. There is a restream api but it is beyond my abiltiy to do this.

[2020-08-15 08:13] krzyc opened #261 "Generic WebSocket module"
Device: Generic WebSocket software (or hardware)
Goal: Control software with small userbase (mostly proprietary, sometimes custom-written for 1 user) which often supports WS control.

I saw, that this is against your project principles, but I also saw that some users are interested in introducing Generic WebSocket module. I have written one to control dedicated software - 1 user, so introducing de

[2020-08-15 14:49] Howzitgarn opened #262 "ROLAND VR-1HD"

[2020-08-15 18:01] josephdadams commented on #262
No protocol or documentation provided.
No desired actions listed.
This is not enough information for your request to be considered.

I don’t see an Ethernet port on it anyway.

Closing.

[2020-08-15 18:01] #262 closed

[2020-08-16 11:27] frankleggett commented on #260
Hi Joseph,

does this help here is a link to the API documentation. https://developers.restream.io/docs

[2020-08-17 02:58] LIFEProduction opened #263 "Magicsoft Playout Server"
Looking to integrate Magicsoft's [playout server ](https://www.magicsoft.tv/playout.html )into bitfocus companion.  Magicsoft recorder is already supported.

The playout server is windows based
Really just need play / stop / next previous controls for each of the servers channels (up to 4)
Jump to an item in a playlist would be a bonus.

For use in a live broadcast environment.

[2020-08-18 14:10] NerdsLTD opened #264 "ATEM DVE JOYSTICK"
Unless I'm missing it somewhere, it would be really handy to be able to move the position of the DVE using a ↑ ↓ ← → Style D-Pad. I'm sure that can be done with macros, but I can't seem to implement it correctly. Suggestions or someone willing to pick up the mantle? Keep up the amazing work!

[2020-08-18 23:09] datadata95 opened #265 "Support for Avid Venue Profile, SC48, S3L and S6L"
**Describe the feature**
Controlling Events and actions on Avid Venue software and consoles such as Profile, SC48, S3L and S6L.

**Is this platform dependent (windows, mac, ..)?**
The remote software for Venue runs on windows. The Profile and SC48 runs Windows XP embedded. S3L and S6L run some kind of other OS, but all have the Venue software upon it.

**If documentation is required to implement,

[2020-08-20 12:46] josephdadams commented on #250
@gAmUssA did you decide to write a module?

[2020-08-20 17:05] gAmUssA commented on #250
@josephdadams Got sidelined by other projects. Sorry,didn't have a chance to look. I'm still very open to contribute/test tho.
Thank you

[2020-08-20 17:55] noctividus opened #266 "OpenHAB Integration"
**Description**
This feature would allow controlling of OpenHAB items from companion buttons.

This would not be platform dependent, because OpenHAB can be accessed via a REST API.

Documentation for the OpenHAB REST API can be found here- https://www.openhab.org/docs/configuration/restdocs.html

However, I recommend installing a local copy of OpenHAB to test. There is a REST page that makes it ve

[2020-08-24 14:12] vinay3990 opened #268 "Flip video horizontally"
How to flip a video input horizontally on X axis in Vimeo studio 6 software

[2020-08-24 14:17] josephdadams commented on #268
Sorry, this is not enough information for a module request.

- Requests pertaining to specific existing module should be made in that module's repository.
- There is currently no Vimeo Studio 6 module.

[2020-08-24 14:17] #268 closed

[2020-08-24 15:46] pacotoscano opened #269 "Request support for a new product"
Hi, I usually use Companion to control WatchOut and D3 products. Now I would like to use it to control media server Samsc Catalyst v5.0, but not by OSC cause the latency of Catalyst.
It's possible to create a new module for this product insead of using the generic module? I know it's a old mediaserver without upgrades.

Thanks for your answer

best regards

Paco Toscano

[2020-08-24 19:00] josephdadams commented on #269
You will need to provide documentation for your module request in order for it to be considered.

[2020-08-26 09:00] foxda77 commented on #52
Hello,

I saw this go stale, but would very much like to see that functionality in Companion, I am about to receive my StudioLive 16R.
I am happy to try again and place this as a feature request with Presonus. Is this still something others would support as well?

Best

David

[2020-08-27 06:01] timothypwalter opened #270 "Request to add support for Allen & Heath QU series"
Hi,

Anyone else keen to see support for Allen & Heath's QU series mixers?

https://www.allen-heath.com/key-series/qu-series/

They have the QU-Pad app for controlling the mixers over the air.

[2020-08-27 06:05] timothypwalter commented on #270
Looks to be same request as #91

[2020-08-27 11:16] #270 closed

[2020-08-27 12:46] simongroom112 opened #271 "Allen and Heath SQ"
Request for support on Allen and Heath SQ console range.

Link to MIDI documentation below.
https://www.allen-heath.com/media/SQ-MIDI-Protocol-Issue2.pdf

Have a want/need for support for this from September 2020

Can support with testing fairly instantly as own one of these consoles already.

[2020-08-27 15:30] djmedved opened #272 "Yamaha MTX processors"
Hello. A module for Yamaha MTX processors is very necessary.
https://europe.yamaha.com/files/download/other_assets/5/1343735/200330_mtx_mrx_xmv_ex_rcps_v400_rev14_en.pdf

[2020-08-27 15:45] krocheck commented on #272
@MeestorX there seems to be overlap with SCP at a base protocol level.  I'm sure this would be a separate module though.  Not sure if you have availability to look at this.

[2020-08-27 16:09] djmedved commented on #272
Its difficult for me.
The Protocol is not specified anywhere.
Ethernet (NETWORK connector) control
IP Address: Specify the IP address of the device you want to control.
IP Port No.: 49280

[2020-08-27 16:15] djmedved commented on #272
CL5 with SCP works good at this network. MTX at same remote network too.

[2020-08-27 16:47] MeestorX commented on #272
I have all the documentation and could probably make a module, but my time is limited.
What functions do you need?
Are you willing to work with me on thoroughly testing operations, including zoom calls (I do not have an MTX device to test, so all testing would have to be done with you)?
Are you willing to put up a bounty ($$) for the building of this module?

[2020-08-27 16:56] djmedved commented on #272
All I really need to do is switch scenes. I don't have any international payment systems to thank you for if you can help me.

[2020-08-27 16:57] djmedved commented on #272
I can remotely connect to a computer that is on the same network as MTX.

[2020-08-27 17:06] djmedved commented on #272
And another question. Can I do without writing a module using just TCP-UDP send command?

[2020-08-27 17:10] MeestorX commented on #272
Understood. No problem at all. If I had free time, I could work on it, but I don't.

You can give the TCP module a try, following the protocol documentation you linked. Set the port to 49280 like the CL.

[2020-08-27 17:16] djmedved commented on #272
Thank you so much.

[2020-08-27 17:40] josephdadams commented on #271
Duplicate of #56

[2020-08-27 17:40] #271 closed

[2020-08-29 16:31] dmxking512 commented on #226
Appreciate this is closed. has this made it into a release yet?

[2020-08-29 17:50] wingertandrew opened #273 "Z-Cam E2 Series"
Hello All!

First time here, looking to see if there’s a possibly of getting record control and feedback from the camera. It uses IP control.

http://www.z-cam.com/open-api-sdk/

Thanks! Let me know if there’s any questions I can answer.

[2020-08-29 23:00] josephdadams commented on #273
Duplicate of #195

[2020-08-29 23:00] #273 closed

[2020-08-30 23:20] DachsbauTV commented on #14
Pleas reopen this request. Madrix is one of the best lighting control softwares on the market. I think it is widely used and really easy to implement as it already offers a html based control interface

[2020-08-30 23:22] willosof commented on #14
Please provide the needed documentation.

[2020-08-31 11:07] DachsbauTV commented on #14
I think in their manual there should be all the necessary info someone with basic coding knowledge (obviously that's not me haha) would need to build a companion Madrix remote module
http://help.madrix.com/m5/html/madrix/input__remote_control.html

Also the team at Inoage has been really helpful with any request I've had in the past.

[2020-09-01 04:24] jlklein opened #274 "Samsung Control Module?"
Hi, I'm just getting into Stream Deck and Companion for volunteer tech team member control of various things at church, such as video routing equipment, projectors and display control.  We have a number of Samsung TU7000 TV models that we'd like to be able to at least remotely power on and off but there doesn't seem to be a module available (only for Sharp and Roku TV). We're feeding them with a B

[2020-09-01 07:23] Jonhug82 opened #275 "Virtual Device for Feedback"
Would it be possible to great a Virtual device that could be used to generate feedback for buttons ?

Use case would be when pushing a button it could run a variety of actions on real devices and then set a value for a virtual device that could then be used to provide feedback on a button. This way if you have the button on multiple pages all buttons could show the same feedback without having to

[2020-09-01 08:01] cycomachead commented on #195
This would be great! I just added a few buttons for my Z-Cam.

I have 3 actions:
* AF ON: http://192.168.1.200/ctrl/set?live_caf=On
* AF OFF: http://192.168.1.200/ctrl/set?live_caf=Off
* OFF: http://192.168.1.200/ctrl/shutdown

These were all pretty easy with the HTTP button, but something that can also poll for status would be really fun. I am throwing these out there just to give others ideas, a

[2020-09-01 10:40] josephdadams commented on #274
Missing documentation and possible duplicate of #102

[2020-09-01 10:40] #274 closed

[2020-09-01 16:12] josephdadams commented on #275
This sounds like it would be more of an internal enhancement, so I'm going to transfer it to the primary Companion repository to continue the discussion.

[2020-09-03 12:47] Pierremck opened #276 "Module request : L-acoustics amp support over snmp"
Hi
Could you add a module in ordre to control a LA4X amp by L-acoustics ? This amp support snmp control but L-acoustics doesn't give more info about that.

**What is it supposed to be done :**
Functions available from third-party control systems using L-COM protocol or SNMP.
**Status information and monitoring (read only)**
• amplified type
• current operating mode: standby, active
• full reportin

[2020-09-03 14:43] Vario1337 opened #277 "Novastar Pro UHD"
Hello Companion team. Can  add a new Novapro UHD device. I ask you to add such basic functions as: Change priests, outputs and inputs.
[NovaPro UHD Control Protocol-V1.0 (1).pdf](https://github.com/bitfocus/companion-module-requests/files/5169289/NovaPro.UHD.Control.Protocol-V1.0.1.pdf)

[2020-09-04 18:57] rexluna opened #278 "farrago sound triggering support mac"
**PLEASE USE THE FOLLOWING PAGE IF YOU WANT SUPPORT FOR A NEW DEVICE OR SOFTWARE PROGRAM**: https://github.com/bitfocus/companion-module-requests/issues/new

**Describe the feature**
A clear and concise description of what the feature does

**Is this platform dependent (windows, mac, ..)?**
Explain.

**If documentation is required to implement, do you know where to find it?**
If applicable, add sc

[2020-09-04 20:01] istnv commented on #142
The new `denon-recorder` module supports this device.

[2020-09-05 06:51] quentinmit commented on #83
FYI I've updated decimctl to add support for the 12G-CROSS now.

I've already asked multiple times if there is precedent for out-of-process drivers, and what protocol to use, and I have not gotten a reply. I've done all the reverse engineering necessary; if y'all don't want to actually help get it merged into Companion, there's not much I can do.

[2020-09-05 13:35] haakonnessjoen commented on #83
If you could create a stand-alone application that exposes the api via a simple network protocol. It would be a lot simpler for anyone to create a fitting module in companion to control the devices. We try to keep companion mostly for network related software and products, and are not too happy about usb-devices, although there have been a few exceptions.

If there was an application in between, c

[2020-09-05 14:33] josephdadams commented on #278
@rexluna I am closing your request.
* no documentation provided
* no use cases or desired actions listed

Please be more diligent in the future when making requests. You may re open this when you’ve provided the necessary information.

[2020-09-05 14:34] #278 closed

[2020-09-05 14:34] josephdadams commented on #278
https://github.com/bitfocus/companion-module-requests/blob/master/README.md

[2020-09-05 14:37] #142 closed

[2020-09-06 10:59] simongroom112 commented on #56
Is the mapping for this very similar or the same to the DLive?

[2020-09-06 19:39] aaronkothe commented on #83
I'm glad to see people are still working/thinking about this.

I'll ask again - who and how much do I need to pay to make this happen? I got it working back in the day with some complicated scripts and hotkey listeners, but it was so much work each time, I haven't used it since.

[2020-09-08 12:52] webby123 commented on #56
I Think it's not, it would be nice if we can switch the mutes on/off on the
SQ5

maybe this will help: https://www.allen-heath.com/ahproducts/sq-5/

Best regards,

*Eddy Caron*

Cygnea Congrestechniek
Brasem 46
<https://maps.google.com/?q=Brasem+46+4941+SE%C2%A0+Raamsdonksveer+The+Netherlands&entry=gmail&source=g>
4941 SE  Raamsdonksveer
<https://maps.google.com/?q=Brasem+46+4941+SE%C2%A0+Raamsdon

[2020-09-08 13:55] simongroom112 commented on #56
Updated Protocol Document:
https://www.allen-heath.com/media/SQ-MIDI-Protocol-Issue2.pdf

[2020-09-08 15:37] MeestorX commented on #56
A bounty would definitely make a difference. Time to do free stuff is getting scarce and it's a lot more work when you don't own the device that you're building a module for.
If you are able to put up a bounty then I can see about adding the SQ to the dLive/iLive module or creating a new one, depending on what the admins prefer.
I would also need a commitment to serious testing (including possible

[2020-09-08 16:46] simongroom112 commented on #56
I’ve followed your link and opened a thread but not sure if that was what you wanted me to do.... in the mean time....

Please let me know what sort of bounty you’d consider,

I’d be more than happy to assist with testing and via zoom if required!

[2020-09-08 17:55] MeestorX commented on #56
Thank you. Replied in the thread.

[2020-09-09 03:50] alvarusan commented on #83
I don't know either, but I can help to find the persone if someone can address the kind of programmer that needs to do this: “create a stand-alone application that exposes the api via a simple network protocol”?
Is it a python programmer?

Thank you all

[2020-09-09 06:39] haakonnessjoen commented on #83
Since the code written by @quentinmit is in python, the easiest would be to have a python programmer create that application yes. Maybe he even wants to do it himself, if someone flashes some money?

[2020-09-09 10:35] QuentinBrown commented on #83
Would it also be a possible solution worth exploring to ask Decimator
Design if they would consider implementing a simple network protocol for
control in UCP itself?

I know we have gone down this road in some way before in asking them to
provide a fully documented API for the hardware and they have not been
interested due to the perceived cost vs business benefit ratio, but would
adding a simple

[2020-09-10 14:51] Pierremck commented on #276
Hi
I have news from l-acoustics ! They send me some UDP commands to mute/unmute etc.
I give it to you, it might help someone :

Destination port UDP : 161 (SNMP)

Datagram :
POWER
SET Power Mode = ONLINE
30 2E 02 01 00 04 06 70 75 62 6C 69 63 A3 21 02 04 00 00 00 00 02 01 00 02 01 00 30 13 30 11 06 0C 2B 06 01 04 01 82 AD 06 01 04 01 00 02 01 01

SET Power Mode = STANDBY
30 2E 02 01 00 04 06 70 75

[2020-09-10 15:52] alvarusan commented on #83
Decimator Design hasn't been responsive at all about any requests or feedback, so I guess that's kind of out of the table.

@quentinmit Is creating a stand-alone application that exposes the api via a simple network protocol something you know how to do? or if it's someone else, does she/he needs to translate your script from Python to Javascript first?

[2020-09-10 18:04] istnv commented on #276
To try these commands...
In the generic UDP module, use `none` for the end message.
For the command `%hh` is the example of how to send hex:
Add `%` to every hex pair in your command like this:  `%30%30%02%01%00`...

[2020-09-11 08:14] Pierremck commented on #276
Thanks for your reply
With a `%` before each number it get me a "Malformed packet SNMP" with wireshark. Why ?

[2020-09-11 17:06] istnv commented on #276
I can only help with the UDP and Hex, I am not familiar with SNMP. Check for your characters are correct in the command.

[2020-09-11 20:47] dara-walsh opened #279 "Support for Vaddio AV Bridge Matrix Pro."
Hi, Im trying to control a Vaddio AV Bridge Matrix Pro with companion.
I can control it through Rs232 using coolterm but cant get streamdeck to connect to coolterm or direct to device.

Im a novice at this kind of stuff

Any help or direction would be appreciated

D

[2020-09-11 20:56] dara-walsh commented on #279
See page 51 for Serial Command API

https://res.cloudinary.com/avd/image/upload/v132443271/Resources/Vaddio/AV%20to%20USB%20Bridges%20and%20Encoders/Operation/411-0020-30-rev-d-av-bridge-matrix-pro-integrators-complete-guide.pdf

[2020-09-12 07:38] Pierremck commented on #276
After doing some tests with Companion with a L-acoustics engineer, I noticed that the generic Tcp-Udp module alters the command as follows:

 Original order

 30 2E 02 01 00 04 06 70 75 62 6C 69 63 A3 21 02 04 00 00 00 00 02 01 00 02 01 00 30 13 30 11 06 0C 2B 06 01 04 01 82 AD 06 01 04 01 00 02 01 01
 Resulting command
 30 2E 02 01 00 04 06 70 75 62 6C 69 63 C2 A3 21 02 04 00 00 00 00 02 01 00 02

[2020-09-12 12:04] SIGNPAGE opened #280 "ATEM Mini Pro ISO"
ATEM Mini and ATEM Mini Pro is supported and works fine with the Steam Deck.
The new model from BMD the ATEM Mini Pro ISO is not supported.
Is this in progress ?

[2020-09-12 15:04] josephdadams commented on #280
@SIGNPAGE what version of Companion are you running?

[2020-09-12 15:07] josephdadams commented on #279
Companion can't connect via a local rs232/serial port, but the device supports telnet connections, so it should be possible to use that over the network.

[2020-09-12 22:26] dara-walsh commented on #279
Yes Ive been looking into the telnet control and it look fairly simple but i would not know how to create a companion module.
I'm hoping to control
1. program output (1-4)
2. Stream output (1-4)
3. PIP
4. Maybe camera adjustments Zoom and PTZ (1-4)
5. And camera presets

If anyone could help it would be great.

[2020-09-12 22:30] dara-walsh commented on #279
Here is a view of the web interface
![Screenshot 2020-09-12 at 23 19 02](https://user-images.githubusercontent.com/59572459/93006078-c4ba8100-f54f-11ea-9de2-e431844c4848.png)

[2020-09-14 05:14] dadofthreejs opened #281 "Support for AIDA Imaging Cameras"
Hello,
Are there any plans to support AIDA Imaging PTZ functions / cameras in El Gato Streamdeck through Bitfocus Companion anytime soon?

Thank you very much,

Tim

[2020-09-14 05:15] dadofthreejs commented on #281
[AIDA-PTZ-X20-IP-Manual-v1.0.pdf](https://github.com/bitfocus/companion-module-requests/files/5216257/AIDA-PTZ-X20-IP-Manual-v1.0.pdf)

[2020-09-14 07:17] willosof commented on #281
Have you tried the Sony visca module?

[2020-09-14 20:36] istnv commented on #276
That is an encoding problem. utf-8 'expands' characters over 0x7F to that 2 byte sequence.

[2020-09-15 06:04] Pierremck commented on #276
So what can I do ? Can the generic udp module be updated with the posssiblity to change the encoding ?
Do you think a module can be created to control the l-acoustics amps with those commands ?

[2020-09-15 07:04] istnv commented on #276
That is a strange problem. I looked at the module and I do not see where the UDP module is altering the encoding.
A custom module would be better.

[2020-09-15 09:51] gerrypc72 commented on #178
Port used is 3811

[2020-09-16 08:08] Pierremck commented on #276
What does it need to create a custom module ? Did the commands I send are enough?

[2020-09-16 15:14] Pierremck commented on #276
Just for the info :
I find a way to do what I what. Companion send a UDP command to Node-Red and then Node-Red send a snmp command and that working !
Sadly i can't do it only with Companion because it doens't have a SNMP module...

[2020-09-16 15:15] #276 closed

[2020-09-19 13:54] briwillis commented on #230
I'm also very interested in any developments on this.  I would love to help develop an interface that would be able to program camera movement sequences.

[2020-09-20 15:16] famerdave commented on #194
I'd also like to see this created, and I have a KB Encoder that I could allow someone to use for testing.

[2020-09-20 16:55] marvinogravel commented on #227
Yes please! I'd love Farrago support. Would it work on my Stream Deck alongside my Atem Mini macros?

[2020-09-21 22:21] JohanBarnhard opened #282 "connect to Allen&Heath idr-8 and idr-4 via telnet"
HI ,

Could you create a module to communicate with the allen& heath idr-4 and idr-8?

HW model: https://www.allen-heath.com/ahproducts/idr-8-2/
These mixers communicate via rs232 and telnet. Could you create a module to communicatie via telnet?
Documentation for the telnet commands is here: https://community.allen-heath.com/wp-content/uploads/2020/09/iDR-Telnet-Control-Protocol.doc

Preferably it

[2020-09-22 08:48] dara-walsh commented on #279
I will commit to being a tester and help out any way i can

[2020-09-22 18:04] tim-barr commented on #229
Any progress on this idea?
Or an existing way to do it?
Thanks!

[2020-09-22 18:06] graemearthur commented on #88
Have the hardware and would be happy to test

[2020-09-24 14:41] DachsbauTV opened #283 "Instance feedback for Soundcraft Ui Series"
Hi everyone,

It would be great if there would be a feedback instance for at least the muting state of the channels.

numeric feedback for fader level would be a plus

[2020-09-24 15:13] murphytodd4 commented on #229
I am looking into this. I will try to get a module out that will power cycle an already active POE port and then expand from there. Turning a port on or turning a port off looks to be a bit more difficult than just cycling the power.

[2020-09-24 19:34] tim-barr commented on #229
Thanks Murphytodd4.  I'm deploying new PTZ cameras at my church next week and would LOVE to be able to shut them down (and bring them back online) via Companion.

Perhaps the ideas in the link I posted earlier will help - although I wouldn't know how to apply it to Companion.

(example:  sshpass -p xxxxxxx ssh admin@172.16.10.6 '(echo "enable" ; echo "configure" ; echo "interface 0/38" ; echo "poe

[2020-09-24 19:41] murphytodd4 commented on #229
I am using the node-unifi API its more straight forward and hopefully will be easier to add future features. So far I have been able to power cycle a port that is already providing power. I am now trying to figure out how to turn POE off and also turn it back ON rather than just cycling it.

[2020-09-24 19:59] tim-barr commented on #229
Awesome.  Again, thanks so much.

[2020-09-27 14:03] clpcpianomn opened #284 "Module Request: Marshall CV630-IP Camera"

[2020-09-27 15:42] Dwvsplat opened #285 "Middle Atlantic Power Sequencer"
Remote power on and off of middle atlantic power sequencer
RLNK-915R
https://www.middleatlantic.com/products/power/ip-power-control-management/select-series-pdu-with-racklink/rlnk-915r.aspx
[RackLink-INFOCOMM-Standard.pdf](https://github.com/bitfocus/companion-module-requests/files/5288577/RackLink-INFOCOMM-Standard.pdf)

[2020-09-28 16:45] CrimPro opened #286 "Shure Microflex Wireless + P300-IMX Presets"
**Describe the feature**
• Companion Preset control for Shure Microflex Wireless Access Point Control ([MXWAPT2](https://www.shure.com/en-US/products/wireless-systems/microflex_wireless/mxwapt2)/4/8)
• Companion Preset control for Shure P300-IMX conference processor ([P300-IMX](https://www.shure.com/en-US/products/mixers/p300))

**Is this platform dependent (windows, mac, ..)?**
Currently controll

[2020-09-28 23:03] EventReplay commented on #226
Sorry for delay in responding, there was some sort of issue when moving repo into builds which I flagged, this should have been rectified.

Should be available in the current beta builds.

[2020-10-03 21:10] smkidwell commented on #119
So has there been any progress on this issue?  I currently have a work around where I am using Vicreo listener to send hotkey commands, since almost everything can be controlled via hotkeys. The only problem is that I have to make sure that I keep that window active at all times, otherwise I just get random key presses.

[2020-10-03 21:13] josephdadams commented on #119
No. No one has provided an API that describes how to control the software over the network.

[2020-10-04 05:10] noxgroupau commented on #119
We asked Vimeo (who own LS now) about getting the API and they said they would look into it but I still haven't heard anything. LS also has a Web Controller option so it can be controlled remotely, is there anyway we could use this to listen to what is being sent to the software? Excuse my lack of clarity with terminology.

[2020-10-04 09:57] josephdadams commented on #119
Yes, it is possible. The last time I checked into it, the web controller was hitting the internet through some Vimeo/LS server which was then communicating with the client-side software, so that would have to be figured out as well. It is going to take some time.

[2020-10-05 19:35] bnmohr commented on #178
+1 on this please

[2020-10-05 20:10] Paravision-tv commented on #178
Can't seem to get the Load Clip to work? List of clips is available, but won't load selected clip. Is it me or a known issue?

[2020-10-06 14:03] Wajasful opened #287 "AWS Elemental Conductor"
**Describe the feature**
It would be great to control AWS Conductor or AWS Elemental such as [BoraGrid](http://boragrid.com/?page_id=765).
I think it's easier with a Stream Deck than a mouse and a keyboard.

**Is this platform dependent (windows, mac, ..)?**
Conductor is piloted by an web interface for the moment. So for my there is not a special paltform.

**If documentation is required to implem

[2020-10-06 14:03] Wajasful opened #1224 "AWS Elemental Conductor"
**Describe the feature**
It would be great to control AWS Conductor or AWS Elemental such as [BoraGrid](http://boragrid.com/?page_id=765).
I think it's easier with a Stream Deck than a mouse and a keyboard.

**Is this platform dependent (windows, mac, ..)?**
Conductor is piloted by an web interface for the moment. So for my there is not a special paltform.

**If documentation is required to implem

[2020-10-07 03:13] Deanbau opened #288 "Shure SCM820"
**Describe the feature**
Control this neato Shure 1RU automixer

**Is this platform dependent (windows, mac, ..)?**
Negative. Flash control via web - or direct commands

**If documentation is required to implement, do you know where to find it?**
https://d24z4d3zypmncx.cloudfront.net/Pubs/scm820/scm820-command-strings-en-us.pdf

**Usecases**
Use in an automated studio.

[2020-10-07 13:00] marcelheuser opened #289 "Allen & Heath SQ5"
It would be perfect if you support Allen & Heath SQ5 - i need it for several Shows :-) Thanks!

[2020-10-07 17:27] josephdadams commented on #289
Duplicate of #56

[2020-10-07 17:27] #289 closed

[2020-10-07 21:39] AJTaylor79 opened #290 "Sennheiser Media Control Protocol- Evolution Wireless G4"
I would love to have the Sennheiser Media Control Protocol - Evolution Wireless G4 integrated into the software.

**Media control protocols provided by Sennheiser**

[https://assets.sennheiser.com/global-downloads/file/13001/AN_1260_v1.0_Media_Control_Systems_EN.pdf]

**Media control protocol description**

[https://assets.sennheiser.com/global-downloads/file/12478/TI_1254_MetroMediensteuerung_ewG

[2020-10-08 22:35] Hyper-Rage commented on #178
Same here. I can get the list of clips, but it won't actually load. Other features work. Wondering if the other functions are possible to implement in Companion?

[2020-10-09 13:36] josephdadams commented on #286
@krocheck what is already supported here? The P300 is part of the shure-dsp, yeah?

[2020-10-09 13:38] josephdadams commented on #287
@Wajasful what features are you looking for here?

[2020-10-09 13:43] josephdadams commented on #290
@AJTaylor79 monitoring (we call them "feedbacks" in Companion) only? Are there any actions you would want to be able to perform from Companion? Does the protocol support any actions or only monitoring?

[2020-10-09 17:11] AJTaylor79 commented on #290
I only am really interested in receiving the feedback into Companion, the protocol supports both actions and monitoring however the only thing most people would be interested in is feedback information such as the following;

- Microphone transmitter status (switched on or off (with colour change to display this)) - Highest Priority
- Microphone transmitter mute status (mute on or off (with colour

[2020-10-09 17:19] krocheck commented on #286
p300 would be part of shure-dsp, but there's no timeline for completing that module at this time.

Microflex is supported in shure-wireless, though the APT's aren't listed as models, only the 4 and 8 channel receivers.  Those may work to get you going, though MXW support has never been tested so it may be buggy.

[2020-10-11 18:04] LaurieHeer opened #291 "Amazon Fire Stick"
I'd love support for clip playback using an Amazon Fire Stick. I use an Atem Mini with a Stream Deck. Would love the Stream Deck buttons to cue up the selected video on the Fire Stick and begin playing. Stream Deck buttons for pause, play, stop would be great as well. Fire Stick remote could also be used to select, play, pause, stop video or select new source.

Thank you!

[2020-10-12 20:14] leerippylifecc opened #292 "Allen & Heath Avantis integration"
Hi, I'm looking for a way to integrate an Avantis console with Companion to trigger scenes.

[2020-10-15 09:02] DachsbauTV opened #293 "OBS.Ninja"
To have OBS.ninja controllable would be next level 💯

https://obs.ninja
It is a web based service for integrating remote feeds into OBS through peer-to-peer.
Open Source and free.

What you would like to be able to make it do from Companion.
In Group Rooms:
- add/remove people to the scene with feedback
- mute/unmute feeds with feedback
- director push to talk
- own camera on/off toggle

Direct li

[2020-10-17 10:04] rexluna commented on #278
I am un clear as to what documentation you need.

Farrago is a sound triggering app
https://rogueamoeba.com/farrago/

i would like to press a button on a stream deck and have it trigger that sound.

[2020-10-17 18:38] pprokhor opened #294 "ADDERLink KVM Products"
KVM devices made by ADDER Technology have a great API that works over HTTP Requests. Companion easily controls IP KVM Matrix units from ADDERLInk INFINITY line by using Generic HTTP module and sending GET Requests.

The problem is, you have to do a lot of setup because those requests need values like Transmitter ID, Receiver ID, Authorization Token, etc. And the way to get those is by sending a di

[2020-10-18 01:48] RobbieBott commented on #81
+1

[2020-10-18 01:51] RobbieBott opened #295 "Faithlife Proclaim"
I would love to see a module that would allow the ability to control Faithlife's Proclaim.

https://proclaim.faithlife.com

**Describe the feature:**
Basically a control for Proclaim like what the ProPresenter module does.

**Is this platform dependent (windows, mac, ..)?**
Runs on Windows and macOS

**If documentation is required to implement, do you know where to find it?**
No

**Usecases**
Woul

[2020-10-18 03:03] josephdadams commented on #295
Go take a look at #240 to see some possible methods for control. There’s a link there to a tutorial on how to do it. I’m closing this since there still isn’t a native protocol for Proclaim.

[2020-10-18 03:03] #295 closed

[2020-10-18 07:53] Riot-StefanSchindler commented on #69
is their a plan to implement this in the major release ? i would like to use it for a project and newer version would be helpful
@haakonnessjoen would you be able to share a newer one for windows ?

[2020-10-18 23:39] josephdadams commented on #278
Farrago will need a network protocol or access mechanism for Companion to control it. Ask Rogue Amoeba for this if they have it. Otherwise you might have some options like MIDI or hornet control, which wouldn’t be custom modules.

[2020-10-19 12:15] ydubois-fr opened #296 "Colorlight Z-series Super Controller Led Screen"
Hello, is there a module to control electronics from the Colorlight brand?
I have a ROE wall and I would like to be able to use my streamdeck to facilitate operation.
Thanking you

[2020-10-19 13:09] Amarsh557 opened #297 "TP-LINK HS100 Wi-Fi smart plug"
Hi, I'm looking for a way to integrate an TP-LINK HS100 with Companion.
Here is all the information I have been able to find:
https://blog.georgovassilis.com/2016/05/07/controlling-the-tp-link-hs100-wi-fi-smart-plug/
Attempting to test using the Generic TCP and UDP module this week will update with what I find.

[2020-10-19 14:57] MichaelAllen commented on #297
There is a module for that (`TP-Link > Kasa Smart Plug`). I don't think it has made it into the main build yet, so you would need to download one of the [beta builds](https://bitfocus.io/companion/download/builds/) to get it. Anything later than 2.1.1-8d7e71a-2597 should have the module.

[2020-10-19 15:05] Amarsh557 commented on #297
Copy that, Thanks!

[2020-10-19 15:40] josephdadams commented on #296
Please provide documentation for the protocol if you would like for your request to be considered.

[2020-10-19 19:48] msiefertwm opened #298 "Adder XDIP Control"
Howdy!
I'd love to have a profile created to control an Adder XDIP KVM receiver.  I'm most interested in using a companion button to switch a receiver to a different transmitter.  The api talks about this as "channels".
I've attached the manual. Page 38 outlines the REST API over HTTPS.
I noticed that someone else recently requested an Adderlink module to be created, it looks like these may be dif

[2020-10-20 05:08] steveseguin commented on #293
Hi.   just noticed this request.

I'd be happy to add features to OBS.Ninja that are requested to make this work.  From my perspective, I can expand the IFRAME API I have available to include these calls.  This way, a simple wrapper can be added to OBS.Ninja, with it OBS.Ninja as just an IFRAME contained within.

This gives you the option to include menus and functions specific to the Companion ap

[2020-10-21 08:33] featherbear commented on #52
@GarthDB @foxda77 Only just saw this!

I'm the author of this little project, it's on my backlog to develop when I'm bored...
But, if there is enough need for this I am more than happy to pursue development.

Feel free to create an feature request / issue on my repo, and I'll take a look at it!

[2020-10-23 17:10] WaffleTime16 opened #299 "LightFactory"
LightFactory is a Windows program for controlling a lighting system using DMX or ArtNet/sACN.  There are already a number of ways to interact with the program.  I've had success using the generic modules for OSC and TCP/UDP to send commands to LightFactory.  LightFactory has it's own command line interface that is pretty well documented in the manual.

Here's a link to the manual- http://www.light

[2020-10-23 23:55] MatthewAscough opened #300 "Avolites Titan module improvements"
Currently the Avolites titan module only supports a few limited features in terms of playbacks and cue list control. It would be great if it could do more like running macros, selecting groups, clear the programmer etc. to make it easier to use for programming on a PC.
The documentation for their web API is here: https://api.avolites.com/14.0/api/Macros.Run.html

[2020-10-24 01:40] josephdadams commented on #300
I will transfer this to the avolites module.

[2020-10-24 22:30] Kaniee commented on #284
The commands for the VISCA protocol can be found here:
http://www.marshall-usa.com/pdf/CV630-IP-RS-232_command.pdf

[2020-10-24 22:34] Kaniee commented on #284
I just started a project where I'll write a generic VISCA package, then write a package for the Marshall camera and last but not least write a Marshall module for companion.

[2020-10-24 22:40] foxda77 commented on #52
Hi, the mute / unmute would go a long way already! Happy to buy you a (couple of) coffees to help you through a night of coding 👍

[2020-10-25 00:09] josephdadams commented on #284
@Kaniee feel free to use any of the existing visca modules as a template

[2020-10-25 00:40] alexsandux opened #301 "Wolfpack Matrix"
I have a Wolfpack 36x36 Matrix and I tried to create a Generic TCP module to control it but the Matrix is password protected and I don't know how to make it work.
Thank you
[tcp-udp-control-commands-for-the-wolfpack.pdf](https://github.com/bitfocus/companion-module-requests/files/5433988/tcp-udp-control-commands-for-the-wolfpack.pdf)

[2020-10-26 10:44] h2oop opened #302 "companioin"

[2020-10-26 10:44] h2oop opened #303 "n"

[2020-10-26 10:59] #302 closed

[2020-10-26 11:00] #303 closed

[2020-10-28 05:59] wingertandrew commented on #73
Hey!

Looking for this integration to include
- Whispers
- PTT
- Mute/Unmute
- Channel Switching

Willing to pay for integration if it's possible.

Thanks!

[2020-10-28 20:00] jeffreylsoffer opened #304 "Bitfocus Companion"
Hello,

I would love to be able to control a companion instance on another computer from my companion instance.
Right now, I simply do this by using the Generic TCP module and use the commands mentioned in the "Settings" panel on the GUI interface. I plan on port-forwarding 51234 using a VPN on the remote computer.

But since I get a huge 'IMPORTANT MESSAGE' when i add a Generic TCP/UDP module, I'

[2020-10-28 22:59] BaseballJim opened #305 "BMD Videohub Routing Table Save and Restore"
My venue swaps between two disparate events almost on a daily basis.  I have a paper sheet of routes for our BMD 40x40 that I need to manually enter before each change over.   I am now using StreamDeck + Companion for some automation tasks and I would really like to be able to create a button that "Saves" the routing table (it looks like from the source code Companion already reads the routing tab

[2020-10-28 23:04] josephdadams commented on #305
Can’t you already do this in the BMD software? Or is it just source and destination names, not routes.

[2020-10-28 23:46] BaseballJim commented on #305
Nope, just names.
 I spent a day with a bmd engineer who was visiting customers. The best he
came up with for save and restore of routes was using a ssh session and
copying and pasting results into a file.  The bones are all there,  i would
just like to do it with a button press.

On Wed, Oct 28, 2020, 6:04 PM Joseph Adams <notifications@github.com> wrote:

[2020-10-29 01:19] josephdadams commented on #305
I am going to transfer this over to the BMD Videohub repository.

[2020-10-29 14:48] digicodan opened #308 "DiGiCo S Series"
Your current DiGiCo OSC module appears to be specific to SD Series. The S Series consoles have a different command set. Would love to see this implemented. Happy to assist with providing the commands

[2020-10-29 16:14] josephdadams commented on #308
@JeffreyDavidsz should the DiGiCo S Series compatibility be added to the existing module, or do you want a new module?

[2020-10-29 16:16] digicodan commented on #308
Probably best split into a new module.. the existing one would need renaming to SD / Quantum

[2020-10-29 16:42] jeffreylsoffer commented on #304
@josephdadams should I move this to the main repo? Sorry not sure what to do since this request is kind of meta

[2020-10-29 17:34] JeffreyDavidsz commented on #308
We can change naming of the module and support more desk in one module. The command structure should be more or less the same though. If you can share a typical action/command I can take a look

[2020-10-29 18:49] digicodan commented on #308
Ah that would work. There are 3 snapshot specific commands for S Series to implement, as below

/digico/snapshots/fire    and user can send integer value for the snapshot number
/digico/snapshots/fire/next
/digico/snapshots/fire/previous

Thx

[2020-10-29 20:47] josephdadams commented on #304
“Satellite” capability has been requested, and we have discussed it. There’s a few different methodologies in use right now where people do it with the current releases. One person even forked Companion and made a remote option. So it’s definitely on the list. If I can find any of the issues that mention it specifically, I can tag them here and we can decide whether or not to keep this open.

But

[2020-10-30 00:28] jeffreylsoffer commented on #304
I messed around a bit more with using the generic http module. I almost forgot that was an option (seems like it's not listed under the remote control instructions in settings but it IS listed as a "hint" under each button. I'm thinking port forwarding the main GUI interface port is a better move here. So, I think I have a solution to what I'm doing, but definitely wasn't super easy to work throug

[2020-10-30 08:49] WimDeruyck opened #309 "Please add Blackmagic Design Ultimatte12"
https://documents.blackmagicdesign.com/UserManuals/Ultimatte12Manual.pdf?_v=1533193933000
Pag 53 and on.

[2020-10-30 15:17] JeffreyDavidsz commented on #308
To check, other commands work? What I did now when you select the S-series than the commands change only for those options. (the action dropdown populates with different actions). Or will only these 3 actions work?

[2020-10-30 15:19] digicodan commented on #308
more commands are coming to S Series, but at this point in time, we have only released these 3 snapshot related commands to users.

[2020-10-30 15:20] JeffreyDavidsz commented on #308
Ok so remove the other actions from the list when selecting S-series?

[2020-10-30 15:22] digicodan commented on #308
yes i think that's best. When we release more commands for S Series we can revisit this if it looks like there is a demand. thanks

[2020-10-31 00:27] nv1170 commented on #178
It would be awesome if the other shogun functions were added in companion! I use these decks a lot and with stream deck it would be the easiest way to externally control them.

[2020-10-31 09:38] JeffreyDavidsz commented on #308
It's in a newer build as we speak

[2020-10-31 09:38] #308 closed

[2020-10-31 15:39] featherbear commented on #52
I've made some progress on this, and I've gotten a working mute/unmute function, as well as PoC for using it with Companion.
Down the track I'll put forwards a module, but will continue researching first

Currently I'm looking into implementing a toggle mute function, but that's proving to be difficult in finding where the initial channel data can be extracted from.

[2020-11-01 00:17] foxda77 commented on #52
Thank you! Looking forward to see the results! The Streamdeck / Companion integration should make the Studiolive IIIR even handier when used in a Front-Of-House and Live Streaming Environment! I think not opening up the API is a missed opportunity by Presonus

[2020-11-01 16:48] jmrowe504 opened #310 "Behringer Wing"
It would be nice to have the ability to control the features of the Behringer Wing over OSC.

[2020-11-01 18:52] josephdadams commented on #310
Documentation or protocol links?

[2020-11-01 19:27] jmrowe504 commented on #310
https://mediadl.musictribe.com/download/software/behringer/WING/BE-P0BV2-WING-OSC_Documentation.pdf

This is the link

[2020-11-02 02:22] josephdadams commented on #306
@7sorkr can you provide a link to the documentation for this, please?

[2020-11-02 02:23] josephdadams commented on #296
@ydubois-fr any documentation links for your module request?

[2020-11-02 02:23] josephdadams commented on #284
@Kaniee how is your module coming along?

[2020-11-02 02:24] josephdadams commented on #269
@pacotoscano any documentation or protocol links you can provide for your module request?

[2020-11-02 02:24] josephdadams commented on #263
@LIFEProduction do you have any links to the protocol spec for this that you can provide?

[2020-11-02 02:27] josephdadams commented on #231
@Tony-Menda do you have any links to the documentation or protocols that would allow Companion to control this software?

[2020-11-02 02:28] josephdadams commented on #227
@retailgeek @marvinogravel do either of you have links to the documentation or protocol sheet that would allow Companion to control this software?

[2020-11-02 02:29] josephdadams commented on #215
@G-Hansen were you ever able to control your projector with the existing PJ-Link module?

[2020-11-02 02:30] josephdadams commented on #218
@marsy62 Do you have any links to this software's network protocol information in order to support your module request?

[2020-11-02 02:38] josephdadams commented on #138
@torbizen I need you to provide more information about this module request, or I'm going to close it. The control protocol, at the very least.

[2020-11-02 02:41] josephdadams commented on #55
@MarcoCorzani Did you ever get links to the API/protocol, or shall I close this?

[2020-11-02 05:07] krocheck commented on #306
This is already supported in the hyperdeck module.

[2020-11-02 05:50] marsy62 commented on #218
Hi Joseph,

Thanks for coming back to me on my feature request relating to Keyboard Maestro.

I am not a network expert. So the only information I can make available to you is the following link:
https://wiki.keyboardmaestro.com/trigger/Web_Server

Best regards.

Makha Sy (marsy62)

[2020-11-02 10:40] magneriise opened #311 "Avonic Rec200"
The Rec200 is a stand alone streaming/recording device. Via web-gui or API can be controled.
This is not platform dependent

Attached is user manual with API data on page 22 and onwards.

The most needed is start/stop record and stream, but also add remove overlays, Select source and  audio control.

Used for stream and recording.

[2020-11-02 10:44] #306 closed

[2020-11-02 10:45] josephdadams commented on #311
Attachment is missing

[2020-11-02 11:41] magneriise commented on #311
Now the the manual is in place.

[2020-11-02 11:42] josephdadams commented on #311
I still can't see it.

[2020-11-02 17:15] magneriise commented on #311
[Manual_AV-REC200.pdf](https://github.com/bitfocus/companion-module-requests/files/5476762/Manual_AV-REC200.pdf)

[2020-11-02 22:49] josephdadams commented on #311
Thanks! Looks like an easy TCP protocol.

[2020-11-03 17:38] featherbear commented on #52
Here's the PoC for the Companion module: https://github.com/featherbear/bitfocus-companion-module-presonus-studiolive-iii/commit/ba8a28b05439b116156117198b5763844747a774

It's very unpolished right now and just hacked together, and that repo is subject to lots of changes so if you want to test it out, use commit [`ba8a28`](https://github.com/featherbear/bitfocus-companion-module-presonus-studioliv

[2020-11-05 16:55] WaffleTime16 commented on #68
So I just attempted to connect to a GLD 80 with the dLive module.  It was recognized but threw errors when issuing commands.  Here's an example of the log response:

[2020-11-05 17:08] WaffleTime16 opened #312 "Canon Camera Control API"
**Describe the feature**
Canon implemented a camera control API (CCAPI) for a select few of their cameras.  It allows HTTP commands to be sent from a remote device to control functions on the camera.

**Is this platform dependent (windows, mac, ..)?**
It's platform agnostic since it uses HTTP

**If documentation is required to implement, do you know where to find it?**
You have to make an account

[2020-11-05 18:57] MeestorX commented on #68
Do any commands work? Did you try selecting the iLive mode to see if that works?

[2020-11-05 20:36] WaffleTime16 commented on #68
I have not tried iLive yet.  That was in response to sending a "Talkback Mic On" request.  The other one I tried was muting ch 1 which did not elicit any response from the board.  Give me a minute here and I'll go fiddle with it on iLive mode.

[2020-11-08 04:00] oran6191 opened #313 "Avipas AV-1082w"
My church has an Avipas AV-1082w, and companion doesn't seem to support it. It would be great if this could become a possibility, since we are a small church and can't afford to get a new camera.

[2020-11-08 04:28] josephdadams commented on #313
I noticed you didn’t provide any documentation for your device. So I googled it. It supports the VISCA over IP methods. Please try ALL of the various VISCA modules for other device vendors and report back on whether or not any of them work. Start with Sony Visca.

[2020-11-08 04:31] oran6191 commented on #313
I'm pretty new to this, we have it connected over USB. Will VISCA work over USB or does it need to be connected over Ethernet?

[2020-11-08 04:47] josephdadams commented on #313
Ethernet

[2020-11-10 00:12] Kaniee commented on #284
@josephdadams Sorry somehow, I didn't get a notification about your comment. I have a first prototype which is working well on our camera. I'm requesting a repo on Slack now.

[2020-11-10 00:50] josephdadams commented on #284
@Kaniee the module repo is here: https://github.com/bitfocus/companion-module-marshall-visca

[2020-11-10 05:24] wde opened #314 "SPX-GC is an overlay manager"
Hi there,

I have been using SPX-CG to manage broadcast overlays via a web interface. It allows the creation of dynamic templates using HTML & javascript. I have also been able to take a +20Mb video created in After Effects and using Lottie Files to convert it to a 600kb JSON file and added to a template.

It would be great to be able to link a playout to Companion and assign each asset to a butto

[2020-11-11 17:51] dbiser99 opened #315 "Livemind Recorder"
I was just going to do this manually, at least for testing purposes, and saw the notice about getting new modules added...Livemind has recently added TCP (and HTTP, but it sounded like that was still in progress to some extent) remote control of their recorder program. They sent me the following link to the TCP-API documentation: https://livemind.tv/docs/recorder/tcp-api/

Not sure how much makes

[2020-11-11 21:24] josephdadams commented on #313
Did you try one of the other VISCA modules?

[2020-11-14 14:16] JanKoppe commented on #310
Second the request! Also a lot of documentation and tools around the Wing here: https://sites.google.com/site/patrickmaillot/wing?authuser=0

[2020-11-15 19:13] dubpixel commented on #113
a year later here is what ive been using with Universe for the past 6 months.  - Page 22 in the docu above, section for RCP3

**UTAH Scientific RCP3 Take Command TL;DR**

0x12,0x00,0xZZ,0x00,0x00,0x08,0x00,0xXX,0x00,0xYY,0x00,0x00,0x00,0xLL

ZZ = CHECKSUM (XX+YY+LL)
XX == SRC
YY == DEST
LL == LEVEL (default is 0x01)

----VERBOSITY COMMAND-----,--DATA BYTES (2)--
0x04,0x00,0x02,0x00,0x00,0x02,0x00,

[2020-11-16 01:54] Skullcorn opened #316 "Wyrestorm MX-0808-H2A"
Network commands to control Wyrestorm MX-0808-H2A

8x8 HDMI Matrix made by Wyrestorm

[Product Page](https://wyrestorm.com/MX-0808-H2A)

[API and Syntax](https://wyrestorm0.sharepoint.com/PartnerResources/Shared%20Documents/Forms/AllItems.aspx?id=%2FPartnerResources%2FShared%20Documents%2FWyreStorm%20Resources%2FProducts%2FMatrix%20Switchers%2FHDBaseT%2FMXV%20Series%2FMXV%2D0404%2DH2A%2DKIT%20v1%2

[2020-11-16 09:33] Byberg33 commented on #310
I would also need this! I think a lot can be duplicated from the Behringer x32 integration so it should not be that much work

[2020-11-16 20:33] josephdadams commented on #198
This is in the latest beta builds now.

[2020-11-16 20:33] #198 closed

[2020-11-17 20:30] Mackenflow commented on #225
Same issue for my Sony SRG-300HW
There is no way I am paying $1600 for an IP joystick controller
Must be a workaround somehow to control this thing over IP!!??

[2020-11-17 20:43] Mackenflow commented on #225
I just solved it: needs a static IP, not DHCP.
(Same as my Atem Mini)

[2020-11-19 03:46] JTF4 commented on #316
The API and Syntax page is hosted on a sharepoint site that I can't access. Is there any way that you can download it and directly upload it to GitHub?

[2020-11-19 09:10] Skullcorn commented on #316
[H2A & MXV Series Matrix_API_190703_EN.pdf](https://github.com/bitfocus/companion-module-requests/files/5565646/H2A.MXV.Series.Matrix_API_190703_EN.pdf)

Apologies, the link worked when I tested it previously.
Are you able to access the above?

[2020-11-19 14:25] DachsbauTV opened #317 "Transparent Paint"
https://github.com/sam0737/TransparentPaint

This is an amazingly simple tool which with the help of some additional apps let's you create a powerful but free Telestrator app.

Unfortunately for most of my usecases I can't control it with Vicreo Listener and the hotkeys

All the module would need to be able to do is:
- Clear Ink
- Undo
- Snap Toggle on/off

Bonus: Change pointer size and colour

[2020-11-19 16:35] josephdadams commented on #317
@DachsbauTV I've marked this as `Missing documentation` because I can't find anything listed on that repository that shows how Companion could `Clear ink`, `Undo`, or `Snap Toggle on/off` through an API, web control, etc.

Can you confirm these functions are available through an API or reach out to the software developer about it?

[2020-11-20 04:46] JTF4 commented on #316
Yep! I can see it now!

[2020-11-24 02:33] leonelmarbor commented on #119
hi. I am traying to develop a Studio 6 tally sistem as the one in VMix under wifi. But for that i need the ip adress of the studio 6 to talk to webcontroler and see if y can target the ip and configure tally in Studio 6 anyone have some expirence or can give me some advise... thanks

[2020-11-24 08:35] Wilmshurst opened #318 "Renewed Vision Pro Video Player Commands"
Hi guys,

is it possible to expand the module so that a "pause"/"resume" button could be created.

the intended use would be to pause all media on all outputs, and then resume all again.

p.s. sorry if this is in the wrong request location

[2020-11-24 08:45] Wilmshurst commented on #318
This could be achieved with a combined action of multiple play/pause layer commands manually?

essentially I'm finding the lack of play/pause control to be the issue.

[2020-11-24 12:56] josephdadams commented on #318
Transferring this to the PVP module.

[2020-11-26 12:27] SNRSE opened #319 "PlayoutBee"
Hey,
I am the developer of Playoutbee a Software that emulates a Hyperdeck. I would love to make it Controllable via Companion, at the moment it has an HTTP-API but could also be controlled directly via socket.io. Could someone please point me to a guide or a way I could do this ? is there a guide on how to create a Module for Companion?

[2020-11-27 13:42] SANDIJKNL opened #320 "AVONIC CM-73 IP - Tally Light Command"
Hi,

for the control of the tally light of the Avonic CM73-iP-B, (https://www.dropbox.com/s/7a9zy22o5oiebjw/Manual_AV_CM70-IP.pdf?dl=1)
i need a TCP Command bij pressing the button to turn on the actual tally light:

This are the commands

IP: custom
Port: 1259

TCP Command:

CAM_TALLYLIGHT_ RED:   -   81 01 7E 01 0A 00 02 03 FF
CAM_TALLYLIGHT_ GREEN:  -   81 01 7E 01 0A 00 03 02 FF
CAM_TALLYLIGHT

[2020-11-27 22:22] Aluramore commented on #52
Just wanted to leave some encouragement. I'm strongly leaning towards the PreSonus Series III for my future systems instead of X series from Behringer and this will really make them even nicer to me.

[2020-11-30 08:50] validlogin commented on #195
Using HTTP button seems like a pretty awesome idea!

Zooming in and out is also possible, as long as you make sure to have the button also send a STOP zoom command when you release the button - otherwise it'll never stop zooming!

Have you run into any issues with sessions? I know only one client is allowed to run a session at a time, which seems like a pretty big limitation.

[2020-11-30 09:55] leovangaal opened #321 "MiX16 PRO app (module/presets for playslist and channels)"
If possible I would like a module for the MiX16 PRO app.
Simple presets or OSC commands for the audio/video/image channels (play/pause/stop) and for the playlist.
More info about the product can be found here: http://www.mix16apps.com/

Now I'm using a workaround with the midi editor to generate OSC commands, but that takes forever to create...
I've got no knowledge about programming, but if I can

[2020-11-30 10:28] cycomachead commented on #195
You can set buttons in companion to have an up and down action. You can also set it to latch/toggle mode: a first press sets the bottom to on, and the second press sets it back to off. I use the latch mode to start/stop recording on a Hyperdeck, and more recently to toggle the 2x zoom option for focus checks on the Z Cam.

None at all! To be honest, I'd forgotten this was a serious issue with clie

[2020-11-30 16:26] DachsbauTV opened #322 "AVM Fritz products"
AVM offers a wide range of products from routers to smart plugs and bulbs.

They seem to have a good API for everything as there is already some projects using it:
https://github.com/andig/fritzapi

So far, I could only find the documentation in German: https://avm.de/service/schnittstellen/
But I've sent an e-mail asking for an english version.

[2020-11-30 19:56] sstubblefield opened #323 "For.a MFR-8000"
I'd love to be able to either control Input/Output routing or select Salvo's (presets) in the for.a router.

[2020-11-30 20:27] josephdadams commented on #323
Any protocol or documentation information you can share on this FOR-A router you want to control?

[2020-12-01 11:21] thedist commented on #212
Just to note here, I did attempt to make a Voicemeeter module as I had a client request it, but because the Voicemeeter API requires hooking into their DLL (this is their officially support method), the modules integration with Companion was declined.

The only way to get a Voicemeeter module added to companion would be to make/distribute an external app that handles communication with Voicemeeter

[2020-12-01 12:55] willosof opened #324 "Ardour"
Complete integration of Ardour - https://ardour.org/

OSC controlled, should be fairly easy
https://manual.ardour.org/using-control-surfaces/controlling-ardour-with-osc/

[2020-12-02 02:28] thomascantrellsea commented on #208
This seemed like it'd be useful to me so I've started writing a module in my spare time. Put my own use case is pretty narrow:
* Control my Cisco gear (DX70, SX20) running on CE. The hardware is older, but it's what I can afford personally...
* Dial and hangup calls. Maybe a few other call controls later, but right now the sheer act of dialing someone is pretty powerful to my workflow.

I'd be cur

[2020-12-02 14:05] sstubblefield commented on #323
@josephdadams I've reached out to For.A to see if there's any information on it. I'll update when I know more.

[2020-12-02 20:09] sstubblefield commented on #323
From For.A:

"MFR-8000 supports to control via Serial / LAN command.
Communication protocol is TCP/IP, which is based on HARRIS.
For detail, please refer to the "6. Serial / LAN Command Control" on the manual. You can find the commands.
If you can find the protocol for stream deck, you may be able to send a command from it."

@josephdadams I've attached the manual here. Let me know if this is some

[2020-12-03 00:55] josephdadams commented on #323
Yes, this can be used to create a module. So now you have a few options:

- Wait and see if anyone wants to create this for you and/or themselves
- Learn some code and make the module (I can point you in the direction of some modules to consider as boilerplates/templates for this)
- Offer a financial incentive to have someone create this for you

[2020-12-04 13:36] sstubblefield commented on #323
@josephdadams Okay cool. I might take a look at it myself. I'm a former JS dev, so I'd be interested in checking out some boilerplates/templates. Thanks for your help.

[2020-12-07 18:24] sstubblefield commented on #323
@josephdadams where could I find the boilerplates/templates? I dug around a little bit, but wasn't sure if they were public or not.

[2020-12-09 22:44] FaberYeah commented on #324
I'm really interested in this feature @willosof !

[2020-12-09 23:21] istnv commented on #324
Ardour has really improved since I last worked with it (2008)

[2020-12-10 00:12] FaberYeah commented on #324
Oh, well, yes! It's a king now ^_^
Is there the possibility to speed up the integration between Companion and Ardour? I'd be happy to contribute, if that could be of help ;-)

[2020-12-10 08:42] McHauge commented on #315
hmm, I get a timeout if I try and visit the link: "504 Gateway Time-out", might just be on my end

[2020-12-10 08:57] dbiser99 commented on #315
The link to the API? I just tried it and it's working fine for me. I suppose I can try to cut and paste it if you still have trouble. (They don't have a downloadable version that I've found.)

[2020-12-10 08:57] McHauge commented on #315
hmm, it works now, lol -.-

[2020-12-10 22:47] McHauge commented on #248
@Jonhug82 Hi, I'm getting pretty close to having a complete module for you, expecting to be done tomorrow (Friday), would you have a chance to test it with a real unit, any time soon?

also just for as a note, it will include all HTTP actions in the API, Variables and feedback.

-McHauge

[2020-12-10 22:57] bwentzel commented on #208
Great to see some interest in this. By leveraging xAPI the companion module would support most Webex Devices.

Optimally a module would not be limited to specific functions, but open up the full xAPI with all its capabilities. Which means everything can be controlled or configured. And current status on the device could be used as feedback on buttons.

One approach may be to add commonly used func

[2020-12-11 10:24] Simber1 commented on #57
@MarauderSeeker
Might be 6 months late but if you're still interested I'm working on this now and it's coming along quite nicely.

[2020-12-11 16:44] MarauderSeeker commented on #57
Great

[2020-12-12 13:50] josephdadams commented on #323
It looks to be a simple telnet ascii protocol, so take a look at any of the Roland modules.

[2020-12-13 20:14] Simber1 commented on #79
I'll take a crack at this after my spotify module.

[2020-12-14 15:22] NoahCallaway commented on #221
#307 Seems to be a duplicate.
I should be able to take this on.

[2020-12-14 17:02] yurividal opened #325 "Commands Missing from Sony VISCA module"
Hi, there are a few VISCA commands missing from this module. Is there a possibility to add a "custom command" for this module?

Some of the missing commands that I found:

Turn On Camera: 01 04 00 02 FF
Turn Off Camera: 01 04 00 03 FF
White Balance Modes: 01 04 35 (00-05) FF

List of all other SONY VISCA codes:

https://pse.my.salesforce.com/sfc/p/#200000001WlS/a/0J000000cQa2/Quc5uBzoMCeXcHFvTvNZe

[2020-12-14 20:34] knelsonkc opened #326 "AVIShop "HDBaseT HDMI Matrix 8x8 4K""
**Describe the feature**
This new feature will control the AVIShop "HDBaseT Matrix 8x8 4K" by changing one or more of the eight inputs and direct it to one or more of the eight outputs.

AVIShop is the brand label to my machine but the internals are used by Purelink and at least one other.

**Is this platform dependent (windows, mac, ..)?**
Not that I'm aware.

**If documentation is required to im

[2020-12-14 21:09] josephdadams commented on #221
Closing this one as it’s a duplicate.

[2020-12-14 21:09] #221 closed

[2020-12-15 00:18] trex73 opened #327 "Support for AVMETRIX PVS0615 – Portable 6CH SDI/HDMI Video Switcher"
Hi.

Support for AVMETRIX PVS0615 – Portable 6CH SDI/HDMI Video Switcher would be nice if it's possible. The inputs, prog/pvw. The media player, the cut and auto. Chroma and luma.

By the way, thank for everything you do. Great job.

[2020-12-15 08:30] McHauge commented on #327
Hi, do you have any data or documentation about an api or something like that? That would give it a lot higher chance to get made and included.

[2020-12-15 08:45] McHauge commented on #327
@trex73 from what I could find in a short google search, It would be a hard one with no documentation or even a clear statement if control over the network is possible

-Sorry, but if you find something for network control, let us know.

[2020-12-15 08:48] McHauge commented on #326
@knelsonkc Hi, a basic module with the command listed and presets for them should be simple enough, I'll give it a look when I get home. From what i can see in the list, feedback would not be an option.

[2020-12-15 15:50] andreamatteobassi opened #328 "Fixed / Safe buttons"
Good morning all!

I think one nice features could be to have some fixed buttons on the surfaces. For example audio ON / audio OFF that is a button that is in the same position in all the 99 pages.

Thank you

[2020-12-15 16:30] McHauge commented on #326
yes, I did guess the IP was wrong xD, but if you have the  Hex codes, and maybe the responses for it too, that would be nice, that way I can at least see what I can do with it.

[2020-12-15 16:43] trex73 commented on #327
Hi Andreas

Thank you for your reply. I know it’s long shot. The switcher is made by Lilliput but I don’t have anything els. I will try to gather more info from the companie and get back to you if I do. Something in perticular I could ask them beside network control that would be of help to you?

Here is the website. You can download the manual but there is nothing usefull about network :

https:/

[2020-12-15 17:56] knelsonkc commented on #326
[Matrix Hex Submit and Query Codes.pdf](https://github.com/bitfocus/companion-module-requests/files/5697654/Matrix.Hex.Submit.and.Query.Codes.pdf)

[Matrix WebUI.zip](https://github.com/bitfocus/companion-module-requests/files/5697670/Matrix.WebUI.zip)

I've added all the Web UI files that I have access to. Perhaps there's something there that will be helpful. I've also updated the Hex codes to sh

[2020-12-15 18:56] McHauge commented on #326
just for clearfication, since normaly hex is send as hex, with a 0x infront for it to be interbiet as hex, is it correctly asumed, that this is not the case here, and that it's just send in ASCII form but with the resemblance of HEX values in text, so like this:
http://Target-IP/cgi-bin/submit?cmd=hex(a5,5b,06,01,f0,00,00,00,00,00,00,00,09)

[2020-12-15 19:05] knelsonkc commented on #326
That's correct. In the Generic HTTP module I set the base url as "http://192.168.1.16/cgi-bin/submit?cmd=hex" and the URI as "(a5,5b,02,03,02,00,01,00,00,00,00,00,f8)" with the parentheses included and it works.

[2020-12-15 20:25] dbiser99 opened #329 "DT Video Labs PlaybackPro Update"
Would it be possible to get the remaining commands into the Playback Pro module? Of note causing this request: Goto In Preview. I also noticed Goto Out Preview and the program versions of some of the transport controls were also not there. Not sure if anything else is missing.

Thanks

[2020-12-15 22:07] josephdadams commented on #328
duplicate of https://github.com/bitfocus/companion/issues/27

[2020-12-15 22:07] #328 closed

[2020-12-16 07:08] yurividal opened #330 "[Module Request] Run a Python Script"
Hi. It would be nice to have a module to run a python script on the click of a button.
I know companion is mostly aimed at the streamers and AV Engineers, but the power of this software is amazing and it can be useful to many other people.
I think that, adding the ability to run a python script at the click of a button would be awesome.
The argument of the module could be the location of the pytho

[2020-12-16 11:54] McHauge commented on #326
@knelsonkc  Hey, just completed a test version of this module with actions, but no presets yet.

You can get a test build of companion v2.02 (for windows) with the module from the link below, it would be awesome if you could test if the module and all the actions work as expected. Then we can add it as completed and include it in the main build.

Just download the file: 2020-12-16-Companion-2.2.0-

[2020-12-16 14:27] McHauge commented on #326
Updated the zip file it now includes presets.

[2020-12-16 14:34] thedist commented on #330
Companion already has a `Run shell path` action, so you can just use that to run any local script or file you like.

[2020-12-16 14:39] yurividal commented on #330
Is there an example of how this would be done on windows? What about on Linux? Maybe we can improve the documentation?

[2020-12-16 18:15] knelsonkc commented on #326
@McHauge This is incredible! I'm still testing and I'll give my updates below. But, I think I owe you a beer or whatever you like to drink in Denmark for making this happen so quickly! Let me know how to make that happen.

Issues so far:
Companion crashed when first testing. It would happen when assigning Input 2 to Output B and testing the action. It crashed 5-6 times in a row and then I tried ot

[2020-12-16 18:27] shosho27 opened #331 "AVMATRIX MSS1611-S Matrix"
Any chance to have the AVMATRIX MSS1611-S Matrix programmed for the Stream Deck?

API

16×16 SDI Seamless Matrix Switcher API Guide
V3.1
1. Communication Model
1.1. ModelⅠ
Interface: RS422
Baud Rate: 9600
Port Settings: Bps 9600, Data bits 8, Parity None, Stop Bits 1, Flow Control None
1.2. ModelⅡ
Interface: LAN
Communication Protocol: UDP Broadcast
Destination Port: 7000
Noted: The serial port an

[2020-12-16 18:28] McHauge commented on #326
Quick question, did you do the testing on a clean setup, lot has changed since the release and the beta version s

[2020-12-16 18:33] knelsonkc commented on #326
I didn't do it on a clean setup. I'll try it again with a clean install and see if it happens. Again, I couldn't get it to replicate the issue after trying other inputs/outputs. I'll test again though.

[2020-12-16 18:37] McHauge commented on #326
The preset thing might be that i didn't let it sync for enough time to update on onedrive 😅

[2020-12-16 19:19] knelsonkc commented on #326
I installed the updated version you uploaded.

-Presets are nice. Great work! I've attached a screen shot though for the text. The text shows "X" as the input but doesn't show the input number. Also, when my screen 1920x1080 (125% in windows) and opened in Google Chrome at 100% the text is cut off. I didn't show that in the screenshot since that may just be my pc.

![Screenshot 2020-12-16 130927](

[2020-12-16 20:04] McHauge commented on #326
did the new build, the one with presets, affect any of the other things you mentioned before.

Other than that the next step would be:
*Add ARC + presets for it. (had no idea what it was for, therefore I didn't implement it before)
*Double check the 4K actions
*Rename restore to factory default

[2020-12-16 20:21] knelsonkc commented on #326
Nothing was affected. Everything still appeared to work as planned.

I don't use the ARC setting but it's part of the webui and someone might want it.

And everything else seems good.

[2020-12-17 06:16] Simber1 commented on #330
set the path option to `pythonw "path/to/.py"`

[2020-12-17 08:27] McHauge commented on #326
@knelsonkc I have updated the link to include a version with the changes/additions mentioned above, please take a look and comeback if anything is missing/not working, then depending on what the response is, I'll make a note of what commands might be a bit iffy in the help file, for other people to see and read if they find something else. I don't plan on adding feedback currently, since I can't t

[2020-12-17 09:27] McHauge commented on #316
@JTF4 Hi, did you begin work on this request, or were you just curious before? otherwise, I'll give it a go.

[2020-12-18 07:15] lumens-fw opened #332 "Lumens media processor"
Hi,
- my github account ID :
   => lumens-fw

- The name of the device, hardware, or software you would like to control.
   =>Media Processor System from LUMENS.   currently, we have LC200 (https://www.mylumens.com/en/Products_detail/39/LC200) and in the future, we will have LC100...

- What you would like to be able to make it do from Companion.
   => send commands to LC200 by TCP over IP protoco

[2020-12-19 16:30] SNRSE opened #333 "Mixing Station"
The mixing station has an OSC Api. which then could be used to control a lot of soundboards :

https://dev-core.org/ms-docs/integrations/apis/

[2020-12-20 00:24] daniellippens commented on #57
Very nice! I'm interested in controlling spotify over network/the web as opposed to locally.

[2020-12-20 00:27] singletrackrecs commented on #193
General media controls, with feedback for play status, media playback title/ time etc. would be a good start.

[2020-12-20 01:38] josephdadams commented on #57
Transferring this to the Spotify module repository and you guys can close it out when you're ready.

[2020-12-20 13:26] #330 closed

[2020-12-20 13:37] yurividal opened #334 "Module to control OPENSONG"
Opensong is an opensource software to assist churches with the projection of music lyrics and scriptures.

It has an API for remote control. (http://www.opensong.org/home/api)

Would be cool if companion could control it

[2020-12-21 04:52] tryonrobotics commented on #259
@tracyhayford Thank you for this.  Your time putting this together has really helped me.
Until a module is built - here is what I have that is working.

The Generic HTTP GET did not seem to be working for me, looking around this may be a recent bug - if so, I imagine the Generic HTTP GET command would be simpler.  Until then though I was able to get things working great using the Internal Run Shel

[2020-12-21 15:11] RoyvanSchelven commented on #56
Hi All, is there any news about this A&H SQ request and the implementation of the module?

[2020-12-21 15:15] simongroom112 commented on #56
Hi,

The last few months hadn’t really gone to plan.... I think we last spoke about sponsoring the project... what type of figure would you deem acceptable?

Kind Regards
Simon Groom

Sent from my iPhone

[2020-12-21 16:19] simongroom112 commented on #56
Someone was happy to look into this but was looking for some form of sponsorship... if anyone wants to put in to a pot?

[2020-12-23 08:58] baltedewit commented on #125
There's a library here that let's you connect directly to the Media Sequencer: https://github.com/olzzon/v-connection

There is also a blog post with some details on how the VizMSE stuff works internally.

_ps: I don't know much about the details on VizRT stuff, some of my colleagues wrote this stuff_

[2020-12-23 09:05] baltedewit commented on #69
Consumer module with support for setting parameter values and controlling matrix connections: https://github.com/bitfocus/companion-module-generic-emberplus (not included in any of the builds as of yet, soon-ish I hope)

[2020-12-23 23:21] dadofthreejs commented on #281
Will the Sony Visca Module work on an Aida camera?

[2020-12-25 06:31] christiansass opened #337 "WLED (On Air Sign) Integration"
I would love for there to be a simple way to integrate or trigger presets from Bitfocus Companion via my Elgato Streamdeck.. Basically, there's an onAir sign developed by "make that inc" out of Portland, that I would like to trigger when going live
The developer insists there's a way to make this work... it's just not obvious or simple.. I also have a request to integrate this over at the WLED for

[2020-12-25 07:15] christiansass opened #335 "WLED : Aircookie"
I would love for there to be a simple way to integrate or trigger presets from Bitfocus Companion via my Elgato Streamdeck.. Basically, there's an onAir sign developed by "make that inc" out of Portland, that I would like to trigger when going live
The developer insists there's a way to make this work... it's just not obvious or simple.. I also have a request to integrate this over at the WLED for

[2020-12-25 13:27] christiansass opened #336 "YTMDesktop [Module Request]"
I would love to see the usage of the web commands to control music playback

[2020-12-25 17:47] JasonN33 opened #338 "stream deck/ Lutron Caseta"
As i use my stream deck and companion for home streaming i want to be able to adjust my room lights which have lutron caseta dimmers. thoughts on how to do this?

**PLEASE USE THE FOLLOWING PAGE IF YOU WANT SUPPORT FOR A NEW DEVICE OR SOFTWARE PROGRAM**: https://github.com/bitfocus/companion-module-requests/issues/new

**Describe the feature**
A clear and concise description of what the feature do

[2020-12-26 21:16] Abrechen2 opened #339 "Node-Red"

[2020-12-27 19:32] jeffreylsoffer opened #340 "Castr.io"
**Describe the feature**
Castr.io is used to restream RTMP and SRT feeds to various destinations (fb, yt, twitch, etc)
Ideally this module would be able to start and stop these feeds from Companion with feedback for if they're enabled.

**Is this platform dependent (windows, mac, ..)?**
It's web-based.

**If documentation is required to implement, do you know where to find it?**
https://castr.io/a

[2020-12-28 02:26] dherr0912 opened #341 "Support for Logic Pro X"
**PLEASE USE THE FOLLOWING PAGE IF YOU WANT SUPPORT FOR A NEW DEVICE OR SOFTWARE PROGRAM**: https://github.com/bitfocus/companion-module-requests/issues/new

I basically only need it to mute and unmute multiple channels for a livestream set at our church.

[2020-12-28 02:27] josephdadams commented on #341
@dherr0912 please post a link to the Logic Pro X API that would allow Companion to control it over the network. My guess is that there isn’t one, and that the only real method of controlling it would he an AppleScript.

[2020-12-28 02:29] josephdadams commented on #338
@JasonN33 please provide a link to the control or protocol API for your dimmers if you want a module to be created.

[2020-12-28 02:35] josephdadams commented on #337
Duplicate of #335

[2020-12-28 02:35] #337 closed

[2020-12-28 02:37] josephdadams commented on #336
I don’t know anything about this program but if you want support for it, you have to provide more information than this. A link to the protocol API that explains how it can be controlled over the network, for example.

[2020-12-28 02:37] josephdadams commented on #339
Closing because you provided absolutely nothing helpful.

[2020-12-28 02:37] #339 closed

[2020-12-28 02:39] josephdadams commented on #335
It sounds like the WLED creator suggested you use the Generic HTTP module.

[2020-12-28 02:45] christiansass commented on #335
ok, ill look into it...

[2020-12-28 06:58] McHauge commented on #248
@Jonhug82 Hi did you do any testing on this yet?

[2020-12-28 07:00] McHauge commented on #326
I have marked this as "Done" and it's now included in the Companion Betas, so I'll close this. If something comes up feel free to open it up again or create a new issue on the module itself.

[2020-12-28 07:00] #326 closed

[2020-12-28 07:56] Jonhug82 commented on #248
Hi @McHauge Thank you so much for creating the module! Sorry with all of our additional Christmas services I ran out of time to test the module. I'm planning to test this week and will let you know how it works.
Jonathan

[2020-12-28 08:03] McHauge commented on #248
no worries, merry Christmas!

[2020-12-28 10:01] christiansass commented on #335
interestingly your own software suggests that if I have to use http to suggest a proper module...

Use the 'Base URL' field below to define a starting URL for the instance's commands: e.g. 'http://server.url/path/'. This field will be ignored if a command uses a full URL.

![image](https://user-images.githubusercontent.com/35471675/103206371-4ea11680-48c1-11eb-8cec-557c679a854f.png)

[2020-12-28 10:08] christiansass commented on #336
https://ytmdesktop.app/

https://github.com/ytmdesktop/ytmdesktop

[2020-12-28 10:17] christiansass commented on #335
![image](https://user-images.githubusercontent.com/35471675/103207341-a93b7200-48c3-11eb-94dc-1d4c6a4e8929.png)

[2020-12-28 10:38] christiansass commented on #335
![image](https://user-images.githubusercontent.com/35471675/103208553-88285080-48c6-11eb-8241-fc35daeba460.png)

Does this look even close?

[2020-12-28 12:49] josephdadams commented on #336
Here is the API: https://github.com/ytmdesktop/ytmdesktop/wiki/Remote-Control-API

It’s quite simple. You can use the generic HTTP module if you like until someone can create a module.

[2020-12-28 12:52] josephdadams commented on #335
I don’t know their API, so I don’t know if it’s close or not.

[2020-12-28 17:00] Jonhug82 commented on #248
Merry Christmas to you too.

I had a quick play with the module this afternoon, the feedback and variables seem to work great, however when I try and change a relay state the button press crashes companion.

[2020-12-28 17:49] McHauge commented on #248
hmm, great with the feedback and variables, but do you have a picture of the java error,  instance setup and the button setup.

[2020-12-29 10:16] Jonhug82 commented on #248
Please see image of button and instance setup, I don't get a java error that I can see. I have noticed that the module is connected to the relay it crashed instantly and if not it crashes a short while later

![Relay Button](https://user-images.githubusercontent.com/67643240/103276151-b0df4180-49bd-11eb-84a4-22bcc3349889.png)
![Instance Setup](https://user-images.githubusercontent.com/67643240/103

[2020-12-29 18:51] haakonnessjoen commented on #248
He means a javascript error, not java error. But what do you mean by "crashes" then, if you do not receive an error?

[2020-12-29 19:07] McHauge commented on #248
Yes of course, ups ment a javascript error not a java error 😂

But if you don't get a "crash" what are you referring to then?

[2020-12-29 19:08] McHauge commented on #248
Also could you try it both with and without a feedback on the button

[2020-12-30 08:51] Jonhug82 commented on #248
I'm running companion on a Raspberry Pi, when I press a button with the control on it the stream deck stops functioning and I can't get to the web page until I restart companion.

Where can I find the java script error ?

[2020-12-30 08:53] McHauge commented on #248
Could you test it on a windows or mac, that way the javascript error will fill the screen

[2020-12-30 09:13] Jonhug82 commented on #248
Sure, can test on a windows machine.

[2020-12-30 11:49] yurividal opened #342 "CISCO CMS (Meeting Server)"
Hi. Cisco CMS is a self-hosted video-conferencing server, that is mostly controlled via a RestAPI.
We use Postman for most of the control, but i would like to use Bitfocus to create some buttons that would perform actions.
I am not a js dev, but, if someone gets the module started, i can later implement extra functionality.

The module is, in theory, simple. Just needs to send http POST and PUT co

[2020-12-30 15:52] Columbo818 opened #343 "Allen & Heath Qu series audio desks"
dLive and iLive are supported. Is it possible to add the Qu series?
Existing module: https://github.com/bitfocus/companion-module-allenheath-dlive
Qu Series MIDI protocol: https://www.allen-heath.com/media/Qu_MIDI_Protocol_V1.9.pdf

I've not got access to a Qu unit to check if the existing module will work.

[2020-12-30 22:16] josephdadams commented on #343
Duplicate of #91

[2020-12-30 22:16] #343 closed

[2020-12-31 21:12] respectTheCode opened #345 "Playlister"
I am the founder of Playlister and I use companion at church for a lot of different things. We have gotten a few requests to add support and so I am starting to look into this. I would be happy to do build the module but there isn't much documentation on the process. How would we go about getting a module added to companion?

[2021-01-02 11:37] simongroom112 commented on #56
Ive started a GoFundMe page to collect sponsorship money for the creation of this module.

https://www.gofundme.com/f/sq-module-for-companion?utm_source=customer&utm_medium=copy_link&utm_campaign=p_cf+share-flow-1

[2021-01-04 10:58] Jonhug82 commented on #248
Stupid Question I know, but how do I load the development modules into a windows environment ?

[2021-01-04 11:44] McHauge commented on #248
you don't, you just install the test vision on my link

[2021-01-04 11:45] McHauge commented on #248
or any other beta build with it included, you can only add modules to a Dev environment, not to a instalation

[2021-01-04 13:24] Jonhug82 commented on #248
Sorry still not sure how to download or run your dev version

[2021-01-04 13:35] McHauge commented on #248
Sorry my bad, forgot to add the link, dohhh. Did not realise this until now, since you added it to you Raspberry Pi (those are basicly a dev envirement) normaly I make a post with a where and how description first. but I simply forgot.

Here is the link, what you do is, go grap the .zip file for the module you wan't to test, and run the Companion.exe. This will install a test version of companion

[2021-01-04 14:46] Jonhug82 commented on #248
I have downloaded and run the file form your link, the feedback and variable work well but the control functionality does not work. There is a demo unit at 212.25.45.120 port 60084 username: admin password: admin if you would like to have a look at a running unit. Demo unit can be controlled here http://212.25.45.120:60084/login.htm

[2021-01-04 17:41] McHauge commented on #248
@Jonhug82  Hi, thx for the "demo unit" it should be working now if you go ahead and download the new zip file. and you can report back

[2021-01-04 20:31] juanmtta commented on #91
Hi there, any news on this module? I'm available for testing!
https://www.allen-heath.com/media/Qu_MIDI_Protocol_V1.9.pdf

[2021-01-05 12:09] Jonhug82 commented on #248
Hi @McHauge I have tested the module with a local unit this morning and all works really well thank you for your time in writing this module. The digital input with the ability to trigger buttons is a fantastic addition too can already see many usages for this !

[2021-01-05 12:13] McHauge commented on #248
Lovely, that's great to hear, I'll get it qued up for inclusion into the companion core. Expect it to be in the beta builds within a week or two :)

I'll close this request, for now, feel free to open it up again if needs be.

[2021-01-05 12:13] #248 closed

[2021-01-05 13:13] McHauge commented on #345
@respectTheCode Hi, Wellcome to Companion, we do advice joining [Slack](https://join.slack.com/t/bitfocusio/shared_invite/enQtODk4NTYzNTkzMjU1LTMzZDY1Njc2MmE3MzVlNmJhMTBkMzFjNTQ2NzZlYzQyZWIzZTJkZWIyNmJlY2U0NzM1NGEzNzNlZWY3OWJlNGE) since this allows "faster" help and communication for newcomers. But we also do have some kind of dev guide listed here [Link](https://github.com/bitfocus/companion/wiki

[2021-01-06 12:05] cipi1965 opened #346 "Wirecast Module"
Hi, i'm developing a module that interface with an application installed on the same machine of Wirecast to provide network control. I would like to add to companion (i will also open source the network application of course). I can't seems to join Slack group because of it requiring a @bitfocus.io email to register.

[2021-01-06 12:10] McHauge commented on #346
you shouldn't need a @bitfocus.io mail, but you will need to register your mail to the slack group => @bitfocus.io

[2021-01-06 12:11] McHauge commented on #346
should work, if you just type your norma mail in the text field:
![image](https://user-images.githubusercontent.com/31018035/103767358-bfae9f80-5020-11eb-927d-9e1534894fc3.png)

[2021-01-06 12:13] cipi1965 commented on #346
The link in wiki seems to be wrong, i joined using one found in previous issue on this repository, thank you! Wrote a message on #module-development

[2021-01-06 20:52] cipi1965 commented on #346
@McHauge any feedback on my module?

[2021-01-07 02:29] tracyhayford commented on #259
I was thinking about trying something like this.  Are you using companion on a Windows PC or some other device?  Will the curl command work for a Windows PC?

Thanks!

Tracy Hayford

(812) 228-9823
On Dec 20, 2020, 10:52 PM -0600, tryonrobotics <notifications@github.com>, wrote:

@tracyhayford<https://github.com/tracyhayford> Thank you for this. Your time putting this together has really helped me

[2021-01-08 14:49] cjluck commented on #112
I would also like see this. We have a Tria Express at my workplace, and it would be nice to trigger it with companion.

[2021-01-08 15:41] cipi1965 commented on #346
I would like to point to the new module https://github.com/bitfocus/companion-module-telestream-wirecast
I can close this issue

[2021-01-08 15:41] #346 closed

[2021-01-08 17:17] kyle2195 opened #347 "Panasonic ag-cx350"
I would like to add Panasonic ag-cx350 camera to bee able to just record and stop records.

[2021-01-10 21:39] richardnewport54 opened #348 "Add ability to communicate with HiQnet mixers (mute / unmute microphones). The manufacturer is Soundcraft by Harmon."
Companion has an interface for Soundcraft UI devices.  That uses a http protocol (port 80).
HiQnet is a different protocol.

I am willing to work on this solution.
I need information on your standards for coding and example code snippets.
I have read the HiQNet protocol and have the ability to test the code that is completed.
I have wireshark experience.
I have a ethernet switch with management so

[2021-01-11 09:22] JITZEH opened #349 "module for Allen&Heath SQ series"
**PLEASE USE THE FOLLOWING PAGE IF YOU WANT SUPPORT FOR A NEW DEVICE OR SOFTWARE PROGRAM**: https://github.com/bitfocus/companion-module-requests/issues/new

**Describe the feature**
a module for the  Allen&heath SQ series

**Is this platform dependent (windows, mac, ..)?**
windows and mac.

**If documentation is required to implement, do you know where to find it?**
https://www.allen-heath.com/me

[2021-01-11 10:01] JITZEH opened #350 "SQ module Allen&heath"
Describe the feature
a module for the Allen&heath SQ series

Is this platform dependent (windows, mac, ..)?
windows and mac.

If documentation is required to implement, do you know where to find it?
https://www.allen-heath.com/media/SQ-MIDI-Protocol-Issue3.pdf
http://support.allen-heath.com/Knowledgebase/Article/View/using-stream-deck-with-dlive

Usecases
it makes our streaming setup complete

[2021-01-11 11:55] josephdadams commented on #348
Duplicate of #174

[2021-01-11 11:55] #348 closed

[2021-01-11 11:57] josephdadams commented on #349
Duplicate of #56

[2021-01-11 11:57] #349 closed

[2021-01-11 11:58] josephdadams commented on #350
Duplicate of #56

[2021-01-11 11:58] #350 closed

[2021-01-11 12:00] JITZEH commented on #56
Is it ready or takes it longer

[2021-01-11 12:06] josephdadams commented on #56
I don’t think anyone has started on it.

[2021-01-11 12:07] JITZEH commented on #56
That is why make an New message

[2021-01-11 12:08] simongroom112 commented on #56
Please consider donating to creation fundraiser above.

[2021-01-11 12:11] JITZEH commented on #56
For 300 pounds?! I can make it by myself.

[2021-01-11 12:16] simongroom112 commented on #56
£300 is an open target. If 10 People put in £10-£20 each it’ll get made quicker.... time is money....

If you can make it yourself why don’t you just make it and submit it?

Kind Regards
Simon Groom

Sent from my iPhone

[2021-01-11 18:04] dickmann opened #351 "how to teach StreamDeck app where to find companion Raspi (not connected via USB on the same Mac)"
Hi,

I love my Stream Deck and already use quite some buttons supporting me in my daily business. I installed Companion on a Rasberry Pi, working great. If I go into the StreamDeck (native) app and try to include a "Companion button" via the companion plugin, Streamdeck shows error "connecting to locally running companion...". Of course he is searching on my laptop and there is no Companion softwa

[2021-01-11 18:23] ICE9MOONEY opened #352 "Yamaha Rivage Series Consoles"
**PLEASE USE THE FOLLOWING PAGE IF YOU WANT SUPPORT FOR A NEW DEVICE OR SOFTWARE PROGRAM**: https://github.com/bitfocus/companion-module-requests/issues/new

**Describe the feature**
A clear and concise description of what the feature does

**Is this platform dependent (windows, mac, ..)?**
Explain.

No.

**If documentation is required to implement, do you know where to find it?**
If applicable, a

[2021-01-11 18:35] tgrushka commented on #351
From what I understand (I am just another user, but also a developer who develops my own customizations for Companion), Companion interfaces directly via USB. There is currently no way that I know of to run the server on one system and access the Stream Deck on another device.

BUT...

In such case, you can run the Companion agent/server directly on the Rasberry Pi your Stream Deck is attached to.

[2021-01-11 20:01] josephdadams commented on #352
@ICE9MOONEY I've transferred this to the module requests repository as you posted in the wrong place.

Your request is missing protocol documentation.

[2021-01-11 20:02] josephdadams commented on #352
@MeestorX not sure if you wanted to take a look at this or not

[2021-01-11 20:09] MeestorX commented on #352
Planning on it, once Yamaha implements a control protocol. :-)

[2021-01-12 08:16] dickmann commented on #351
Hi, thanks for your post, yes, this should work.

I am looking for a way to connect from Companion on Raspi to my Macbook connected via USB with StreamDesk. Would this be possible?

[2021-01-12 08:25] McHauge commented on #351
@dickmann not natively, but you can do some simple activation via a second companion that triggers the first (pi), but you will lose simplicity, feedbacks and variables. the only way natively to have full control over a Companion instance is via the Web interface/web buttons or via a stream deck connected directly to the host machine that runs companion.

[2021-01-12 10:52] pxalb commented on #231
Hi! I'm also wondering this module to control the software.

In the elgato official streamdeck app you can control the titles as you can see in this video:
https://www.youtube.com/watch?v=lUovi5txk10

This link shows the macro commands to control the software through tricaster system. Maybe helps. I'm noob with macros and software...
https://newbluefx.box.com/s/t8ne7xml0om3c5o0n773ubgb77svuffs

Th

[2021-01-12 11:52] dickmann commented on #351
Hi Andreas, thanks for your clear guidance! Kind regards, Michael

Andreas Thomsen <notifications@github.com> schrieb am Di., 12. Jan. 2021,
09:26:

[2021-01-12 12:50] #351 closed

[2021-01-12 19:12] wjdean76 opened #353 "Support for BirdDog EYES PTZ cameras"
Looking to find support for BirdDog eyes cameras. They support VISCA so I don't think it would be much different of a configuration than the PTZ or Sony cameras.

[2021-01-12 19:42] knelsonkc commented on #326
I'm sorry it took so long to get back to you. The basic functionality is there. Here's what is still not working and the steps I've taken:

Commands for switching to 4k continue to be buggy. The presets for switching to 4k EDID settings works every time AND works when if I change the input to another within the preset. But, if I add it via the dropdown menu, it won't trigger an EDID change if it i

[2021-01-12 20:25] pxalb commented on #231
Find attached the plugin for the official app.
[com.newblue.titlerlive.sdPlugin.zip](https://github.com/bitfocus/companion-module-requests/files/5804601/com.newblue.titlerlive.sdPlugin.zip)

[2021-01-12 22:13] McHauge commented on #326
@knelsonkc hi, I just uploaded a new version on the old Onedrive link above, please give it a try, if 4k does not work with it, the i'll have to have you get the raw codes, as i curently is using the same code for generating them as them, so it must be some funny formating thing

-McHauge

[2021-01-12 22:56] knelsonkc commented on #326
4k works perfect. EDID to ALL is the only setting that doesn't work yet.

[2021-01-13 11:18] henryflorence commented on #83
Hey guys, just found this thread as I'm interested in controlling a DMON-6S from companion.

We already control VICREO hotkey and of greater relavence midi-relay. Both of these are external programs, controlled via a network protocol. Midi-relay is implemented in Node.js (same as companion), but a python version of this for Decimator-relay seems like a very elegant solution.

[2021-01-13 12:46] josephdadams commented on #83
Yes, that is what we suggested to the developer of the Python code, to make it a standalone project that accepts API commands from Companion over the network. Until that’s done, this likely isn’t progressing further.

[2021-01-13 15:24] aaronkothe commented on #83
@quentinmit please let me know how much you'd charge to create what folks have suggested, "a stand-alone application that exposes the API via a simple network protocol." You can contact me directly agkothe@live.com. And if you aren't interested, do we have everything we need to ask someone else to do it?

[2021-01-13 16:14] Fader-Monkey opened #354 "For-A MFR Routers"
Control and read data from the For-A MFR Series video routers.

Ideal functions would be:
Route crosspoint x->y
Recall salvos(internal function of router to recall multiple crosspoint)
use names of sources and destinations as variables for routing
Feedback of what is currently routed to Y destination
copy from current state of crosspoint to salvo (this could be two steps of copy crosspoints and st

[2021-01-13 18:46] leovangaal commented on #321
Hi Joseph,
I've had contact with the company that designed the app.
They don't have plans to add direct orc commands for the software, so you may delete my request.

[2021-01-13 19:16] fdebeer opened #355 "panasonic AW-RP150 ptz controller"
support for the Panasonic AW-RP150 and the AW-RP130 PTZ controller.

New features with these controllers, like timed zoon and pan. (change preset in a given number of seconds.)
would be nice to have this under a button

[2021-01-13 19:23] McHauge commented on #355
do you have any documentation on the API? you can currently control most ptz's directly so what specifically are you trying to access with the controller? to be camera independent?

[2021-01-13 19:49] #321 closed

[2021-01-14 01:56] tryonrobotics commented on #259
Hi Tracy,
I am using Companion on Windows machines.
Josh

On Wed, Jan 6, 2021, 8:29 PM Tracy Hayford <notifications@github.com> wrote:

[2021-01-14 07:07] quentinmit commented on #83
It's open source; you're welcome to take the library I wrote and wrap it in whatever program/protocol you want. I think you have everything you should need for any Python developer to do that.

I don't really want to invent a bespoke protocol for this; I may still implement OSC, but Companion doesn't really have bidirectional OSC support that would give proper feedback. I'm not interested in being

[2021-01-14 10:20] fdebeer commented on #355
i control the camera's with companion, but when i select a preset, i want also select the camera on the controller, so it's easy to adjust the camerapreset without selecting the camera first. so selecting a preset on cam1, also switch the controller to cam 1.
this is possible for the RP120 ans RP 50, but not for the new controllers.
also it looks possible to connect the pc via IP to the controller

[2021-01-14 10:31] McHauge commented on #355
Looks very doable, and very close to the PTZ's same structure, and even commands are the same for a lot of it, I'll most likely give it a look when I'm done with the massive update to the PTZ module. but I might need remote access to a controller, and I don't think we have one on loan atm.

[2021-01-14 10:34] McHauge commented on #355
another note have you actually tried using the current module and seen if som stuff works or not, it's on the same protocol, so it should at least do something

[2021-01-14 10:37] fdebeer commented on #355
connecting companion to the RP 60 or 150 is not working. no responce.
Dit not try the RP50 or 120 yet, but there are modules for these in companion, so i think they wil work to select the camera

[2021-01-14 10:41] McHauge commented on #355
Yes there are a module for the RP50 and 120, but did you try to use that module, as an example add the module select the model RP50 and give it the ip from you RP60 and see what happenes

[2021-01-14 10:47] fdebeer commented on #355
i'm freelance. dont have the equipment here. wil have to wait for the next job, i'm afraid
tried to connect a RP150 with the RP120 module, but got no responce from the RP150. status 'null'

[2021-01-14 11:12] McHauge commented on #355
even though the status is "null" that does not necessarily determine if action works or not, that's what you should test by just adding one of the buttons and see if it reacts to the commands.

I just looked at the code, there is nowhere, where it determines what status to show, the only status change in the entire code is to show "null".... also I don't really like the way you chose what model yo

[2021-01-14 11:38] fdebeer commented on #355
didn't know that. i learn every day... :)
Hope to sit on a job soon again. it's a bit slow now with the lockdown and so here...will try next time

[2021-01-14 13:27] aaronkothe commented on #83
No apologies necessary. We wouldn't even be this far without you.

[2021-01-14 14:45] JITZEH commented on #56
Hi guys,
I'm going to try to make it for my internship time. Has anyone already started on this project? Please send me a message.

kind regards,
Jitze van der Hoek

[2021-01-14 15:09] JITZEH opened #356 "How to test a selfmade module?"
Hi all,
I try to make a module for the Allen & Heath SQseries, but how can I test of this actual works?

Kind Regards,
Jitze van der Hoek

[2021-01-14 15:29] NiagaraOnlineWorship opened #357 "Stream Deck control of Roland VR-4HD video switcher"
I have a Roland VR-4HD video switcher that can be controlled by my computer via USB connection and the Roland "RCS" software. I want to be able to control either RCS or the VRF-4HD directly using my Elgato Stream Deck. I want fairly simple control: the ability to switch to any of the 4 video sources, and to control the volume of audio sources. Several Roland devices are listed in the Companion sup

[2021-01-14 15:56] McHauge commented on #357
Can it be controlled over ethernet? Otherwise companion can't interface with it natively. Companion only does over the network control.

[2021-01-14 15:58] McHauge commented on #356
Just add it to the module folder an compile or run in dev / headless mode.

First of clone companion to your local pc and try to compile, don't try the module thing before you can do that.

Then take a look at how modules are build and get a look at the file structure, then it will make more sense. The thing is you can't add modules after the fact, they will have to be included before you compile

[2021-01-14 15:59] McHauge commented on #356
Also please come and join slack, it's where all the communication is

[2021-01-14 16:01] JITZEH commented on #356
How to get there?

[2021-01-14 16:03] McHauge commented on #356
There is a link on this page (I'm on 📱 Right Now so) https://bitfocus.io/companion

[2021-01-14 16:05] McHauge commented on #356
Also based on that question a guess you haven't red the documentation yet 😅

Here is the wiki for crating modules: https://github.com/bitfocus/companion/wiki/Module-Development

[2021-01-14 16:06] JITZEH commented on #356
Thanks Sir! I joint the slack. (It was too little too find it)

[2021-01-14 16:07] JITZEH commented on #356
Can you set the Github issue on Closed?

[2021-01-14 16:07] McHauge commented on #356
No problem

[2021-01-14 16:08] #356 closed

[2021-01-14 16:11] NiagaraOnlineWorship commented on #357
The "RCS" program is running on the same computer that would have companion
running and the Stream Deck connected. Do you mean Companion wouldn't work
unless it was on a different computer connected to the RCS computer over
the network?

On Thu, Jan 14, 2021 at 10:56 AM Andreas Thomsen <notifications@github.com>
wrote:

[2021-01-14 16:20] McHauge commented on #357
Th mixer itself would need to have support for network control. Like have a network RJ45 Jack or wifi.

The alternative is to have a "middle man", eg a program on the pc that can receive comands over network and translate that to "RSC" locally. The RTC can then be sent from that software via usb to the mixer.

But that is not a native companion solution and would require external programs to be in

[2021-01-14 19:43] josephdadams commented on #357
@NiagaraOnlineWorship for context, I have written every available Roland module in Companion to date.

The VR-4HD does not have any external control options that are network-based. The reason we require network-based control is because of the hardware stack involved in making this software work across multiple operating systems and architectures.

So, if the RCS program supports hotkeys, you shoul

[2021-01-14 20:34] istnv commented on #357
The protocol looks similar to the `v60-hd` module. The only difference being TCP vs RS232.

[2021-01-14 20:37] josephdadams commented on #357
@istnv what would be the best method to be able to send tcp from companion to rs232?

[2021-01-14 20:39] McHauge commented on #357
I saw someone talk about him creating/working on an IP to Serial program for use with another module, but no idea how far he got

[2021-01-14 20:40] istnv commented on #357
@josephdadams Any `serialport` library compatible port (usb or native RS232).
Look at the `generic-tcp-serial` module I added a few weeks ago.

[2021-01-14 20:42] herzogmedia opened #358 "Support for mAirlist Radio Automation"
[mAirlist Radio Automation](https://www.mairlist.com/en/products/radio-automation/) is a popular software for Radio Automation and structured Audio Playout in many usecases from hobby internet radios to professional broadcast running on Windows.

It has a lot of possible remote interfaces and I would like to able to use all their available remote control commands listed here:
https://wiki.mairlist

[2021-01-14 22:45] pxalb commented on #231
I have found the API documentation. Hope it helps! Thanks in advance!
[API Documentation.zip](https://github.com/bitfocus/companion-module-requests/files/5817372/API.Documentation.zip)

[2021-01-15 11:25] johannestraun opened #359 "Support for Bluestream 8x8 4k HDMI 2.0 Matrix (MX88AB)"
Hello github/companion community,
is there a possibility to add support for Bluestream 8x8 4k HDMI 2.0 Matrix (MX88AB)? It has a simple web interface, so i guess it should be possible somehow, but I don't know how to do it and how much work it is for one who knows.

Switching inputs and outputs of the matrix via Streamdeck/Companion would be great! I would like to use buttons like "change Output 1

[2021-01-17 12:48] Videpro commented on #22
Is someone still working on this? I can't find Cuety in the instances.
Let me know if I can do something

[2021-01-17 19:14] jimmyhonderd opened #360 "Novastar taurus"
I would like to have a module to control the novastar taurus mediaplayer! Hope somebody can help!

[2021-01-17 22:42] levimcfall opened #361 "Livestream Studio 6"

[2021-01-17 22:44] McHauge commented on #361
@levimcfall, do you have any information, documentation, description of what you need or anything. The more info the better the chance for a module to be made

[2021-01-17 23:00] levimcfall commented on #361
Sorry...I am not really sure where to find documentation other than the user manual: http://cdn.livestream.com/manuals/Livestream_Studio_User_Manual_5.1.0.pdf

This is a pretty complex piece of software, but really all I want to be able to do is start and stop the stream.

Thanks in advance.

[2021-01-18 03:12] xenonheavyindustries opened #362 "Module Feature Expansion Request: AJA Kumo Router Control Parsing Responses"
The current AJA Kumo plugin uses HTTP GET and does not appear to parse responses for state, or for displaying source or destination names etc. Pasting from prior feature request by @scoobiekw

Describe the feature
Control AJA Routers using the Supported GVG Native Protocol.

Is this platform dependent (windows, mac, ..)?
No

If documentation is required to implement, do you know where to find it?

[2021-01-18 18:36] josephdadams commented on #362
I will transfer this to the Aja Kumo module repository.

[2021-01-18 18:38] josephdadams commented on #361
Duplicates #119 . Sorry, but no API has ever been provided by Livestream/Vimeo, so this hasn't been able to move forward.

[2021-01-18 18:38] #361 closed

[2021-01-18 18:39] josephdadams commented on #360
@jimmyhonderd please provide documentation on how network control of the device can be achieved

[2021-01-18 18:40] josephdadams commented on #353
There's a Birddog Visca module.

https://github.com/bitfocus/companion-module-birddog-visca

Make sure you're using the latest beta version of Companion 2.2.0.

[2021-01-18 18:40] #353 closed

[2021-01-18 18:42] josephdadams commented on #354
@michaelallen how similar is this to the hvs protocol?

[2021-01-18 20:06] josephdadams commented on #323
#354 related

[2021-01-19 15:37] fccnorwalktech opened #363 "Control by Web - WebRelay"
Looking for someone to make a module for these relays.

Documentation appears plentiful on thier site:

User manual https://www.controlbyweb.com/webrelay/webrelay_users_manual.pdf

Protocols, see attached.
[vbhowto-v1.pdf](https://github.com/bitfocus/companion-module-requests/files/5836885/vbhowto-v1.pdf)

https://www.controlbyweb.com/webrelay/downloads.html

I unfortunately do not have a device f

[2021-01-20 03:42] fccnorwalktech commented on #56
I have access to an SQ5 and SQ7 for limited testing if someone is able to produce a module.

[2021-01-20 09:53] K9-Tim opened #364 "Intercom FreeSpeak Clearcom"
Hello together,
I am searching for a possibility to control the clearcom freespeak. I would like to control channels on each role. Even the loudness as well as the behavior.

Many thanks!!

[2021-01-20 09:55] K9-Tim commented on #355
Hey there I'm interested in that topic too. I got a RP150 here, so I'll test it and send you my results. ;)

[2021-01-20 11:09] fraggle69 opened #365 "OBS-WEBSOCKET API UPDATE"
The current instance within companion for OBS is great, but I would like control of more features available in the obs-websocket API please.  Specifically I am after the SetCurrentSceneCollection command, as referenced here.  https://github.com/Palakis/obs-websocket/blob/4.x-current/docs/generated/protocol.md#setcurrentscenecollection

I'll ofcourse be happy to test/validate.

In the meantime, I w

[2021-01-20 11:11] McHauge commented on #355
@k9-tim lovely, would you be able to test the current module, just to see if something happens after all, even while selecting the "wrong" model

[2021-01-20 12:53] fdebeer commented on #355
tested it yesterday with the RP 60. the module for rp 120 / 50 works with this controllers for selecting kamera or groups. probably  it also works for the RP150, as the protocol for selecting kamera's is the same.

but stil, the RP150 has more settings and options than the other controllers, so maybe a seperate module for the RP150?

[2021-01-20 12:56] McHauge commented on #355
I don't think a new module, I feel like adding the support for different models, is the way to go, but currently, I'm working on the PTZ module, I plan on (if I can), reuse as much as possible for this after. since they are very close in the protocol, some of the commands are even identical.

[2021-01-20 13:01] fdebeer commented on #355
It's the RP150 with some new options. like setting a time for a move between presets. other controllers don't have this.

[2021-01-20 13:19] McHauge commented on #355
yes, but this (if possible) would also add feedbacks and variables to the older controllers

[2021-01-20 14:39] fdebeer commented on #355
read your facebookpost. going to test this on monday. Thanks! great work

[2021-01-20 20:00] felixdreinulldrei commented on #83
Hi,
@quentinmit thanks for your great work! I was succesful making it work on my Mac (High Sierra) but unfortunately I was not able to make it work on Linux Ubuntu(18.04). And I'm not able to figure out what the reason is.
I have tried on a real Linux Machine and on VM with same result.
These are the Library Versions which where installed using apt and pip. I was not able to specify a specific ver

[2021-01-20 21:09] quentinmit commented on #83
@felixdreinulldrei  I would guess that's indeed a permissions problem; if you want to run it as root you'll also need to install it as root. (So `sudo python setup.py install` or the like.) If you want to run it as a user on Linux, you'll need to edit your udev configuration to give that user permission to manipulate the device. You could use a udev rule like the following to give any user permiss

[2021-01-20 21:41] Wandry commented on #231
Referencing the APIs
Once the input behavior HTML is placed in the aforementioned file system, the API can be accesed by:

<script type="text/javascript" src="/common/js/qwebchannel.js"></script>
<script type="text/javascript" src="/common/js/servicehandler.js"></script>

qwebchannel.js & servicehandler.js if its help?
[javascripts.zip](https://github.com/bitfocus/companion-module-requests/files/5

[2021-01-21 15:19] the5spot commented on #56
I use an SQ6. I will contribute to the gofundme page. If I could control scene changes or mute groups with companion.... I'd be thrilled. I am also able to help troubleshoot for the person that works on this

[2021-01-21 16:18] aramsdale opened #366 "GoXLR Support"
TC Helicon makes the GoXLR, which is a streamers dream machine for handling inputs, outputs, voice adjustments, etc.

Information about the product is here: https://www.tc-helicon.com/product.html?modelCode=P0CQK

TC Helicon has a Streamdeck plugin which currently allows you to change the profile and routing table, but I don't believe there is a SDK currently, so supporting this or other features

[2021-01-21 16:21] McHauge commented on #366
Feel like the biggest problem with support for the goxlr is the facts taget it doesn't support control over the network. And currently Companion only does control over IP, and for the 1 or 2 things that it controls without. You'll have to have another program as a "USB to IP" converter installed

[2021-01-21 17:20] felixdreinulldrei commented on #83
@quentinmit meanwhile I have tried different ways. Also with udev rules.
I have also tried it with Debain 10.
While both distributions are working fine with the command "decimctl list" .
The command "decimctl status" always outputs.

`Traceback (most recent call last):  `
`  File "bin/decimctl", line 118, in <module>  `
`    main()  `
`  File "bin/decimctl", line 115, in main  `
 `   args.func(arg

[2021-01-22 04:05] reykroona commented on #355
Hi, I stumbled upon this today testing out this module with an AW-RP60 and the new scheduling/trigger feature. Ultimately I'd like to have our ATEM change AUXs to match the camera selected on the RP60.

I found I can create a button in Companion to change the camera selection on the RP60 which works well, however the Camera Number variable doesn't get updated when it's changed on Companion or on t

[2021-01-22 07:21] McHauge commented on #355
@reykroona about the variables in the current version of the module. They are not controlled by feedback from the controller, but instead when you press an action the update to match that button. I might call it worse than no feedback since might misinterpret it as real feedback around what the controller is doing, and giving you a fake sense of confidence.

Also if one of you have the option to s

[2021-01-22 15:02] reykroona commented on #355
Ah I see. Interesting.

I think I could probably bring the controller home and get it on the internet on Sunday and leave it on for the week. Sunday’s we need to use it so I’d have to take it back for the day. But otherwise it’s not doing much. The cameras are mounted so I probably won’t be able to take one of them home.

I think it is just accessed through port 80, that sound right?

[2021-01-22 22:59] josephdadams commented on #365
You won't be able to send generic HTTP to the OBS websockets plugin, you would have to use Generic Websockets to achieve this.

I will transfer this request to the OBS Studio repository.

[2021-01-22 22:59] josephdadams commented on #364
Is there a network API or protocol for this that you can provide?

[2021-01-23 10:30] dszoka commented on #341
Just an idea... Logic can be controller via midi ..

could we use
https://github.com/bitfocus/companion-module-techministry-midirelay

https://support.apple.com/en-au/guide/logicpro/lgcp0155c51f/mac

if I have time over the next couple weeks I might be able to test this

[2021-01-23 10:36] PMark2021 commented on #358
Hallo, im interesting. I need a Camera Switch by Mic Onair Status via Companion, Mairlist and Atem Mini Pro.
Can you do that? Thanks
Bin aus der nähe von Nürnberg :-)

[2021-01-23 11:31] josephdadams commented on #341
Yes. Just be sure to have the midi relay server program running on the Logic computer.